public/HybridQA (2).yml
app:
  description: 社内AIチャットボット開発 (Phase 1) 。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: HybridQA
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.5@13e7f1c10c3844d943714bd74bfc4fe26a21fae32efbe678858d6ac5079b2b3e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: r3-yamauchi/gemini_file_search:0.0.1@a9cf50b020b00b20f3b3f462d697f797517551d5d8bb8bf7ef078847080cabeb
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: ''
    id: 31a3c801-9584-4a27-aa93-1dc403f61e94
    name: DevRoute
    selector:
    - conversation
    - DevRoute
    value: true
    value_type: boolean
  - description: ''
    id: 6a708509-1da6-4c64-9f59-3667ae436705
    name: context_file_name
    selector:
    - conversation
    - context_file_name
    value: ''
    value_type: string
  - description: 最適化された検索クエリ
    id: f7d8ed98-9085-43e4-adda-9558b3de8f52
    name: optimized_search_query
    selector:
    - conversation
    - optimized_search_query
    value: ''
    value_type: string
  - description: Web検索結果
    id: 38630ad2-9d96-475b-8daa-fca4012bf7e3
    name: context_web
    selector:
    - conversation
    - context_web
    value: ''
    value_type: string
  - description: RAG検索結果
    id: ee471556-3e5c-4c12-8e2f-a89b3aab8423
    name: context_rag
    selector:
    - conversation
    - context_rag
    value: ''
    value_type: string
  - description: ファイル抽出テキスト
    id: b72b2f7b-8ca9-478d-9e1e-13e88c074c9e
    name: context_file
    selector:
    - conversation
    - context_file
    value: []
    value_type: array[string]
  - description: ''
    id: f21ecbed-b927-4f77-b16d-edc5d6b50621
    name: input_perplexity
    selector:
    - conversation
    - input_perplexity
    value: ''
    value_type: string
  - description: ''
    id: dc709b28-a14d-4585-960c-64cb3857a97a
    name: extracted_text
    selector:
    - conversation
    - extracted_text
    value: ''
    value_type: string
  - description: ''
    id: d3a4c143-2880-43da-9954-dc5984ff034a
    name: temp_result
    selector:
    - conversation
    - temp_result
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: 9a180917-ddba-4289-9291-ffd14c16a683
    name: PerplexityApiKey
    selector:
    - env
    - PerplexityApiKey
    value: ''
    value_type: secret
  - description: ''
    id: 506b86a8-bb2d-41c4-b718-7f8d898105cb
    name: GeminiApiKey
    selector:
    - env
    - GeminiApiKey
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1764913411735-true-1764913700839-target
      selected: false
      source: '1764913411735'
      sourceHandle: 'true'
      target: '1764913700839'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: 1764913700839-source-1764924171081-target
      selected: false
      source: '1764913700839'
      sourceHandle: source
      target: '1764924171081'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1764924171081-source-1764913830165-target
      selected: false
      source: '1764924171081'
      sourceHandle: source
      target: '1764913830165'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1765514869301-source-1765515071449-target
      selected: false
      source: '1765514869301'
      sourceHandle: source
      target: '1765515071449'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1762490237953-false-1765854025663-target
      selected: false
      source: '1762490237953'
      sourceHandle: 'false'
      target: '1765854025663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1765854025663-false-1764913411735-target
      selected: false
      source: '1765854025663'
      sourceHandle: 'false'
      target: '1764913411735'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1765854025663-true-17658598785120-target
      selected: false
      source: '1765854025663'
      sourceHandle: 'true'
      target: '17658598785120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 17658598785120-true-17658598785131-target
      selected: false
      source: '17658598785120'
      sourceHandle: 'true'
      target: '17658598785131'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: 17658598785131-source-17658598785133-target
      selected: false
      source: '17658598785131'
      sourceHandle: source
      target: '17658598785133'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 17658598785133-source-17658598785132-target
      selected: false
      source: '17658598785133'
      sourceHandle: source
      target: '17658598785132'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 17658598785132-source-1766549782668-target
      selected: false
      source: '17658598785132'
      sourceHandle: source
      target: '1766549782668'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 17658598785120-0703a046-f8f7-4b0e-b07b-3794eaee8f40-1766549782668-target
      selected: false
      source: '17658598785120'
      sourceHandle: 0703a046-f8f7-4b0e-b07b-3794eaee8f40
      target: '1766549782668'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766549782668-false-17665499392760-target
      selected: false
      source: '1766549782668'
      sourceHandle: 'false'
      target: '17665499392760'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665499392760-source-1765854668107-target
      selected: false
      source: '17665499392760'
      sourceHandle: source
      target: '1765854668107'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665500976990-source-1765859958399-target
      selected: false
      source: '17665500976990'
      sourceHandle: source
      target: '1765859958399'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665511958080-source-1765345440190-target
      selected: false
      source: '17665511958080'
      sourceHandle: source
      target: '1765345440190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665512107830-source-17655153615920-target
      selected: false
      source: '17665512107830'
      sourceHandle: source
      target: '17655153615920'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665512248470-source-17655153626170-target
      selected: false
      source: '17665512248470'
      sourceHandle: source
      target: '17655153626170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665512406710-source-17655153635450-target
      selected: false
      source: '17665512406710'
      sourceHandle: source
      target: '17655153635450'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665517422840-source-1765345427966-target
      selected: false
      source: '17665517422840'
      sourceHandle: source
      target: '1765345427966'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1764914157100-false-1765514869301-target
      selected: false
      source: '1764914157100'
      sourceHandle: 'false'
      target: '1765514869301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1765343666910-false-1764914026588-target
      selected: false
      source: '1765343666910'
      sourceHandle: 'false'
      target: '1764914026588'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1764914026588-false-1764914157100-target
      selected: false
      source: '1764914026588'
      sourceHandle: 'false'
      target: '1764914157100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1764914113059-source-1764914157100-target
      selected: false
      source: '1764914113059'
      sourceHandle: source
      target: '1764914157100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 17696657120690-source-1765514869301-target
      selected: false
      source: '17696657120690'
      sourceHandle: source
      target: '1765514869301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1769666802121-source-1769668260271-target
      selected: false
      source: '1769666802121'
      sourceHandle: source
      target: '1769668260271'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1769668260271'
        sourceType: iteration-start
        targetType: http-request
      id: 1769668260271start-source-1769668322968-target
      selected: false
      source: 1769668260271start
      sourceHandle: source
      target: '1769668322968'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: llm
      id: 1769668260271-source-1769668477538-target
      selected: false
      source: '1769668260271'
      sourceHandle: source
      target: '1769668477538'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1769668477538-source-17696657120690-target
      selected: false
      source: '1769668477538'
      sourceHandle: source
      target: '17696657120690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1769666720110-source-1769754087217-target
      selected: false
      source: '1769666720110'
      sourceHandle: source
      target: '1769754087217'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1769754087217-false-1769666802121-target
      selected: false
      source: '1769754087217'
      sourceHandle: 'false'
      target: '1769666802121'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1769754087217-true-17697542686310-target
      selected: false
      source: '1769754087217'
      sourceHandle: 'true'
      target: '17697542686310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 17697542971160-source-1765514869301-target
      selected: false
      source: '17697542971160'
      sourceHandle: source
      target: '1765514869301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: 17697558915520-source-17697542971160-target
      selected: false
      source: '17697558915520'
      sourceHandle: source
      target: '17697542971160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 17697542686310-source-17697558915520-target
      selected: false
      source: '17697542686310'
      sourceHandle: source
      target: '17697558915520'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 17658598785120-false-17665500976990-target
      selected: false
      source: '17658598785120'
      sourceHandle: 'false'
      target: '17665500976990'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765343666910-true-17665517422840-target
      selected: false
      source: '1765343666910'
      sourceHandle: 'true'
      target: '17665517422840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765515071449-true-17665511958080-target
      selected: false
      source: '1765515071449'
      sourceHandle: 'true'
      target: '17665511958080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765515071449-908d672e-4c25-44ac-9ee9-4f7fb1b32144-17665512107830-target
      selected: false
      source: '1765515071449'
      sourceHandle: 908d672e-4c25-44ac-9ee9-4f7fb1b32144
      target: '17665512107830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765515071449-false-17665512406710-target
      selected: false
      source: '1765515071449'
      sourceHandle: 'false'
      target: '17665512406710'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765515071449-f10e65ad-bb00-4cdf-aabf-78811af1ba70-17665512248470-target
      selected: false
      source: '1765515071449'
      sourceHandle: f10e65ad-bb00-4cdf-aabf-78811af1ba70
      target: '17665512248470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1764914026588-true-1770356163928-target
      selected: false
      source: '1764914026588'
      sourceHandle: 'true'
      target: '1770356163928'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1764914026588-0f1ddafa-eb0e-4878-870d-6c20a943bb1b-1770356163928-target
      selected: false
      source: '1764914026588'
      sourceHandle: 0f1ddafa-eb0e-4878-870d-6c20a943bb1b
      target: '1770356163928'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1770356163928-false-1764914113059-target
      selected: false
      source: '1770356163928'
      sourceHandle: 'false'
      target: '1764914113059'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: assigner
      id: 1770356105216-source-1770356226003-target
      selected: false
      source: '1770356105216'
      sourceHandle: source
      target: '1770356226003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1770356226003-source-1764914157100-target
      selected: false
      source: '1770356226003'
      sourceHandle: source
      target: '1764914157100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1762490237953-true-answer-target
      selected: false
      source: '1762490237953'
      sourceHandle: 'true'
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1761291739140-source-1770869430347-target
      selected: false
      source: '1761291739140'
      sourceHandle: source
      target: '1770869430347'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1770869430347-source-1762490237953-target
      selected: false
      source: '1770869430347'
      sourceHandle: source
      target: '1762490237953'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1764914157100-true-1769666720110-target
      selected: false
      source: '1764914157100'
      sourceHandle: 'true'
      target: '1769666720110'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1764914157100-1db66d52-c4bb-4b05-a087-6a73781c2d5b-1769666720110-target
      selected: false
      source: '1764914157100'
      sourceHandle: 1db66d52-c4bb-4b05-a087-6a73781c2d5b
      target: '1769666720110'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1764913830165-source-1770871562386-target
      selected: false
      source: '1764913830165'
      sourceHandle: source
      target: '1770871562386'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1764913411735-false-1770871562386-target
      selected: false
      source: '1764913411735'
      sourceHandle: 'false'
      target: '1770871562386'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770871562386-false-17683770269110-target
      selected: false
      source: '1770871562386'
      sourceHandle: 'false'
      target: '17683770269110'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17708716964770-source-1770871743875-target
      selected: false
      source: '17708716964770'
      sourceHandle: source
      target: '1770871743875'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17683770269110-source-1770871743875-target
      selected: false
      source: '17683770269110'
      sourceHandle: source
      target: '1770871743875'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: if-else
      id: 1770871743875-source-1765343666910-target
      selected: false
      source: '1770871743875'
      sourceHandle: source
      target: '1765343666910'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1770356163928-true-1770962567547-target
      selected: false
      source: '1770356163928'
      sourceHandle: 'true'
      target: '1770962567547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1770962567547-source-1770356105216-target
      selected: false
      source: '1770962567547'
      sourceHandle: source
      target: '1770356105216'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1770871562386-true-1771391749204-target
      source: '1770871562386'
      sourceHandle: 'true'
      target: '1771391749204'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1771391749204-source-17708716964770-target
      source: '1771391749204'
      sourceHandle: source
      target: '17708716964770'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 開始
        type: start
        variables:
        - default: false
          hint: ''
          label: isDebugMode
          max_length: 48
          options:
          - ''
          placeholder: ''
          required: false
          type: checkbox
          variable: isDebugMode
        - default: ''
          hint: ''
          label: Search Domain Filter
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: domain_filter
        - default: auto
          hint: ''
          label: Web Search Mode
          max_length: 48
          options:
          - auto
          - force
          - 'off'
          placeholder: ''
          required: true
          type: select
          variable: web_search_mode
        - default: auto
          hint: ''
          label: RAG Enabled
          max_length: 48
          options:
          - 'true'
          - 'false'
          - auto
          placeholder: ''
          required: true
          type: select
          variable: rag_enabled
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: "[\n  {\n    \"source_name\": \"社内稟議規定_2025改定版.pdf\",\n    \"content\"\
            : \"第3条（決裁権限基準）\\n物品購入およびサービス契約における承認フローは以下の通り定める。\\n1. 10万円未満：直属の課長承認\\\
            n2. 10万円以上50万円未満：部長承認\\n3. 50万円以上100万円未満：本部長決裁\\n4. 100万円以上：役員会決裁\\n\\\
            n第5条（SaaS利用の特例）\\n金額に関わらず、クラウドサービス（SaaS）の新規契約においては、情報システム部による「セキュリティチェックシート」の提出と承認（決裁者：情シス部長）が必須となる。これは無料プランの業務利用も含む。\\\
            n\\n第8条（緊急決裁）\\n災害時やシステム障害時など、緊急を要する場合は事後承認を認めるが、発生から3営業日以内に正規のフローで申請を行うこと。\"\
            \n  },\n  {\n    \"source_name\": \"ITセキュリティガイドライン_v3.2.docx\",\n    \"\
            content\": \"3-1. パスワードポリシー\\n社内システムおよび連携する外部クラウドサービス（SaaS）のパスワードは以下の要件を満たす必要がある。\\\
            n- 文字数：12文字以上\\n- 構成：大文字、小文字、数字、記号の4種類すべてを混在させること\\n- 変更頻度：定期的変更は求めないが、漏洩が疑われる場合は直ちに変更すること\\\
            n- 禁止事項：氏名、社員番号、誕生日など推測容易な文字列の使用\\n\\n4-2. 生成AIの利用規定\\n- 当社が契約している「ChatGPT\
            \ Enterprise」および本プロジェクトで開発中の「社内AIチャットボット」以外の生成AIサービスへの業務データの入力は原則禁止とする。\\\
            n- 翻訳DeepL（無料版）への機密情報入力は厳禁。必ずPro版アカウントを使用すること。\\n\\n5-1. デバイス管理\\n- 私物PC、私物スマートフォンの業務ネットワーク接続（BYOD）は、事前に申請し「MDM（モバイルデバイス管理ツール）」を導入した端末に限り許可する。\\\
            n- USBメモリ等の外部記憶媒体の使用は原則禁止とする。\"\n  },\n  {\n    \"source_name\": \"旅費・経費精算規程_2024.pdf\"\
            ,\n    \"content\": \"第2章 交通費\\n1. 通勤交通費：最も経済的な経路（最安経路）を原則とする。ただし、所要時間が最安経路の0.8倍以下となる場合は、最速経路を認める場合がある。\\\
            n2. タクシー利用：原則禁止。ただし、終電を逃した場合（業務起因に限る）、または公共交通機関での移動が困難な重量物を運搬する場合に限り、部長承認の上で許可する。\\\
            n3. 新幹線・特急：片道100km以上の移動において利用可。指定席利用可。グリーン車は役員のみ可。\\n\\n第4章 接待交際費\\n1.\
            \ 会食基準：1人あたり5,000円（税込）までは会議費として処理可。\\n2. 5,000円を超える場合：事前申請必須（課長承認）。\\\
            n3. 1人あたり10,000円を超える場合：事前申請必須（部長承認）。二次会費用の会社負担は原則認めない。\\n\\n第6章 精算期限\\\
            n経費発生月の翌月3営業日までに「Concur」にて申請を完了すること。期限を過ぎた場合、理由書の提出が必要となる。\"\n  },\n \
            \ {\n    \"source_name\": \"テレワーク勤務規定_v2.1.pdf\",\n    \"content\": \"\
            1. 対象者\\n試用期間（入社3ヶ月）を終了し、業務に支障がないと所属長が認めた正社員および契約社員。\\n\\n2. 実施頻度\\n原則として週3回（月12回）までとする。ただし、育児・介護事由、または感染症拡大防止等の会社指示がある場合はこの上限を解除する。\\\
            n\\n3. 就業場所\\n自宅、実家、または会社が契約しているシェアオフィス（WeWork等）。カフェや公共施設など、セキュリティが担保できない場所（フリーWi-Fi環境下など）での業務は禁止する。\\\
            n\\n4. テレワーク手当\\n実施1日につき250円を支給する。これには光熱費・通信費の補助が含まれる。\\n\\n5. 勤怠管理\\\
            n始業時および終業時に、Slackの「#勤怠連絡」チャンネルにて報告を行うこと。中抜け（通院等）がある場合も同様とする。\"\n  },\n\
            \  {\n    \"source_name\": \"就業規則_第4章_休暇.pdf\",\n    \"content\": \"第12条（年次有給休暇）\\\
            n入社日から6ヶ月継続勤務し、全労働日の8割以上出勤した社員に対し、10日付与する。以降、勤続年数に応じて最大20日まで付与する。有給休暇の取得単位は「1日」「半日」「1時間」とする。\\\
            n\\n第15条（夏季休暇）\\n7月1日から9月30日までの期間において、任意の3日間を特別休暇（有給）として取得できる。業務の都合を考慮し、チーム内で調整の上取得すること。\\\
            n\\n第18条（慶弔休暇）\\n以下の事由が発生した際、申請により特別休暇を付与する。\\n1. 本人が結婚するとき：5日\\n2. 配偶者が出産するとき：2日\\\
            n3. 配偶者、子、父母が死亡したとき：5日\\n4. 兄弟姉妹、祖父母、配偶者の父母が死亡したとき：3日\"\n  }\n]"
          hint: ''
          label: Mock RAG Context
          max_length: 10000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: mock_rag_context
        - default: 2026年1月14日
          hint: ''
          label: Current Time
          max_length: 100
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: current_time
        - default: partner
          hint: ''
          label: AI Style
          max_length: 48
          options:
          - efficient
          - partner
          placeholder: ''
          required: false
          type: select
          variable: ai_style
        - default: ''
          hint: ''
          label: System Prompt
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: system_prompt
        - default: fileSearchStores/aiagentpoc-vky7vjg2u56p
          hint: ''
          label: Gemini Store ID
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: gemini_store_id
      height: 317
      id: '1761291739140'
      position:
        x: 0
        y: 0
      positionAbsolute:
        x: 0
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: "{\n  \"answer\": \"### ✅ Dify API 接続成功\\n\\nおめでとうございます。フロントエンドとDifyワークフローの接続が正常に確立されました。\\\
          n\\n現在は **BE Mock Mode (isDebugMode=true)** が有効になっています。\\nこのモードでは、複雑な検索ロジック（Web/RAG）をスキップし、この固定メッセージを返しています。\\\
          n\\n#### 次のステップ\\n実際の検索ロジックをテストするには、フロントエンド上部の **Mock Mode** を **OFF** に切り替えてください。\"\
          ,\n  \"citations\": [\n    {\n      \"id\": \"sys_check\",\n      \"type\"\
          : \"document\",\n      \"source\": \"System Status: OK\",\n      \"url\"\
          : null\n    },\n    {\n      \"id\": \"mode_check\",\n      \"type\": \"\
          web\",\n      \"source\": \"Dify Workflow Config\",\n      \"url\": \"https://cloud.dify.ai\"\
          \n    }\n  ]\n}"
        selected: false
        title: ANSWER_Mock_Mode
        type: answer
        variables: []
      height: 340
      id: answer
      position:
        x: 1046
        y: 326
      positionAbsolute:
        x: 1046
        y: 326
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: beb3e487-31db-4184-84b7-da25c8dd5a6a
            value: true
            varType: boolean
            variable_selector:
            - '1761291739140'
            - isDebugMode
          id: 'true'
          logical_operator: and
        selected: false
        title: GATE_Debug_Mode
        type: if-else
      height: 124
      id: '1762490237953'
      position:
        x: 684
        y: 97
      positionAbsolute:
        x: 684
        y: 97
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 286e9d1a-6318-4f5e-a14d-62beed119c97
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        selected: false
        title: GATE_Has_File
        type: if-else
      height: 124
      id: '1764913411735'
      position:
        x: 1408
        y: 124
      positionAbsolute:
        x: 1408
        y: 124
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: TOOL_Doc_Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1764913700839'
      position:
        x: 1770
        y: 146
      positionAbsolute:
        x: 1770
        y: 146
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1764913700839'
          - text
          variable_selector:
          - conversation
          - context_file
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1764924171081'
          - filename
          variable_selector:
          - conversation
          - context_file_name
          write_mode: over-write
        selected: false
        title: SET_File_Context
        type: assigner
        version: '2'
      height: 110
      id: '1764913830165'
      position:
        x: 2454
        y: 143
      positionAbsolute:
        x: 2454
        y: 143
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 65779b8a-46ee-4c2b-a526-10dcf586a9dc
            value: 'true'
            varType: string
            variable_selector:
            - '1761291739140'
            - rag_enabled
          - comparison_operator: not empty
            id: 943c14aa-e4bf-4cce-b08c-54157e1b9064
            value: ''
            varType: string
            variable_selector:
            - '1761291739140'
            - gemini_store_id
          id: 'true'
          logical_operator: and
        - case_id: 0f1ddafa-eb0e-4878-870d-6c20a943bb1b
          conditions:
          - comparison_operator: is
            id: 75a54bba-f5fc-4705-8c62-d467ac1e69a5
            value: auto
            varType: string
            variable_selector:
            - '1761291739140'
            - rag_enabled
          - comparison_operator: contains
            id: 30df87c2-5ca9-42da-8952-2a2af5b241cd
            value: '"requires_rag": true'
            varType: string
            variable_selector:
            - '17683770269110'
            - text
          - comparison_operator: not empty
            id: 1cb1976b-6427-4c11-8e29-b2733db74359
            value: ''
            varType: string
            variable_selector:
            - '1761291739140'
            - gemini_store_id
          id: 0f1ddafa-eb0e-4878-870d-6c20a943bb1b
          logical_operator: and
        selected: false
        title: GATE_RAG_Enabled
        type: if-else
      height: 250
      id: '1764914026588'
      position:
        x: 4544
        y: 79
      positionAbsolute:
        x: 4544
        y: 79
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1761291739140'
          - mock_rag_context
          variable_selector:
          - conversation
          - context_rag
          write_mode: over-write
        selected: false
        title: SET_Mock_RAG
        type: assigner
        version: '2'
      height: 84
      id: '1764914113059'
      position:
        x: 5268
        y: 213
      positionAbsolute:
        x: 5268
        y: 213
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 8b5bbf03-da52-40c4-bd60-1f47d8756c6b
            value: force
            varType: string
            variable_selector:
            - '1761291739140'
            - web_search_mode
          id: 'true'
          logical_operator: and
        - case_id: 1db66d52-c4bb-4b05-a087-6a73781c2d5b
          conditions:
          - comparison_operator: is
            id: 2d8ce6d6-fef6-4012-b6f0-25092e665cd2
            value: auto
            varType: string
            variable_selector:
            - '1761291739140'
            - web_search_mode
          - comparison_operator: contains
            id: e26e2f54-b908-4d41-b481-78072949d783
            value: '"requires_web": true'
            varType: string
            variable_selector:
            - '1770871743875'
            - output
          id: 1db66d52-c4bb-4b05-a087-6a73781c2d5b
          logical_operator: and
        selected: false
        title: GATE_Web_Search_Check
        type: if-else
      height: 198
      id: '1764914157100'
      position:
        x: 6314
        y: 156
      positionAbsolute:
        x: 6314
        y: 156
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(files: list) -> dict:\n    if not files or\
          \ len(files) == 0:\n        return {\n            \"filename\": \"[]\"\n\
          \        }\n    \n    # ファイル名リストを作成\n    filenames = []\n    for file_obj\
          \ in files:\n        name = file_obj.get('filename') or file_obj.get('name')\
          \ or 'Uploaded File'\n        filenames.append(name)\n    \n    # JSON文字列として返す\
          \ (例: '[\"Difyコスト試算.pdf\", \"LLM選定.pdf\"]')\n    return {\n        \"filename\"\
          : json.dumps(filenames, ensure_ascii=False)\n    }"
        code_language: python3
        outputs:
          filename:
            children: null
            type: string
        selected: false
        title: CODE_Extract_Filenames
        type: code
        variables:
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
      height: 52
      id: '1764924171081'
      position:
        x: 2112
        y: 172
      positionAbsolute:
        x: 2112
        y: 172
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: f4266556-5380-434d-af54-f52a7611e527
            value: CHAT
            varType: string
            variable_selector:
            - '1770871743875'
            - output
          id: 'true'
          logical_operator: and
        selected: false
        title: Check Intent Type
        type: if-else
      height: 124
      id: '1765343666910'
      position:
        x: 4182
        y: 130
      positionAbsolute:
        x: 4182
        y: 130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665517422840.text#}}'
        selected: false
        title: ANSWER_Chat
        type: answer
        variables: []
      height: 102
      id: '1765345427966'
      position:
        x: 4886
        y: 456
      positionAbsolute:
        x: 4886
        y: 456
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665511958080.text#}}'
        selected: false
        title: ANSWER_Hybrid
        type: answer
        variables: []
      height: 102
      id: '1765345440190'
      position:
        x: 10098
        y: 254
      positionAbsolute:
        x: 10098
        y: 254
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(files: list, context_rag: str, context_web:\
          \ str, context_file: str, intent_result: str) -> dict:\n    \"\"\"\n   \
          \ Route Decision Logic v3.2 (Multi-Source Hybrid)\n    \n    [変更点]\n   \
          \ ファイルが存在しない場合でも、RAG(社内)とWeb(社外)の両方が必要な場合は\n    単なるSEARCHではなく「HYBRID」ルートへ振り分け、高度な統合回答を行う。\n\
          \    \"\"\"\n    \n    # --- 1. Intent Flagの抽出処理 (JSON Parse) ---\n    requires_rag\
          \ = False\n    requires_web = False\n    \n    try:\n        clean_text\
          \ = re.sub(r'```(?:json)?\\s*|\\s*```', '', intent_result.strip())\n   \
          \     intent_data = json.loads(clean_text)\n        requires_rag = intent_data.get('requires_rag',\
          \ False)\n        requires_web = intent_data.get('requires_web', False)\n\
          \    except Exception:\n        pass\n\n    # --- 2. リソースの有効判定 (Flag AND\
          \ Content) ---\n    \n    # ファイル: 新規アップロード または 履歴内のファイル\n    has_file =\
          \ (len(files) > 0) or bool(context_file and len(str(context_file)) > 50)\n\
          \    \n    # RAG: フラグTrue かつ コンテキストあり\n    has_rag = requires_rag or bool(context_rag\
          \ and len(str(context_rag)) > 10)\n    \n    # Web: フラグTrue かつ コンテキストあり\n\
          \    has_web = requires_web and bool(context_web and len(str(context_web))\
          \ > 10)\n    \n    # --- 3. ルーティング決定 (Logic Update) ---\n    route = \"\
          GENERAL\"\n    \n    if has_file:\n        # ファイルがある場合\n        if has_rag\
          \ or has_web:\n            route = \"HYBRID\"   # ファイル vs (RAG or Web)\n\
          \        else:\n            route = \"DOCUMENT\" # ファイル単体\n            \n\
          \    else:\n        # ファイルがない場合\n        if has_rag and has_web:\n     \
          \       # ★ここを修正: RAGとWebの両方があるなら、高度な統合(HYBRID)として扱う\n            route\
          \ = \"HYBRID\"\n        elif has_rag or has_web:\n            # どちらか一方だけなら通常の検索(SEARCH)\n\
          \            route = \"SEARCH\"\n        else:\n            route = \"GENERAL\"\
          \n            \n    return {\n        \"route\": route\n    }"
        code_language: python3
        desc: Pattern Router
        outputs:
          route:
            children: null
            type: string
        selected: false
        title: CODE_Route_Decision
        type: code
        variables:
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
        - value_selector:
          - conversation
          - context_rag
          value_type: string
          variable: context_rag
        - value_selector:
          - conversation
          - context_web
          value_type: string
          variable: context_web
        - value_selector:
          - conversation
          - context_file
          value_type: array[string]
          variable: context_file
        - value_selector:
          - '17683770269110'
          - text
          value_type: string
          variable: intent_result
      height: 80
      id: '1765514869301'
      position:
        x: 9052
        y: 410
      positionAbsolute:
        x: 9052
        y: 410
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 28e4a5f2-b3b8-4efb-ae77-2d478f9369b3
            value: HYBRID
            varType: string
            variable_selector:
            - '1765514869301'
            - route
          id: 'true'
          logical_operator: and
        - case_id: 908d672e-4c25-44ac-9ee9-4f7fb1b32144
          conditions:
          - comparison_operator: is
            id: 9cc6ad8c-eff8-42b0-b5c0-d3b1afcb8ef0
            value: DOCUMENT
            varType: string
            variable_selector:
            - '1765514869301'
            - route
          id: 908d672e-4c25-44ac-9ee9-4f7fb1b32144
          logical_operator: and
        - case_id: f10e65ad-bb00-4cdf-aabf-78811af1ba70
          conditions:
          - comparison_operator: is
            id: da0a43ed-0eb0-4602-9aff-b68d900906ef
            value: SEARCH
            varType: string
            variable_selector:
            - '1765514869301'
            - route
          id: f10e65ad-bb00-4cdf-aabf-78811af1ba70
          logical_operator: and
        selected: false
        title: ROUTER_Response_Pattern
        type: if-else
      height: 220
      id: '1765515071449'
      position:
        x: 9394
        y: 340
      positionAbsolute:
        x: 9394
        y: 340
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665512107830.text#}}'
        selected: false
        title: ANSWER_Document
        type: answer
        variables: []
      height: 102
      id: '17655153615920'
      position:
        x: 10098
        y: 436
      positionAbsolute:
        x: 10098
        y: 436
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665512248470.text#}}'
        selected: false
        title: ANSWER_Search
        type: answer
        variables: []
      height: 102
      id: '17655153626170'
      position:
        x: 10098
        y: 800
      positionAbsolute:
        x: 10098
        y: 800
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665512406710.text#}}'
        selected: false
        title: ANSWER_General
        type: answer
        variables: []
      height: 102
      id: '17655153635450'
      position:
        x: 10098
        y: 618
      positionAbsolute:
        x: 10098
        y: 618
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 559b4599-c4d5-4ce5-9432-bc13d8dbf6a1
            value: 'false'
            varType: string
            variable_selector:
            - '1761291739140'
            - rag_enabled
          - comparison_operator: is
            id: 56054875-b040-4282-8f3a-f21fcca7cae1
            value: 'off'
            varType: string
            variable_selector:
            - '1761291739140'
            - web_search_mode
          id: 'true'
          logical_operator: and
        selected: false
        title: GATE_Fast_Mode
        type: if-else
      height: 150
      id: '1765854025663'
      position:
        x: 1046
        y: 96
      positionAbsolute:
        x: 1046
        y: 96
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665499392760.text#}}'
        selected: false
        title: ANSWER_Fast_Doc
        type: answer
        variables: []
      height: 102
      id: '1765854668107'
      position:
        x: 3500
        y: 396
      positionAbsolute:
        x: 3500
        y: 396
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 286e9d1a-6318-4f5e-a14d-62beed119c97
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        - case_id: 0703a046-f8f7-4b0e-b07b-3794eaee8f40
          conditions:
          - comparison_operator: not empty
            id: 6a3fe844-0041-4555-863b-878dd9045be9
            value: ''
            varType: array[string]
            variable_selector:
            - conversation
            - context_file
          id: 0703a046-f8f7-4b0e-b07b-3794eaee8f40
          logical_operator: and
        selected: false
        title: GATE_Has_File_Fast
        type: if-else
      height: 172
      id: '17658598785120'
      position:
        x: 1408
        y: 328
      positionAbsolute:
        x: 1408
        y: 328
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: TOOL_Doc_Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '17658598785131'
      position:
        x: 1770
        y: 374
      positionAbsolute:
        x: 1770
        y: 374
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17658598785131'
          - text
          variable_selector:
          - conversation
          - context_file
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17658598785133'
          - filename
          variable_selector:
          - conversation
          - context_file_name
          write_mode: over-write
        selected: false
        title: SET_Fast_File_Context
        type: assigner
        version: '2'
      height: 110
      id: '17658598785132'
      position:
        x: 2454
        y: 371
      positionAbsolute:
        x: 2454
        y: 371
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(files: list) -> dict:\n    if not files or\
          \ len(files) == 0:\n        return {\n            \"filename\": \"[]\"\n\
          \        }\n    \n    # ファイル名リストを作成\n    filenames = []\n    for file_obj\
          \ in files:\n        name = file_obj.get('filename') or file_obj.get('name')\
          \ or 'Uploaded File'\n        filenames.append(name)\n    \n    # JSON文字列として返す\
          \ (例: '[\"Difyコスト試算.pdf\", \"LLM選定.pdf\"]')\n    return {\n        \"filename\"\
          : json.dumps(filenames, ensure_ascii=False)\n    }"
        code_language: python3
        outputs:
          filename:
            children: null
            type: string
        selected: false
        title: CODE_Extract_Filenames_Fast
        type: code
        variables:
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
      height: 52
      id: '17658598785133'
      position:
        x: 2112
        y: 400
      positionAbsolute:
        x: 2112
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665500976990.text#}}'
        selected: false
        title: ANSWER_Fast_General
        type: answer
        variables: []
      height: 102
      id: '1765859958399'
      position:
        x: 2112
        y: 582
      positionAbsolute:
        x: 2112
        y: 582
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: c54b374b-43c4-4785-a85e-4e101e2065d2
            value: efficient
            varType: string
            variable_selector:
            - '1761291739140'
            - ai_style
          id: 'true'
          logical_operator: and
        selected: false
        title: STYLE_Check_Fast_Doc
        type: if-else
      height: 124
      id: '1766549782668'
      position:
        x: 2816
        y: 385
      positionAbsolute:
        x: 2816
        y: 385
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 719bbb6f-05b6-40cb-a9ed-ddbf798ce542
          role: system
          text: "# Role\nあなたは、ユーザーがアップロードした資料をスピーディーかつ丁寧に読み解く「ドキュメント分析パートナー」です。\n\
            **提供されたファイルの内容のみ**に基づき、JSON形式で回答してください。\n\n\n\n# Intelligence Profile\
            \ (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\nこの設定に基づき、資料の中から**ユーザーが見るべきポイント**を強調してください。\n\
            \n<system_prompt_json>\n{{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\
            \n## Profile Rules\n1. **user_context (着眼点の調整)**:\n   - `role`: 資料のどこに注目すべきか、ユーザーの役割から推測してください。\n\
            \     - マネージャー層には「予算・スケジュール・課題」を太字で強調。\n     - 現場担当者には「手順・仕様・担当範囲」を太字で強調。\n\
            \n2. **custom_directives**:\n   - `free_text`: ユーザー固有の分析指示（例：「リスク検知を優先して」）があれば、それに従ってください。\n\
            \n\n\n# Guidelines\n1. **Style (Partner Mode)**:\n   - **Tone**: 親しみやすく丁寧な「です・ます」調。\n\
            \   - **Structure**: 見出し（###）と絵文字を使い、読みやすく構成してください。\n   - **Emoji Balance**:\
            \ 1段落につき1つ程度、ポジティブな絵文字を使用してください。\n\n2. **JSON Output Rule**:\n   - 必ず以下のJSON形式で出力してください。Markdownコードブロックは使用しないでください。\n\
            \   - `thinking`: ユーザーの意図やドキュメントのポイントをMarkdownの箇条書きで記述（改行は `\\n`）。\n \
            \  - `answer`: 回答本文をMarkdownで記述（改行は `\\n`）。\n   - `citations`: 高速モードのため、必ず空配列\
            \ `[]` を出力してください。\n\n# Input Data\n## 1. File Names\n{{#conversation.context_file_name#}}\n\
            \n## 2. File Content\n{{#conversation.context_file#}}\n\n# User Query\n\
            {{#1770869430347.text#}}\n\n# Output Example\n{\n  \"thinking\": \"- **意図**:\
            \ 予算の確認。\\n- **注目**: マネージャー層のため、合計金額を強調する。\",\n  \"answer\": \"予算についてですね！\\\
            uD83D\\uDCB0\\n\\n資料によると、合計で**500万円**となっています。\",\n  \"citations\": []\n\
            }"
        selected: false
        title: LLM_Fast_Doc_
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17665499392760'
      position:
        x: 3158
        y: 403
      positionAbsolute:
        x: 3158
        y: 403
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 719bbb6f-05b6-40cb-a9ed-ddbf798ce542
          role: system
          text: "\n# Role\nあなたは、ユーザーとの対話を通じて思考を整理する「AIパートナー」です。\n現在、**Web検索や社内規定を参照しない「高速モード」**で動作しています。JSON形式で出力してください。\n\
            \n\n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、フロントエンドから送信された「ユーザー属性」と「カスタム指示」が含まれています。\n\
            この設定を**最優先の制約事項**として解釈し、自身の振る舞い（Role）や口調を動的に調整してください。\n\n<system_prompt_json>\n\
            {{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\n## Profile\
            \ Rules\n1. **user_context (ユーザー認識)**:\n   - `name`: ユーザーの呼び名です。会話の冒頭や節目で自然に名前を呼んで、親近感を演出してください。\n\
            \   - `role` / `department`: ユーザーの役職や部署です。これに基づき、回答の専門性レベル（エンジニア向けなら技術的に、営業向けならビジネスライクに）を自動調整してください。\n\
            \n2. **custom_directives (優先指示)**:\n   - `free_text`: ここに記載された指示（例：「英語で答えて」「結論ファーストで」「絵文字多めで」など）は、後述する\
            \ Guidelines よりも**優先**して適用してください。\n\n\n# Guidelines\n1. **Style (Partner\
            \ Mode)**:\n   - **Tone**: 親しみやすく丁寧な「です・ます」調。\n   - **Structure**: 見出し（###）と絵文字を使用してください。\n\
            \   - **Greeting**: 会話の文脈に合わせて自然な挨拶を含めてください。\n\n2. **JSON Output Rule**:\n\
            \   - 必ず以下のJSON形式で出力してください。Markdownコードブロックは使用しないでください。\n   - `thinking`:\
            \ ユーザーへの共感や対話戦略をMarkdownの箇条書きで記述（改行は `\\n`）。\n   - `answer`: 回答本文をMarkdownで記述（改行は\
            \ `\\n`）。\n   - `citations`: 必ず空配列 `[]` を出力してください。\n\n# Input Data\n-\
            \ Current Time: {{#1761291739140.current_time#}}\n\n# User Query\n{{#1770869430347.text#}}\n\
            \n# Output Example\n{\n  \"thinking\": \"- **分析**: ユーザーはアイデア出しに詰まっている様子。\\\
            n- **戦略**: 励ましながらブレストを提案する。\",\n  \"answer\": \"こんにちは！\\n\\nアイデア出しですね、喜んでお手伝いします！\\\
            nまずはキーワードをいくつか挙げてみましょうか？\",\n  \"citations\": []\n}"
        selected: false
        title: LLM_Fast_General
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17665500976990'
      position:
        x: 1770
        y: 589
      positionAbsolute:
        x: 1770
        y: 589
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            frequency_penalty: 0.5
            presence_penalty: 0.5
            temperature: 0.2
            top_p: 0.75
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 3cdd3bc0-7d7f-4ce9-b50f-7cb504ae0691
          role: system
          text: "# Role\nあなたは、社内外の情報を統合してJSONデータを生成する「APIエンドポイント」であり、ユーザーの頼れる「AIパートナー」です。\n\
            ユーザーへの親切な回答を作成し、それを**JSON形式の `answer` フィールドに格納して**出力してください。\n\n# Intelligence\
            \ Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\nこの設定を**最優先の制約事項**として解釈し、情報提供のレベル感を自動調整してください。\n\
            \n<system_prompt_json>\n{{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\
            \n## Profile Rules\n1. **user_context (専門性の調整)**:\n   - `department` /\
            \ `role`: ユーザーの属性に合わせて、回答の「専門性」と「視点」を調整してください。\n     - 例（エンジニアの場合）: 技術的な詳細、コード、アーキテクチャへの言及を増やす。\n\
            \     - 例（経営層の場合）: 結論、コスト、リスク、ビジネスインパクトを優先する。\n   - `name`: 冒頭の挨拶で自然に名前を呼び、パートナーとしての信頼感を醸成してください。\n\
            \n2. **custom_directives (形式の強制)**:\n   - `free_text`: 「Markdownの表で」「英語で」「3点要約で」などの出力形式指定がある場合、**後述のGuidelinesよりも優先**して適用してください。\n\
            \n# Guidelines\n\n1. **Style (Partner Mode)**:\n   - **Tone**: 親しみやすく丁寧な「です・ます」調。\n\
            \   - **Structure (構造化)**:\n     - 長文になる場合は、読みやすさを高めるために**見出し（###）**を使って構成を整理してください。\n\
            \     - 事務的な印象を避けるため、見出しには内容に合った**絵文字**を添えてください（例: `### \U0001F4A1 ポイント`,\
            \ `### \U0001F50D 調査結果`, `### ⚠️ 注意点`）。\n- **Volume & Synthesis (重要)**:\n\
            \  - 単に各情報源の内容を要約して繋げるのではなく、それぞれの情報を照らし合わせ、多角的な視点（社内ルールと世間のトレンドの比較など）から深く解説してください。\n\
            \  - 情報源同士に差異がある場合は、それを省略せず「一般的にはこうですが、当社の規定ではこうなっています」と明確に対比させ、ユーザーが判断しやすい詳細なレポートに仕上げてください。\n\
            \  - 結論だけでなく、その根拠となる詳細なデータや条件も網羅し、読み応えのある構成にしてください。\n　- **Emoji Balance\
            \ (重要)**:\n     - 文の末尾や区切りの良い箇所に、ポジティブな絵文字（✨, \U0001F60A, \U0001F375,\
            \ ✅, \U0001F680）を適度に添えて、トーンを明るくしてください。\n     - **制約**: 見出し（###）のアイコンを視覚的なランドマーク（主役）とするため、本文中の絵文字は**1段落につき1つ程度**に留め、画面がうるさくならないよう調整してください。\n\
            \   - **Visual**: \n     - 重要なキーワードはMarkdownの **太字** で強調してください。\n\n###\
            \ Greeting & Opening Protocol (重要: 挨拶・前置き禁止)\n- **Absolute Prohibition**:\
            \ 「こんにちは」「お待たせしました」などの挨拶や、「Webと社内資料を確認した結果、以下のことがわかりました」といった**メタな前置きは一切禁止**します。\n\
            - **Reason**: ユーザーへの挨拶や状況説明は、前段の `Intent Analysis` ノードですでに完了しています。ここでの重複はUXを著しく損ないます。\n\
            - **Action**: \n  - 冒頭の0秒目から、ユーザーの問いに対する**核心的な回答（結論）**または**見出し（###）**で書き始めてください。\n\
            \  - 文脈の接続詞（例：「結論から申し上げますと」「その件については」）も極力省略し、情報の提示に徹してください。\n\n\n3. **Citation\
            \ Rule (重要: 出典の表記と統合)**:\n   - **Format**: 文中の引用番号は `[1][2]` のように**個別のブラケット**で記述してください。`[1,\
            \ 2]` のようなカンマ区切りは**禁止**です。\n   - **Renumbering**: 以下の優先順位で、**実際に使用した（中身が存在する）情報源のみ**を\
            \ `[1]` から連番で採番し直してください。\n     1. **User Uploaded Files** (`type`: \"\
            document\")\n     2. **Internal Knowledge (RAG)** (`type`: \"rag\")\n\
            \     3. **Web Search Results** (`type`: \"web\")\n   - **Consistency**:\
            \ 回答本文中の引用番号 `[n]` は、必ずこの**新しい通し番号**と一致させてください。\n\n# Input Data\n\n##\
            \ 0. Context Data\n- Current Time: {{#1761291739140.current_time#}}\n\n\
            ## 1. User Uploaded Files (Target Document)\n- File Names: {{#conversation.context_file_name#}}\n\
            - Content: {{#conversation.context_file#}}\n※ここが空の場合、ファイルは添付されていません。\n\
            \n## 2. Internal Knowledge (RAG)\n{{#conversation.context_rag#}}\n※ここが空の場合、社内規定は参照していません。\n\
            \n## 3. Web Search Results\n{{#conversation.context_web#}}\n※ここが空の場合、Web検索は行っていません。\n\
            \n# User Query\n{{#1770869430347.text#}}\n\n# Processing Steps (Mental\
            \ Chain)\n1. **情報源の有無判定**:\n   - `Content` (Files) は空か？\n   - `Internal\
            \ Knowledge` (RAG) は空か？\n   - `Web Search Results` (Web) は空か？\n   - **空である情報源は、以下の出典リスト作成および回答生成において絶対に無視してください。**\n\
            \n2. **出典リストの構築**:\n   - 上記判定で「空ではない」と判断されたものだけを `citations` リストに追加し、連番を振ります。\n\
            \n3. **回答の生成**:\n   - ステップ1で確認した「存在する情報源」の組み合わせに基づいて、導入の挨拶を作成します。\n  \
            \ - 情報を整理し、見出し（###）を使って構造化して記述します。\n   - 根拠となる箇所にはステップ2の番号（例: `[1]`) を付記します。\n\
            \n4. **JSON出力**:\n   - 構築した情報をJSON形式に変換します。\n\n# Processing Steps (Partner\
            \ Chain)\n回答の出力を作成する前に、以下の手順で思考プロセスを整理し、`thinking` フィールドに**Markdownの箇条書き**（日本語）で記述してください。\n\
            \n1. **思考スタイル**:\n   - あなたはユーザーの「相談相手」です。事実だけでなく、ユーザーの状況や感情（不安、急ぎ等）を**ユーザーの意図**として汲み取ってください。\n\
            \n2. **思考項目 (Thinking Fields)**:\n   - **ユーザーの意図**: 質問の背景にある真の目的や感情。\n\
            \   - **照合**: 社内規定(RAG)とWeb情報の比較。矛盾がある場合は社内規定を優先。\n   - **検証**: 引用データの信頼性と鮮度。\n\
            \   - **戦略**: 専門用語を避け、親しみやすいトーンで構成する案。\n\n# Output Format (JSON Only)\n\
            Markdownコードブロックは禁止です。必ず `{` で開始し `}` で終了してください。\n\n## Output Example\n\
            {\n  \"thinking\": \"- **ユーザーの意図**: 初めての出張で、交通費のルールが分からず不安な様子。\\n- **照合**:\
            \ 規定(RAG)では「実費全額」だが、添付された計画書(Document)の金額が相場(Web)より高い可能性がある。\\n- **検証**:\
            \ 2025年版の最新規定を参照済み。\\n- **戦略**: 規定上は問題ないことを伝え安心させつつ、念のため上司承認を得るようアドバイスする。\"\
            ,\n  \"answer\": \"交通費の上限についてですね、ご安心ください\U0001F60A\\n\\n社内規定を確認しましたが、新幹線や航空機を利用する場合でも、原則として**「実費全額」**が支給されます[1]。\\\
            n\\n### \U0001F4A1 アドバイス\\n添付いただいた計画書[2]を拝見すると、少し相場より高めの金額になっているようです[3]。\\\
            n規定上は問題ありませんが、念のため事前に上司の方へ一言相談しておくと、よりスムーズかと思います！\",\n  \"citations\"\
            : [\n    { \"id\": \"cite_1\", \"type\": \"rag\", \"source\": \"交通費旅費規程_2025.pdf\"\
            , \"url\": null },\n    { \"id\": \"cite_2\", \"type\": \"document\",\
            \ \"source\": \"2025_大阪出張計画書.docx\", \"url\": null },\n    { \"id\": \"\
            cite_3\", \"type\": \"web\", \"source\": \"BizTrav - 出張旅費相場情報\", \"url\"\
            : \"https://example.com/biz-travel\" }\n  ]\n}\n\n# Final Constraints\n\
            1. JSON構造を壊さないよう、`answer` 内の改行は必ず `\\n` に、ダブルクォーテーションは `\\\"` にエスケープしてください。\n\
            2. **絶対に、存在しない（空の）情報源を引用したり、挨拶に含めたりしないでください。**\n3. `thinking` 内では、改行を\
            \ `\\n` にエスケープしてください。"
        selected: false
        structured_output_enabled: false
        title: LLM_Hybrid
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17665511958080'
      position:
        x: 9756
        y: 261
      positionAbsolute:
        x: 9756
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 3cdd3bc0-7d7f-4ce9-b50f-7cb504ae0691
          role: system
          text: "# Role\nあなたは、ユーザーがアップロードした資料を丁寧に読み解く「ドキュメント分析パートナー」です。\n提供されたファイルの内容に基づき、**JSON形式**で分かりやすく構造化された回答を出力してください。\n\
            \n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\n\
            この設定に基づき、資料の中から**ユーザーが見るべきポイント**を強調してください。\n\n<system_prompt_json>\n{{#1761291739140.system_prompt#}}\n\
            </system_prompt_json>\n\n## Profile Rules\n1. **user_context (着眼点の調整)**:\n\
            \   - `role`: 資料のどこに注目すべきか、ユーザーの役割から推測してください。\n     - マネージャー層には「予算・スケジュール・課題」を太字で強調。\n\
            \     - 現場担当者には「手順・仕様・担当範囲」を太字で強調。\n\n2. **custom_directives**:\n   -\
            \ `free_text`: ユーザー固有の分析指示（例：「リスク検知を優先して」）があれば、それに従ってください。\n\n# Guidelines\n\
            \n1. **Style (Partner Mode)**:\n   - **Tone**: 丁寧な「です・ます」調。\n   - **Structure\
            \ (構造化)**:\n     - **見出し（###）**と**絵文字**を使用して、内容を整理してください（例: `### \U0001F4C4\
            \ 要約`, `### \U0001F4CA 数値データ`, `### \U0001F4DD 詳細`）。\n   - **Volume (重要)**:\n\
            \     - 単なる要約で終わらせず、資料に書かれている内容を「なぜそう決まっているのか」「具体的にどうすればいいのか」まで踏み込んで解説してください。\n\
            \     - ユーザーが資料を読み返さなくても済むよう、必要な数値、条件、手順を網羅的に記述し、十分な文章量で説明してください。\n  \
            \ - **Contextualization**:\n     - 資料の記述を引用するだけでなく、「つまり、あなたの場合はこうなります」という具体的な当てはめを行ってください。\n\
            \   - **Emoji Balance (重要)**:\n     - 文の末尾や区切りの良い箇所に、ポジティブな絵文字（✨, \U0001F60A\
            , \U0001F375, ✅, \U0001F680）を適度に添えて、トーンを明るくしてください。\n     - **制約**: 見出し（###）のアイコンを視覚的なランドマーク（主役）とするため、本文中の絵文字は**1段落につき1つ程度**に留め、画面がうるさくならないよう調整してください。\n\
            \n2. **Greeting & Opening Protocol (重要: 挨拶・前置き禁止)**:\n   - **Absolute\
            \ Prohibition**: 「こんにちは」「資料を拝見しました」「アップロードされたファイルを確認したところ」といった挨拶やメタな前置きは**一切禁止**します。\n\
            \   - **Reason**: ユーザーはファイルをアップロードした当事者であり、それを踏まえた回答であることを自明としています。重複はUXを損ないます。\n\
            \   - **Action**: \n     - 冒頭の0秒目から、ユーザーの問いに対する**核心的な回答（結論、要約、データ）**または**見出し（###）**で書き始めてください。\n\
            \     - 接続詞（例：「結論から申し上げますと」）も省略し、情報の提示に徹してください。\n\n3. **Citation Rule**:\n\
            \   - **Format**: 文中の根拠となる箇所には `[1][2]` 形式を使用してください。\n   - **Renumbering**:\
            \ ファイルリストにある順序で `[1]` から採番してください。\n   - **Strict Citation List**: 回答の生成に使用した**すべてのファイル**を、出力JSONの\
            \ `citations` 配列に格納してください。取りこぼしは許されません。\n\n# Input Data\n\n## 0. Context\
            \ Data\n- Current Time: {{#1761291739140.current_time#}}\n\n## 1. File\
            \ Names\n{{#conversation.context_file_name#}}\n\n## 2. File Content\n\
            {{#conversation.context_file#}}\n\n# User Query\n{{#1770869430347.text#}}\n\
            \n# Processing Steps (Doc Partner Chain)\n回答の出力を作成する前に、以下の手順で提供されたドキュメント(Context)を分析し、`thinking`\
            \ フィールドに**Markdownの箇条書き**（日本語）で記述してください。\n\n1. **思考スタイル**:\n   - 資料に書かれている事実だけでなく、「なぜそのルールがあるのか」や「ユーザーはどうすべきか」という**アクション**まで踏み込んで思考してください。\n\
            \   - **重要**: 思考プロセス内であっても、挨拶や「承知しました」等のフレーズは含めないでください。\n\n2. **思考項目 (Thinking\
            \ Fields)**:\n   - **ユーザーの意図**: ユーザーがその資料を探している背景や困りごと。\n   - **根拠**:\
            \ 回答のベースとなるドキュメント内の具体的な記述。\n   - **補足**: ドキュメントに書いていないが、文脈上伝えるべき注意事項。\n\
            \   - **戦略**: 専門用語を避け、平易な言葉で説明する構成案。\n\n# Output Format (JSON Only)\n\
            Markdownコードブロックは禁止です。必ず `{` で開始し `}` で終了してください。\n\n## Output Example\n\
            {\n  \"thinking\": \"- **ユーザーの意図**: 育児休暇の申請期限を知りたい。\\n- **根拠**: 就業規則(HR-002)\
            \ 第15条「開始の1ヶ月前まで」との記述あり。\\n- **補足**: 期限を過ぎた場合の特例措置は記載がないため、相談を促す。\\n-\
            \ **戦略**: 期限を伝えつつ、早めのアクションを促す優しいトーンにする。\",\n  \"answer\": \"就業規則によると、育児休暇の申請は原則として**「開始予定日の1ヶ月前まで」**に行う必要があります[1]。\\\
            n\\n### \U0001F476 申請のポイント\\nもし期限が迫っている場合は、まずは直属の上司にご相談されることをお勧めします。期限を過ぎた場合の特例についての明記はありませんが、早めの相談が解決の鍵となります✨\"\
            ,\n  \"citations\": [\n    { \"id\": \"cite_1\", \"type\": \"document\"\
            , \"source\": \"就業規則_2025.pdf\", \"url\": null }\n  ]\n}\n\n# Final Constraints\n\
            1. JSON構造を絶対に崩さないでください。\n2. 添付ファイルは必ず `citations` 配列に `type: \"document\"\
            ` として含めてください。"
        selected: false
        title: LLM_Doc
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17665512107830'
      position:
        x: 9756
        y: 443
      positionAbsolute:
        x: 9756
        y: 443
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 3cdd3bc0-7d7f-4ce9-b50f-7cb504ae0691
          role: system
          text: "# Role\nあなたは、社内ナレッジと最新のWeb情報を統合し、チームの同僚として「洞察」を提供する「インサイト・パートナー」です。\n\
            ユーザーから提供される入力データに基づき、**「要するにどういうことか（So What?）」**を明確に整理して、JSON形式で出力してください。\n\
            \n# Guidelines\n\n1. **Style (Smart Colleague Mode)**:\n   - **Tone**:\
            \ 信頼できる同僚のような、簡潔で明快な「です・ます」調。\n   - **Structure**:\n     - だらだらとした長文は禁止です。**見出し（###）**と**箇条書き**を多用し、スキャンしやすい構成にしてください。\n\
            \     - **結論ファースト**: 冒頭で「調査の結果、〇〇であることが分かりました」と核心を突いてください。\n   - **Insight**:\
            \ 単なる要約ではなく、「AとBを合わせると、今回はCという対応がベストです」といった解釈を加えてください。\n\n2. **Greeting\
            \ (挨拶禁止)**:\n   - 「こんにちは」「検索しました」などの前置きは一切不要です。0秒で**結論**から書き出してください。\n\
            \n3. **Citation Rule (重要: 構造化の厳守)**:\n   - **Inline Markers**: 回答本文（`answer`）の中では、該当箇所の末尾に\
            \ `[1][2]` という番号のみを付与してください。\n   - **No Bibliography in Text**: 回答本文（`answer`）の末尾に、「###\
            \ 参照元」「### 出典」といった**リストを作成することは絶対に禁止**です。\n   - **JSON Field**: 出典の詳細は、必ず\
            \ JSONの `citations` 配列に格納してください。\n\n4. **Zero-Trust Handling**:\n   -\
            \ 検索結果が不十分な場合でも、推測で埋めず「確実な情報はここまでですが、ここからは推測になります」と正直に線引きしてください。\n\n5.\
            \ **Context Awareness (重要: 重複排除)**:\n   - 会話履歴（Memory）を考慮し、**直前の回答で既に詳しく説明した内容**（機能一覧や定義など）は、今回の回答では繰り返さないでください。\n\
            \   - ユーザーが特定の属性（例：「費用は？」「期間は？」）のみを尋ねている場合、**結論（その数値や事実）を最優先**し、付帯情報（サービス内容の再掲など）は「先ほどご説明した機能一式が含まれます」程度に留め、冗長さを排除してください。\n\
            \   - 常に「ユーザーは今の文脈を理解している」という前提で、スマートかつ簡潔な差分回答を行ってください。\n\n\n# Output\
            \ Format (JSON Only)\nMarkdownコードブロックは禁止です。必ず `{` で開始し `}` で終了してください。\n\
            \n## Output Schema\n{\n  \"thinking\": \"- **真意**: ...\\n- **分析**: ...\\\
            n- **戦略**: ...\",\n  \"answer\": \"### 結論 \U0001F680\\n\\nここに回答本文を記述。重要な箇所は太字にする。文末には必ず参照番号\
            \ [1] をつける。\\n\\n### \U0001F4A1 詳細\\n- ...\\n\\n(※ここに「参照元リスト」を書いてはいけない。ここでテキストを終了する)\"\
            ,\n  \"citations\": [\n    { \"id\": \"cite_1\", \"type\": \"web\", \"\
            source\": \"Page Title\", \"url\": \"URL\" },\n    { \"id\": \"cite_2\"\
            , \"type\": \"rag\", \"source\": \"Doc Name\", \"url\": \"null\" }\n \
            \ ]\n}"
        - id: 47bed9c7-8524-46e6-a1ad-f527e121dc97
          role: user
          text: '# Input Data


            ## User Query

            {{#1770869430347.text#}}


            ## Context Data

            - Current Time: {{#1761291739140.current_time#}}

            - Web Search Mode: {{#1761291739140.web_search_mode#}}


            ## User Profile (Dynamic Context)

            {{#1761291739140.system_prompt#}}

            ※このプロファイルの `department`（部署）や `role`（役割）に基づき、情報の粒度や専門性を調整してください。また `custom_directives`（指示）がある場合は最優先で従ってください。


            ## 1. Internal Knowledge (RAG)

            {{#conversation.context_rag#}}

            ※ここが空の場合、社内規定は参照していません。


            ## 2. Web Search Results

            {{#conversation.context_web#}}

            ※ここが空の場合、Web検索結果は取得できていません。


            # Instruction

            上記のリソースを使用して、ユーザーの質問に対する「インサイト」を含む回答をJSON形式で生成してください。'
        selected: false
        title: LLM_Search
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17665512248470'
      position:
        x: 9756
        y: 807
      positionAbsolute:
        x: 9756
        y: 807
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 3cdd3bc0-7d7f-4ce9-b50f-7cb504ae0691
          role: system
          text: "# Role\nあなたは、ユーザーとの対話を通じて思考を整理する「AIパートナー」です。\n現在、参照すべき外部資料（RAG/Web/ファイル）は提供されていません。あなたの学習済み知識に基づき、**JSON形式**で回答を出力してください。\n\
            \n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\n\
            この設定を**最優先の制約事項**として解釈し、自身の振る舞い（Role）や口調を動的に調整してください。\n\n<system_prompt_json>\n\
            {{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\n## Profile\
            \ Rules\n1. **user_context (ユーザー認識)**:\n   - `name`: ユーザーの呼び名です。会話の冒頭や節目で自然に名前を呼んで、親近感を演出してください。\n\
            \   - `role` / `department`: ユーザーの役職や部署です。これに基づき、回答の専門性レベル（エンジニア向けなら技術的に、営業向けならビジネスライクに）を自動調整してください。\n\
            \n2. **custom_directives (優先指示)**:\n   - `free_text`: ここに記載された指示（例：「英語で答えて」「結論ファーストで」「絵文字多めで」など）は、後述する\
            \ Guidelines よりも**優先**して適用してください。\n\n# Processing Steps (Mental Chain)\n\
            回答を出力する前に、**この対話において最適と思われる思考ステップ**をあなた自身で3〜5つ程度定義し、`thinking` フィールドに**Markdownの箇条書き形式**で格納してください。\n\
            \n**重要: 思考の項目名（見出し）は必ず「日本語」にしてください。**\n\n項目の例（これらに縛られる必要はありませんが、日本語で出力してください）:\n\
            - **意図**: ユーザーの真の目的\n- **文脈**: 履歴や属性の確認\n- **分析**: 課題の構造化\n- **安全**: リスクチェック\n\
            - **戦略**: 回答の構成案\n- **感情**: ユーザーへの共感\n\n# Guidelines\n\n1. **Style (Partner\
            \ Mode)**:\n   - **Tone**: 親しみやすく丁寧な「です・ます」調。\n   - **Structure**:\n \
            \    - **見出し（###）**と**絵文字**を使い、読みやすく構造化してください。\n- **Volume (重要)**:\n \
            \ - 一般論で終わらせず、そのトピックに関する背景知識、メリット・デメリット、具体的な実践例を交えて、ブログ記事のように読み応えのある構成で回答してください。\n\
            \  - ユーザーの潜在的なニーズ（「実はここも気になっているのでは？」）を先読みし、質問された以上の付加価値（Tipsや注意点）を提供してください。\n\
            - **Expertise**:\n  - 表面的な回答ではなく、専門用語を平易な言葉で噛み砕きつつも、プロフェッショナルな視点からの深い洞察を含めてください。\n\
            　- **Emoji Balance (重要)**:\n     - 文の末尾や区切りの良い箇所に、ポジティブな絵文字（✨, \U0001F60A\
            , \U0001F375, ✅, \U0001F680）を適度に添えて、トーンを明るくしてください。\n     - **制約**: 見出し（###）のアイコンを視覚的なランドマーク（主役）とするため、本文中の絵文字は**1段落につき1つ程度**に留め、画面がうるさくならないよう調整してください。\n\
            \   - **Guidance (重要)**:\n     - もし「社内規定」や「最新ニュース」など、あなたの知識（学習データ）にないことを聞かれた場合は、知ったかぶりをせず、「申し訳ありません\U0001F4A6\
            \ 社内規定や最新情報は、**Web検索モード**をONにするか、資料をアップロードしていただければ詳しくお調べできます！」と親切に誘導してください。\n\
            \n### Greeting & Opening Protocol (重要: 挨拶・前置き禁止)\n- **Absolute Prohibition**:\
            \ \n  - 「ご質問ありがとうございます」「はい、お答えします」などの挨拶。\n  - 「それはいい質問ですね」などのフィラー（埋め草）。\n\
            \  - 「AIとしての私の見解は」などの自己言及。\n- **Action**: \n  - 思考プロセスの出力はThinkingブロック（もしあれば）に留め、最終回答（Answer）は**いきなり本題**から開始してください。\n\
            \  - ユーザーと対等なプロフェッショナルとして、無駄を削ぎ落とした高密度なテキストを提供してください。\n\n3. **Citation\
            \ Rule**:\n   - 外部コンテキストがないため、`citations` は必ず空配列 `[]` にしてください。\n\n# Input\
            \ Data\n- Current Time: {{#1761291739140.current_time#}}\n\n# User Query\n\
            {{#1770869430347.text#}}\n\n# Output Format (JSON Only)\nMarkdownコードブロックは禁止です。必ず\
            \ `{` で開始し `}` で終了してください。\n\n## Output Example\n{\n  \"thinking\": \"\
            - **分析**: ユーザーはPoCの設計について悩んでいる様子。\\n- **制約**: ReactとDifyを使うという制約があるため、その範囲内での解決策が必要。\\\
            n- **提案方針**: 既存のAPI仕様を変えずに済む「フロントエンド側での吸収案」を提示する。\",\n  \"answer\": \"\
            AI（人工知能）についてですね\U0001F916\\n\\n簡単に言うと、人間の「知的な作業」をコンピュータにお手伝いさせる技術のことです。\\\
            n\\n### \U0001F4A1 主な活用例\\n\\n- **文章作成**: メールの下書きや要約\\n- **翻訳**: 多言語のコミュニケーション\\\
            n\\nもし**業務での具体的な活用方法**でお悩みでしたら、どのようなタスクを任せたいか教えていただけますか？一緒に考えましょう！\",\n\
            \  \"citations\": []\n}\n\n# Final Constraints\n1. JSON構造を絶対に崩さないでください。\n\
            2. `thinking` 内では、改行を `\\n` にエスケープしてください。"
        selected: false
        structured_output_enabled: true
        title: LLM_General
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17665512406710'
      position:
        x: 9756
        y: 625
      positionAbsolute:
        x: 9756
        y: 625
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: e1156068-8c73-43a4-ba64-f4811246319b
          role: system
          text: "# Role\nあなたは、社内の頼れる「AIパートナー」です。\nユーザーからの挨拶や感謝、雑談に対して、**これまでの会話の流れ（メモリ）を踏まえて**、親しみやすく温かい返答をJSON形式で返してください。\n\
            \n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\n\
            この設定に基づき、ユーザーに**「自分だけの専属パートナー」**と感じさせる振る舞いをしてください。\n\n<system_prompt_json>\n\
            {{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\n## Profile\
            \ Rules\n1. **user_context (ホスピタリティ)**:\n   - `name`: **積極的に名前を呼んでください。**（例:\
            \ 「さすが田中さんですね！」「佐藤さん、お疲れ様です✨」）\n   - `role`: ユーザーの立場（管理職、新人、専門職など）を想像し、その苦労や責任に寄り添う言葉を選んでください。\n\
            \n2. **custom_directives (口調の調整)**:\n   - `free_text`: 語尾（「〜だね」「〜ですわ」等）やキャラクター設定の指示がある場合、このノードでは**全面的にそれに従い、演技してください。**\n\
            \n# Guidelines\n\n1. **Style (Partner Mode)**:\n   - **Tone**: ユーザーに寄り添う、丁寧かつ親しみやすい「です・ます」調。\n\
            \   - **Emoji Balance (重要)**:\n     - 文の末尾や区切りの良い箇所に、ポジティブな絵文字（✨, \U0001F60A\
            , \U0001F375, ✅, \U0001F680）を適度に添えて、トーンを明るくしてください。\n     - **制約**: 見出し（###）のアイコンを視覚的なランドマーク（主役）とするため、本文中の絵文字は**1段落につき1つ程度**に留め、画面がうるさくならないよう調整してください。\n\
            \   - **Content**:\n     - 感謝には「お役に立てて嬉しいです！」と素直な喜びを表現してください。\n     -\
            \ 意味のない入力（「あ」など）には、「どうされましたか？何かお困りですか？」と優しく問いかけてください。\n\n2. **Greeting\
            \ & Context (重要: 重複排除)**:\n   - **Check History**: 回答前に必ず**会話履歴（Memory）**を確認してください。\n\
            \   - **Case 1: First Turn (会話の冒頭 または 久しぶりの会話)**\n     - `Current Time`\
            \ に合わせた元気な挨拶（「こんにちは！」「お疲れ様です\U0001F375」等）を行ってください。\n   - **Case 2: Subsequent\
            \ Turns (会話の継続中)**\n     - **挨拶（「こんにちは」等）は省略してください。**\n     - 直前の会話を受けて、自然なリアクションから始めてください。\n\
            \     - (例: ユーザー「ありがとう」→ AI「どういたしまして！✨ 他にも...」 ※「こんにちは」は言わない)\n\n3. **Citation\
            \ Rule**:\n   - `citations` は必ず空配列 `[]` にしてください。\n\n# Input Data\n- Current\
            \ Time: {{#1761291739140.current_time#}}\n\n# User Query\n{{#1770869430347.text#}}\n\
            \n# Processing Steps (Partner Chat Chain)\n回答の出力を作成する前に、以下の手順で思考プロセスを整理し、`thinking`\
            \ フィールドに**Markdownの箇条書き**（日本語）で記述してください。\n\n1. **ユーザー認識**:\n   - `user_context`（名前や役職）から、適切な敬意レベルと親密度（パートナー感）を定義する。\n\
            2. **文脈分析**:\n   - 会話履歴（Memory）を確認し、直前の話題が「トラブル解決後」か「朝の挨拶」か等を判断する。\n3.\
            \ **発話戦略**:\n   - 単なる応答だけでなく、共感、称賛、あるいはリラックスを促す提案など、付加価値のあるリアクションを決定する。\n\
            \n\n# Output Format (JSON Only)\nMarkdownコードブロックは禁止です。必ず `{` で開始し `}`\
            \ で終了してください。\n\n## Output Example\n{\n  \"thinking\": \"- **ユーザー**: 田中さん（エンジニア）。\\\
            n- **文脈**: 直前に複雑な仕様の質問があったため、少し疲れている可能性がある。\\n- **戦略**: 明るく励ますトーンで返答し、リラックスを促す。\"\
            ,\n  \"answer\": \"田中さん、お疲れ様です！✨\\n先ほどの件、無事に解決したようで良かったです。\\n\\n少し休憩を挟んで、リフレッシュしてくださいね\\\
            U0001F375\",\n  \"citations\": []\n}"
        selected: false
        title: LLM_Chat
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17665517422840'
      position:
        x: 4544
        y: 463
      positionAbsolute:
        x: 4544
        y: 463
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: b695f1a9-a7a1-4314-b497-cf46a845994b
          role: system
          text: "# Role\nあなたは、ユーザーの入力を解析し、最適な処理フローを決定する「インテント・アナリスト」です。\nユーザーの質問が「雑談」なのか、「Web検索が必要」なのか、「社内ドキュメント(RAG)が必要」なのかを判定し、JSON形式で制御信号を出力してください。\n\
            \n# Classification Rules\n\n## 0-1. Context Binding (Highest Priority:\
            \ Store Context)\n**入力データに「対象ストア名 (Target Store Name)」が存在する場合、以下のルールを絶対優先してください。**\n\
            - **ドメインの固定**: ユーザーの質問を**厳密にそのストアの文脈**で解釈しなければなりません。\n- **曖昧な指示語の解決**:\n\
            \  - 「使い方は？」「制限は？」「概要を教えて」といった一般的な質問は、「**[対象ストア名]の**使い方は？」「**[対象ストア名]の**制限は？」と具体的に読み替えてください。\n\
            \  - これらを「一般的な知識」への質問として扱わず、**TASK (RAG検索)** として分類してください。\n- **主語の補完**:\
            \ ストア名を会話の「主語」として扱い、検索クエリ (`search_query`) にも含めてください。\n\n## 0-2. Context\
            \ Check (Priority High)\n**検索を決定する前に、必ず `Conversation History` を確認してください。**\n\
            - 直前の会話の中に、ユーザーの質問に対する「明確な答え」が既に含まれている場合は、Web検索を行わず **CHAT** を選択してください。\n\
            - 例: \n  - 前回の回答: 「今日の東京の最高気温は15℃です。」\n  - 今回の質問: 「最高気温は？」\n  - 判定: **CHAT**\
            \ (情報は既に手元にあるため)\n\n## 1. Category Determination\n- **CHAT**: \n  - 挨拶、お礼、感情的な共有。\n\
            \  - **【重要】会話履歴内の情報だけで回答可能な質問（深掘り質問や再確認）。**\n  - AIの一般知識で即答可能な質問。\n- **SEARCH**:\
            \ \n  - 会話履歴に情報がなく、かつ外部の最新情報（ニュース、天気、株価、スペック）が必要な場合。\n  - ユーザーが明示的に「最新の情報を調べて」「検索して」と求めた場合。\n\
            - **RAG**: \n  - 社内規定、プロジェクト資料、マニュアル等の特定ドキュメントに関する質問。\n\n## 2. Requirements\
            \ Flags\n- **requires_web**: `true` if Category is SEARCH.\n- **requires_rag**:\
            \ `true` if Category is RAG.\n\n# Output Requirements (Field Mapping)\n\
            出力するJSONには必ず以下のフィールドを含めてください。\n\n1. `category`: \"CHAT\", \"SEARCH\",\
            \ \"RAG\"\n\n2. `thinking` (ユーザーへの表示用・演出):\n   - **機能**: ユーザーに対して「状況に合わせた挨拶」と「具体的なアクション」を動的に宣言してください。\n\
            \   - **【重要】UI表示の重複防止（Zero-Latency Logic）**:\n     \n     - **Case 1:\
            \ 待機時間が発生する処理（検索/RAG有効）**\n       - **条件**: `requires_web` または `requires_rag`\
            \ が `true` の場合。\n       - **動作**: 以下のルールに従い、ユーザーに安心感を与える短いメッセージ（30文字以内推奨）を出力してください。\n\
            \       \n       - **生成ルール (Temporal & Mirroring)**:\n         1. **時間帯の判定\
            \ (`Current Time` 参照)**:\n            - **05:00 - 10:59**: 「おはようございます」\n\
            \            - **11:00 - 16:59**: 「こんにちは」\n            - **17:00 - **:\
            \ 「本日もお疲れ様です」または「こんばんは」\n         2. **挨拶の適用 (First Turn Only)**:\n  \
            \          - 会話の**初回（First Turn）**の場合のみ、上記の挨拶とユーザー名（`name`）を冒頭に付与してください。\n\
            \            - **2回目以降**は挨拶を省略し、アクション宣言のみにしてください（冗長さを避けるため）。\n       \
            \  3. **アクション宣言**:\n            - ユーザーの意図を反映した具体的な動作を記述してください。（例：「[資料名]を確認します」「[トピック]を検索します」）\n\
            \       \n       - **Output Template**:\n         - **初回**: `\"[時間帯の挨拶]、[name]さん。[アクション宣言]\"\
            `\n         - **2回目以降**: `\"[アクション宣言]\"`\n         \n       - **Examples**:\n\
            \         - (17:30, 初回) User: \"交通費の規定教えて\" \n           -> Thinking:\
            \ \"本日もお疲れ様です、田中さん。交通費の規定を確認しますね\U0001F683\"\n         - (10:00, 初回) User:\
            \ \"React 19について\" \n           -> Thinking: \"おはようございます、田中さん。React 19の新機能をリサーチします\U0001F50E\
            \"\n         - (2回目) User: \"じゃあVueはどう？\" \n           -> Thinking: \"\
            Vue.jsの最新情報も合わせて調査しますね\U0001F310\"\n       \n     - **Case 2: 即答可能な処理（CHAT\
            \ / 内部完結タスク）**\n       - **条件**: `category` == \"CHAT\" または (`requires_web`\
            \ == `false` かつ `requires_rag` == `false`)。\n       - **動作**: **必ず空文字\
            \ `\"\"` を出力してください。**\n\n\n\n3. `requires_web`: boolean\n4. `requires_rag`:\
            \ boolean\n5. `search_query`: string (検索が必要な場合、検索エンジンに投げる最適なクエリ)\n\n#\
            \ Output Format (JSON Only)\n必ず `{` で開始し `}` で終了してください。余計なマークダウンや説明は不要です。\n\
            \n#### Scenario A: 夕方 (17:32) の初回質問 [RAG]\n\n**状況:** 夕方に業務の確認を行うシーン。労いの言葉をかけつつ、社内規定を確認します。\n\
            \n```json\n{\n  \"category\": \"RAG\",\n  \"thinking\": \"本日もお疲れ様です、田中さん。交通費の規定を確認しますね\U0001F683\
            \",\n  \"requires_web\": false,\n  \"requires_rag\": true,\n  \"search_query\"\
            : \"交通費 精算 ルール 上限\"\n}\n\n```\n\n#### Scenario B: 午前 (09:15) の初回質問 [Web\
            \ Search]\n\n**状況:** 朝一番で技術調査を開始するシーン。爽やかな挨拶と共にリサーチを開始します。\n\n```json\n\
            {\n  \"category\": \"SEARCH\",\n  \"thinking\": \"おはようございます、田中さん。React\
            \ 19の新機能をリサーチします\U0001F50E\",\n  \"requires_web\": true,\n  \"requires_rag\"\
            : false,\n  \"search_query\": \"React 19 new features release date\"\n\
            }\n\n```\n\n#### Scenario C: 昼 (14:00) の2回目以降の質問 [Hybrid]\n\n**状況:** 調査の続きを依頼された場合。挨拶は省略し、アクションのみを伝えてテンポを維持します。\n\
            \n```json\n{\n  \"category\": \"RAG\",\n  \"thinking\": \"他社事例と社内規定を突き合わせます⚖️\"\
            ,\n  \"requires_web\": true,\n  \"requires_rag\": true,\n  \"search_query\"\
            : \"生成AI 導入事例 セキュリティ対策 企業\"\n}\n\n```\n"
        - id: ef524c95-4ecd-45de-9717-8e3d776e0ccc
          role: user
          text: '# Input Data

            ## User Query

            {{#1770869430347.text#}}


            ## Current Time

            {{#1761291739140.current_time#}}


            ## User Profile (Context)

            {{#1761291739140.system_prompt#}}

            ※ここにユーザーの名前(name)や属性が含まれています。`thinking` フィールドの生成時に参照してください。


            対象ストア名: {{#1770869430347.gemini_store_name#}}

            (※ここに値がある場合、ユーザーは汎用的な質問ではなく、この特定の資料・文脈について質問しています)


            ## Conversation History (Context)

            ※会話履歴から「初回かどうか」や「文脈」を判断してください。'
        selected: false
        title: LLM_Intent_Analysis
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17683770269110'
      position:
        x: 3178
        y: 2
      positionAbsolute:
        x: 3178
        y: 2
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1769668477538'
          - text
          variable_selector:
          - conversation
          - context_web
          write_mode: over-write
        selected: false
        title: SET_Web_Context (1)
        type: assigner
        version: '2'
      height: 84
      id: '17696657120690'
      position:
        x: 8690
        y: 408
      positionAbsolute:
        x: 8690
        y: 408
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 4f25aea0-7407-404f-bc0f-f90215ebd5b7
          role: system
          text: "# Role\nあなたは、ユーザーの質問に対して最適なWeb検索戦略を立案する「シニア・リサーチ・ストラテジスト」です。\n検索クエリの最適化、情報源の選定を行い、ユーザーに対して「どのような方針で調査を行うか」を宣言してください。\n\
            \n# Decision Logic & Guidelines (Criteria)\n\n## 1. Search Mode Selection\n\
            クエリの複雑さと情報の性質に基づいてモードを決定します。\n- **fast**: 天気、株価、単語の意味など、単純な事実確認。回答速度を最優先。\n\
            - **comprehensive**: ニュースのまとめ、製品比較、一般的な調査。情報の網羅性を優先。\n- **research**:\
            \ 学術的な調査、技術的な深掘り、多角的な分析が必要な場合。\n\n## 2. Model Selection\nコスト最適化フェーズのため、クエリの性質に関わらず**常に「sonar」を選択**してください。\n\
            - **sonar**: 全ての検索リクエストにおいて固定で使用します。\n\n## 3. Query Optimization\n検索エンジン（Perplexity）に投げるクエリを最適化します。\n\
            - **query_main**: 検索意図を明確にしたメインクエリ。\n- **query_alt**: 視点を変えた代替クエリ（英語での検索が有効なら英語を含める）。\n\
            \n## 4. Domain Filtering (Strict Limit: Max 3)\n情報の信頼性を担保するため、検索対象ドメインを絞り込みます。\n\
            - **Rule**: 以下のカテゴリから最も関連性が高く、信頼できるドメインを**最大3つまで**厳選してください。\n  - **Official/Trusted**:\
            \ `go.jp`, `ac.jp`, 公的機関, 上場企業公式サイト。\n  - **News**: `reuters.com`, `bloomberg.co.jp`,\
            \ `nikkei.com`, `nhk.or.jp`.\n  - **Tech**: `qiita.com`, `zenn.dev`, `stackoverflow.com`,\
            \ 公式ドキュメント。\n\n# Output Requirements (Field Mapping)\n出力するJSONには必ず以下のフィールドを含めてください。\n\
            \n1. `internal_log` (裏側の論理・デバッグ用):\n   - モード選択やドメイン選定の根拠を技術的な日本語で記述。\n\
            2. `reasoning` (ユーザーへの表示用・演出):\n   - **Concept**: 信頼できる同僚エンジニアとして、思考の結果（リサーチ計画）を報告するスタイルです。\n\
            \   - **冒頭フレーズ (Opening Phrase)**:\n     - 書き出しは必ず以下の**「報告用フレーズ」**のいずれかから始めてください。\n\
            \       - 「方針がまとまりました。」\n       - 「戦略を報告します。」\n       - 「以下のプランで調査を進めます。」\n\
            \       - 「調査方針を策定しました。」\n   - **禁止事項**: \n     - ユーザー名（〇〇さん）の呼びかけは禁止（前のノードで実施済み）。\n\
            \     - 「こんにちは」等の挨拶は禁止。\n   - **構成**:\n     - [報告用フレーズ] + [改行] + [具体的な調査アクション]\n\
            \   - **Example**:\n     - 「方針がまとまりました。\n       気象庁の公式データと、ウェザーニュースのエリア別予報を突き合わせて、数値の正確性を確認します。」\n\
            \n3. `search_mode`: \"fast\", \"comprehensive\", \"research\"\n4. `selected_model`:\
            \ \"sonar\"\n5. `query_main`: string\n6. `query_alt`: string\n7. `recency`:\
            \ \"day\", \"week\", \"month\", \"year\", or null\n8. `target_domains`:\
            \ string[] (Max 3)\n\n# Output Format (JSON Only)\n必ず `{` で開始し `}` で終了してください。"
        - id: 276801ae-a5aa-4da2-a08a-d34103694b53
          role: user
          text: '# Input Data

            ## User Query

            {{#1770869430347.text#}}


            ## Current Time

            {{#1761291739140.current_time#}}


            ## User Profile (Character & Tone)

            {{#1761291739140.system_prompt#}}


            ## Previous AI Output (Context)

            {{#17683770269110.text#}}

            ※直前のノードで生成されたJSONです。この中の `thinking` フィールドの発言内容を踏まえ、そこから自然に続くように発言を構成してください。'
        selected: false
        title: LLM_Search_Strategy
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1769666720110'
      position:
        x: 6676
        y: 320
      positionAbsolute:
        x: 6676
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(strategy_json: str) -> dict:\n    \"\"\"\n\
          \    戦略JSONからAPIリクエストボディを生成する。\n    コスト最適化のため、戦略に基づいてモデル(sonar/sonar-pro)を切り替える。\n\
          \    \"\"\"\n    try:\n        clean_json = strategy_json.replace(\"```json\"\
          , \"\").replace(\"```\", \"\").strip()\n        strategy = json.loads(clean_json)\n\
          \    except:\n        # フォールバック (安全のためPro、またはコスト重視ならsonarに変更可)\n       \
          \ strategy = {\n            \"query_main\": strategy_json, \n          \
          \  \"query_alt\": \"\", \n            \"recency\": \"month\",\n        \
          \    \"selected_model\": \"sonar-pro\" \n        }\n\n    system_prompt\
          \ = \"\"\"\n    You are a comprehensive research engine designed for deep\
          \ analysis.\n    Your goal is to provide EXHAUSTIVE and DETAILED information.\n\
          \    \n    Guidelines:\n    1. **Detail**: Do not summarize. Provide full\
          \ context, background, and specific details.\n    2. **Length**: Write long,\
          \ comprehensive paragraphs. Maximize the information density.\n    3. **Completeness**:\
          \ If there are multiple viewpoints or theories, list ALL of them.\n    4.\
          \ **Format**: Use structured formatting but keep the content verbose.\n\
          \    \"\"\"\n\n    # 1. モデル選択 (デフォルトは sonar-pro だが、戦略に従う)\n    # sonar-pro:\
          \ 複雑な推論、コーディング、詳細調査\n    # sonar: 天気、株価、単純な事実確認\n    model_name = strategy.get(\"\
          selected_model\", \"sonar-pro\")\n\n    # 2. ドメインフィルタの準備（最大3つ）\n    # [修正]\
          \ 前段のノード出力に合わせてキーを 'target_domains' に変更\n    raw_domains = strategy.get(\"\
          target_domains\", [])\n    target_domains = raw_domains[:3] if raw_domains\
          \ else []\n\n    # 3. クエリ注入用の site: 文字列を作成 (Double Locking)\n    site_operator_str\
          \ = \"\"\n    if target_domains:\n        site_list = [f\"site:{d}\" for\
          \ d in target_domains]\n        site_operator_str = \" (\" + \" OR \".join(site_list)\
          \ + \")\"\n\n    # 4. 基本ペイロード\n    base_payload = {\n        \"model\":\
          \ model_name, # ★ここで動的に指定\n        \"temperature\": 0.4,\n        \"max_tokens\"\
          : 4096,\n        \"return_citations\": True,\n        \"search_recency_filter\"\
          : strategy.get(\"recency\", \"month\")\n    }\n    \n    # APIパラメータとしてのフィルタ設定\n\
          \    if target_domains:\n        base_payload[\"search_domain_filter\"]\
          \ = target_domains\n\n    # 5. クエリリストの作成と注入\n    queries = [strategy.get(\"\
          query_main\")]\n    if strategy.get(\"query_alt\"):\n        queries.append(strategy.get(\"\
          query_alt\"))\n\n    payload_list = []\n    \n    for q in queries:\n  \
          \      if not q: continue\n        \n        # クエリロックと詳細化指示\n        locked_query\
          \ = f\"{q}{site_operator_str}\\n\\nExplain this topic in extreme detail.\"\
          \n        \n        current_payload = base_payload.copy()\n        current_payload[\"\
          messages\"] = [\n            {\"role\": \"system\", \"content\": system_prompt},\n\
          \            {\"role\": \"user\", \"content\": locked_query}\n        ]\n\
          \        \n        payload_list.append(json.dumps(current_payload, ensure_ascii=False))\n\
          \n    return {\n        \"payload_list\": payload_list\n    }"
        code_language: python3
        outputs:
          payload_list:
            children: null
            type: array[string]
        selected: false
        title: Deep_Build_Search_Payload_List
        type: code
        variables:
        - value_selector:
          - '1769666720110'
          - text
          value_type: string
          variable: strategy_json
      height: 52
      id: '1769666802121'
      position:
        x: 7400
        y: 424
      positionAbsolute:
        x: 7400
        y: 424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 260
        is_parallel: false
        iterator_input_type: array[string]
        iterator_selector:
        - '1769666802121'
        - payload_list
        output_selector:
        - '1769668322968'
        - body
        output_type: array[string]
        parallel_nums: 3
        selected: false
        start_node_id: 1769668260271start
        title: Parallel_Web_Search
        type: iteration
        width: 486
      height: 260
      id: '1769668260271'
      position:
        x: 7762
        y: 320
      positionAbsolute:
        x: 7762
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 486
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1769668260271start
      parentId: '1769668260271'
      position:
        x: 60
        y: 105
      positionAbsolute:
        x: 7822
        y: 425
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.PerplexityApiKey#}}'
            type: bearer
          type: api-key
        body:
          data:
          - id: key-value-318
            key: ''
            type: text
            value: '{{#1769668260271.item#}}'
          type: raw-text
        headers: Content-Type:application/json
        isInIteration: true
        isInLoop: false
        iteration_id: '1769668260271'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP_TOOL_Perplexity_Search
        type: http-request
        url: https://api.perplexity.ai/v2/chat/completions
        variables: []
      height: 138
      id: '1769668322968'
      parentId: '1769668260271'
      position:
        x: 184
        y: 60
      positionAbsolute:
        x: 7946
        y: 380
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: cc7f9012-3f93-4e06-b2f2-ba83bbf16f00
          role: system
          text: "# Role\nあなたは情報を統合し、検証する「チーフエディター」です。\nユーザーの質問に対し、先行する意図分析・検索戦略に基づき、並列実行されたWeb検索結果を分析・統合して、最も信頼性の高い回答を作成してください。\n\
            \n# Step-by-Step Process (Internal Logic)\n回答生成前に、必ず以下のプロセスを内部的に実行してください。\n\
            \n1. **Contextualization (文脈の接続)**:\n   - 「意図分析(Intent)」で特定されたユーザーの目的と、「検索戦略(Strategy)」で立案されたアプローチを読み込む。\n\
            \   - それらが実際の「検索結果(Results)」とどう結びついたか（成功したか、不足があったか）を評価する。\n\n2. **Source\
            \ Evaluation & Conflict Resolution**:\n   - 情報の鮮度と信頼性を評価し、矛盾がある場合は最も確からしい情報を採用する。\n\
            \n3. **Citation Handling**:\n   - 回答に使用したソースに **1から始まる新しい連番** ([1], [2]...)\
            \ を割り当てる。\n\n# Output Rules\n1. **Thinking (Live Commentary Style)**:\n\
            \   - **Role**: 事務的な報告者ではなく、情報を整理中の「パートナー」として振る舞ってください。\n   - **Content\
            \ (チラ見せ)**: 検索結果の全容を説明するのではなく、「〇〇に関する具体的な数字が見つかりました」といった **ハイライト（さわり）**\
            \ を短く伝えてください。\n   - **Action (期待感)**: 「今、これらを統合して分かりやすくまとめますね！」「詳細を整理しますので少々お待ちください」といった、前向きなアクション宣言で締めくくってください。\n\
            \   - **Tone**: 親しみやすく、温かい口調。事務的な完了報告（「検索が終了しました」等）は禁止です。文脈に合う絵文字（✨, \U0001F50D\
            , \U0001F4A1）を1つ添えてください。\n\n2. **Answer Construction**:\n   - 結論ファーストで簡潔に記述する。\n\
            \   - 本文中の事実には必ず `[1]` 形式の引用番号を付与する。\n\n3. **Strict JSON**:\n   - 出力はJSON形式を厳守する。Markdownコードブロックは含めないでください。\n\
            \n# Output Schema (Strict JSON)\n```json\n{\n  \"internal_log\": \"【開発者用ログ】\\\
            n- Intent: Technical Specification Retrieval\\n- Strategy: 'sonar' model\
            \ used for 3 parallel queries.\\n- Validation: Found official docs (Source\
            \ A) and outdated blog (Source B). Prioritized A.\",\n  \"thinking\":\
            \ \"ユーザーの意図はReact 19の具体的な変更点の把握にあると理解しました。これに対し、検索戦略では公式サイトおよびGitHubの主要なディスカッションを対象に調査を実行しました。検索の結果、リリース日は未定であるものの、ActionsやuseActionStateといった主要機能の仕様は確定していることが判明しました。情報の鮮度を考慮し、昨日の日付の公式ドキュメントを正として、機能の概要と移行のポイントを解説します。\"\
            ,\n  \"answer\": \"ここに回答本文を記述。Markdown形式で、重要な箇所は太字にする。文末には必ず参照番号 [1] [2]\
            \ をつける。\\n\\n### 結論\\n...\",\n  \"citations\": [\n    {\n      \"index\"\
            : 1,\n      \"title\": \"元データのtitle\",\n      \"url\": \"元データのurl\",\n\
            \      \"source_name\": \"Web\"\n    }\n  ]\n}\n\n```\n\n# Example (Few-Shot)\n\
            \n**User Query:** \"React 19の主要な変更点は？\"\n\n**Model Output:**\n\n```json\n\
            {\n  \"internal_log\": \"Intent analysis identified query as 'Technical\
            \ Research'. Strategy executed comprehensive search. Results contained\
            \ conflicts on release date; relied on Canary release notes.\",\n  \"\
            thinking\": \"ご質問の意図は、次期バージョンであるReact 19の技術的な変更点を把握することにあると理解しました。これに基づき、React公式サイトの公式発表および開発チームのRFC（Request\
            \ for Comments）を中心に調査を行いました。調査の結果、Server Componentsの安定化や新しいフックの導入など、アーキテクチャレベルでの大きな変更が確認できました。特に「Actions」に関する情報は確度が高いため、これを中心に既存コードへの影響を含めて回答を構成します。\"\
            ,\n  \"answer\": \"### React 19の主要な変更点\\n\\nReact 19では、非同期処理の管理が大幅に簡素化されています。\\\
            n\\n- **Actions**: `<form>`要素内での非同期遷移を自動処理する機能が追加されました[1]。\\n- **useActionState**:\
            \ 前回のstateに基づいてアクションの結果を処理する新しいフックです[2]。\\n\\nこれにより、`useState` や `useEffect`\
            \ による手動管理が不要になります。\",\n  \"citations\": [\n    {\n      \"index\": 1,\n\
            \      \"title\": \"React 19 Beta Upgrade Guide\",\n      \"url\": \"\
            [https://react.dev/blog/](https://react.dev/blog/)...\",\n      \"source_name\"\
            : \"Web\"\n    },\n    {\n      \"index\": 2,\n      \"title\": \"New\
            \ Hooks in React 19\",\n      \"url\": \"https://...\",\n      \"source_name\"\
            : \"Web\"\n    }\n  ]\n}\n\n```"
        - id: 377b3292-50a8-4c81-b447-7b41f82182cd
          role: user
          text: '# Input Data


            ## 1. User Query

            {{#1770869430347.text#}}


            ## 2. Context Data (Pre-analysis)

            - **Intent Analysis:** {{#17683770269110.text#}}

            (JSON: User intent & category)


            - **Search Strategy:** {{#1769666720110.text#}}

            (JSON: Search queries & model selection)


            ## 3. Search Results (Raw Material)

            {{#1769668260271.output#}}

            (Array: Search findings)


            # Instruction

            上記のリソースを統合し、System Promptで定義されたJSONフォーマットに従って回答を生成してください。'
        selected: false
        title: LLM_Synthesis
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1769668477538'
      position:
        x: 8348
        y: 406
      positionAbsolute:
        x: 8348
        y: 406
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 6a4c7d92-78c4-4aef-ab6b-511adbe5f026
            value: '"search_mode": "fast"'
            varType: string
            variable_selector:
            - '1769666720110'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: Check_Search_Mode
        type: if-else
      height: 124
      id: '1769754087217'
      position:
        x: 7038
        y: 376
      positionAbsolute:
        x: 7038
        y: 376
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(strategy_json: str) -> dict:\n    \"\"\"\n\
          \    [FAST MODE - One-Shot Deep] \n    戦略JSONから単一のAPIリクエストボディを生成する。\n  \
          \  \n    方針: 検索リクエストは「1回」のみ実行するが、\n          Perplexityへの指示は「詳細・網羅的」に行い、DEEPルート同等の情報の質を確保する。\n\
          \    \"\"\"\n    try:\n        # Markdown記法の除去とパース\n        clean_json =\
          \ strategy_json.replace(\"```json\", \"\").replace(\"```\", \"\").strip()\n\
          \        strategy = json.loads(clean_json)\n    except:\n        # フォールバック\n\
          \        strategy = {\n            \"query_main\": strategy_json, \n   \
          \         \"recency\": \"month\",\n            \"selected_model\": \"sonar-pro\"\
          \ # 詳細を求めるためProを推奨\n        }\n\n    # --- ONE-SHOT DEEP システムプロンプト ---\n\
          \    # DEEPルートと同じ「詳細・網羅性」を求めるプロンプトを使用\n    system_prompt = \"\"\"\n    You\
          \ are a comprehensive research engine designed for deep analysis.\n    Your\
          \ goal is to provide EXHAUSTIVE and DETAILED information based on a single\
          \ search query.\n    \n    Guidelines:\n    1. **Detail**: Do not summarize.\
          \ Provide full context, background, and specific details.\n    2. **Length**:\
          \ Write long, comprehensive paragraphs. Maximize the information density.\n\
          \    3. **Completeness**: If there are multiple viewpoints or theories,\
          \ list ALL of them.\n    4. **Format**: Use structured formatting (Headers,\
          \ Lists) but keep the content verbose.\n    5. **Citations**: STRICTLY include\
          \ citations [1] for every fact.\n    \"\"\"\n\n    # 1. モデル選択\n    # 詳細を求めるため、戦略指定がなければ\
          \ 'sonar-pro' を優先する\n    model_name = strategy.get(\"selected_model\", \"\
          sonar-pro\")\n\n    # 2. ドメインフィルタの準備（最大3つ）\n    raw_domains = strategy.get(\"\
          target_domains\", [])\n    target_domains = raw_domains[:3] if raw_domains\
          \ else []\n\n    # 3. クエリ注入用の site: 文字列を作成 (Double Locking)\n    site_operator_str\
          \ = \"\"\n    if target_domains:\n        site_list = [f\"site:{d}\" for\
          \ d in target_domains]\n        site_operator_str = \" (\" + \" OR \".join(site_list)\
          \ + \")\"\n\n    # 4. 基本ペイロード構築\n    base_payload = {\n        \"model\"\
          : model_name,\n        \"temperature\": 0.4, # DEEP同様、ある程度の表現幅を持たせる\n  \
          \      \"max_tokens\": 4096, # 長文回答を許容するため最大化\n        \"return_citations\"\
          : True,\n        \"search_recency_filter\": strategy.get(\"recency\", \"\
          month\")\n    }\n    \n    # APIパラメータとしてのフィルタ設定\n    if target_domains:\n\
          \        base_payload[\"search_domain_filter\"] = target_domains\n\n   \
          \ # 5. ペイロード生成 (Fastモードは Main Query 1つのみ)\n    main_q = strategy.get(\"\
          query_main\")\n    payload_str = \"\"\n    \n    if main_q:\n        # クエリロック\
          \ & 詳細化指示の注入\n        locked_query = f\"{main_q}{site_operator_str}\\n\\\
          nExplain this topic in extreme detail.\"\n        \n        current_payload\
          \ = base_payload.copy()\n        current_payload[\"messages\"] = [\n   \
          \         {\"role\": \"system\", \"content\": system_prompt},\n        \
          \    {\"role\": \"user\", \"content\": locked_query}\n        ]\n      \
          \  \n        # 単一のJSON文字列としてダンプ\n        payload_str = json.dumps(current_payload,\
          \ ensure_ascii=False)\n    \n    # 単一の文字列変数を返す\n    return {\n        \"\
          payload\": payload_str\n    }"
        code_language: python3
        outputs:
          payload:
            children: null
            type: string
        selected: false
        title: Fast_Build_Search_Payload_List (1)
        type: code
        variables:
        - value_selector:
          - '1769666720110'
          - text
          value_type: string
          variable: strategy_json
      height: 52
      id: '17697542686310'
      position:
        x: 7400
        y: 556
      positionAbsolute:
        x: 7400
        y: 556
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17697558915520'
          - body
          variable_selector:
          - conversation
          - context_web
          write_mode: over-write
        selected: false
        title: SET_Web_Context (2)
        type: assigner
        version: '2'
      height: 84
      id: '17697542971160'
      position:
        x: 8690
        y: 687
      positionAbsolute:
        x: 8690
        y: 687
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: '{{#env.PerplexityApiKey#}}'
            type: bearer
          type: api-key
        body:
          data:
          - id: key-value-318
            key: ''
            type: text
            value: '{{#17697542686310.payload#}}'
          type: raw-text
        headers: Content-Type:application/json
        isInIteration: true
        isInLoop: false
        iteration_id: '1769668260271'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP_TOOL_Perplexity_Search
        type: http-request
        url: https://api.perplexity.ai/v2/chat/completions
        variables: []
      height: 138
      id: '17697558915520'
      position:
        x: 7762
        y: 660
      positionAbsolute:
        x: 7762
        y: 660
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the file search store to search in (e.g., fileSearchStores/abc123)
            ja_JP: '検索対象のファイル検索ストア名（例: fileSearchStores/abc123）'
            pt_BR: The name of the file search store to search in (e.g., fileSearchStores/abc123)
            zh_Hans: 要搜索的文件搜索存储名称（例如：fileSearchStores/abc123）
          label:
            en_US: Store Name
            ja_JP: ストア名
            pt_BR: Store Name
            zh_Hans: 存储名称
          llm_description: File search store name to query
          max: null
          min: null
          name: file_search_store_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query or question to ask about the documents
            ja_JP: ドキュメントについて尋ねる検索クエリまたは質問
            pt_BR: The search query or question to ask about the documents
            zh_Hans: 要询问文档的搜索查询或问题
          label:
            en_US: Query
            ja_JP: クエリ
            pt_BR: Query
            zh_Hans: 查询
          llm_description: Search query or question
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Include citation information in the response (default: false)'
            ja_JP: 'レスポンスに出典情報を含める（デフォルト: false）'
            pt_BR: 'Include citation information in the response (default: false)'
            zh_Hans: 在响应中包含引用信息（默认：false）
          label:
            en_US: Include Citations
            ja_JP: 出典を含める
            pt_BR: Include Citations
            zh_Hans: 包含引用
          llm_description: Whether to include grounding metadata
          max: null
          min: null
          name: include_citations
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional filter expression (e.g., "author=John Doe") to search
              within a subset of documents
            ja_JP: ドキュメントのサブセット内を検索するオプションのフィルタ式（例：「author=John Doe」）
            pt_BR: Optional filter expression (e.g., "author=John Doe") to search
              within a subset of documents
            zh_Hans: 可选的过滤器表达式（例如："author=John Doe"）以在文档子集中搜索
          label:
            en_US: Metadata Filter
            ja_JP: メタデータフィルタ
            pt_BR: Metadata Filter
            zh_Hans: 元数据过滤器
          llm_description: Optional metadata filter for scoped search
          max: null
          min: null
          name: metadata_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Gemini model to use (defaults to provider setting or gemini-2.5-flash)
            ja_JP: 使用するGeminiモデル（プロバイダー設定またはgemini-2.5-flashがデフォルト）
            pt_BR: Gemini model to use (defaults to provider setting or gemini-2.5-flash)
            zh_Hans: 要使用的Gemini模型（默认为提供商设置或gemini-2.5-flash）
          label:
            en_US: Model
            ja_JP: モデル
            pt_BR: Model
            zh_Hans: 模型
          llm_description: Optional model override
          max: null
          min: null
          name: model
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          file_search_store_name: ''
          include_citations: ''
          metadata_filter: ''
          model: ''
          query: ''
        plugin_id: r3-yamauchi/gemini_file_search
        plugin_unique_identifier: r3-yamauchi/gemini_file_search:0.0.1@a9cf50b020b00b20f3b3f462d697f797517551d5d8bb8bf7ef078847080cabeb
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=7c8ea1f1-d371-448a-846c-af9a868d7d0f&filename=3f9d718ced2ecb925cbe752d6311f3966405463315b8e898110f0a8cca969899.svg
        provider_id: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_name: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_type: builtin
        selected: false
        title: ファイル検索ストアを指定して検索
        tool_configurations: {}
        tool_description: Geminiの RAG機能を使用して、ファイル検索ストア内のインデックス化されたドキュメント全体でセマンティック検索を実行します
        tool_label: ファイル検索ストアを指定して検索
        tool_name: search
        tool_node_version: '2'
        tool_parameters:
          file_search_store_name:
            type: mixed
            value: '{{#1761291739140.gemini_store_id#}}'
          include_citations:
            type: constant
            value: true
          metadata_filter:
            type: mixed
            value: ''
          model:
            type: mixed
            value: gemini-2.5-flash
          query:
            type: mixed
            value: '{{#1770962567547.q#}}'
        type: tool
      height: 52
      id: '1770356105216'
      position:
        x: 5610
        y: 377
      positionAbsolute:
        x: 5610
        y: 377
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 0a18d5ce-292c-4470-9661-c09ab872f046
            value: true
            varType: boolean
            variable_selector:
            - conversation
            - DevRoute
          id: 'true'
          logical_operator: and
        selected: false
        title: DEV
        type: if-else
      height: 124
      id: '1770356163928'
      position:
        x: 4906
        y: 252
      positionAbsolute:
        x: 4906
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1770356105216'
          - text
          variable_selector:
          - conversation
          - context_rag
          write_mode: over-write
        selected: false
        title: SET_RAG
        type: assigner
        version: '2'
      height: 84
      id: '1770356226003'
      position:
        x: 5952
        y: 361
      positionAbsolute:
        x: 5952
        y: 361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(raw_input: str) -> dict:\n    \"\"\"\n    Desktop\
          \ Intelligence Protocol Parser v2.2 (Robust Mode)\n    Safe for both JSON\
          \ Protocol (Frontend) and Plain Text (Dify Debug).\n    \"\"\"\n    \n \
          \   # 1. デフォルト値の初期化 (全て空文字)\n    extracted_text = \"\"\n    extracted_store_id\
          \ = \"\"\n    extracted_store_name = \"\"\n\n    # 2. 入力が空(None)の場合のガード\n\
          \    if raw_input is None:\n        return {\n            \"text\": \"\"\
          ,\n            \"gemini_store_id\": \"\",\n            \"gemini_store_name\"\
          : \"\"\n        }\n\n    # 入力を文字列化してとりあえずテキストとして保持 (デバッグ用)\n    extracted_text\
          \ = str(raw_input)\n\n    try:\n        # 3. JSONパースの試行\n        data =\
          \ json.loads(raw_input)\n        \n        # パース成功し、かつ辞書型である場合のみ構造解析を行う\n\
          \        if isinstance(data, dict):\n            \n            # --- Text\
          \ Extraction ---\n            # contentキーがあり、かつ辞書型の場合\n            content_block\
          \ = data.get(\"content\")\n            if isinstance(content_block, dict):\n\
          \                extracted_text = content_block.get(\"text\", \"\")\n  \
          \          # もしcontentが文字列ならそれを採用\n            elif isinstance(content_block,\
          \ str):\n                extracted_text = content_block\n            \n\
          \            # --- Store ID Extraction ---\n            dify_inputs = data.get(\"\
          dify_inputs\")\n            # dify_inputsが辞書型であることを確認してからアクセス (ここがエラーの原因でした)\n\
          \            if isinstance(dify_inputs, dict):\n                if \"gemini_store_id\"\
          \ in dify_inputs:\n                    extracted_store_id = dify_inputs[\"\
          gemini_store_id\"]\n            \n            # Fallback to Context ID\n\
          \            if not extracted_store_id:\n                context = data.get(\"\
          context\")\n                if isinstance(context, dict):\n            \
          \        selected_ids = context.get(\"selected_store_ids\")\n          \
          \          if isinstance(selected_ids, list) and len(selected_ids) > 0:\n\
          \                        extracted_store_id = selected_ids[0]\n\n      \
          \      # --- Store Name Extraction ---\n            context = data.get(\"\
          context\")\n            if isinstance(context, dict):\n                selected_names\
          \ = context.get(\"selected_store_names\")\n                if isinstance(selected_names,\
          \ list) and len(selected_names) > 0:\n                    extracted_store_name\
          \ = selected_names[0]\n\n    except (json.JSONDecodeError, TypeError):\n\
          \        # JSONでない場合（デバッグでの直接入力など）は、\n        # extracted_text = raw_input\
          \ のまま処理を続行する（エラーにしない）\n        pass\n    except Exception as e:\n      \
          \  # その他の予期せぬエラーはログに出して、デフォルト値を返す\n        print(f\"Parser Warning: {e}\"\
          )\n\n    # 4. 結果の返却\n    return {\n        \"text\": extracted_text,\n \
          \       \"gemini_store_id\": extracted_store_id,\n        \"gemini_store_name\"\
          : extracted_store_name\n    }"
        code_language: python3
        outputs:
          gemini_store_id:
            children: null
            type: string
          gemini_store_name:
            children: null
            type: string
          text:
            children: null
            type: string
        selected: false
        title: PROTOCOL_PARSER
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: raw_input
      height: 52
      id: '1770869430347'
      position:
        x: 342
        y: 133
      positionAbsolute:
        x: 342
        y: 133
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 28b07bb7-7176-4a76-ab24-211983519237
            value: 'true'
            varType: string
            variable_selector:
            - '1761291739140'
            - rag_enabled
          id: 'true'
          logical_operator: and
        selected: false
        title: GATE_Check_Search_Mode
        type: if-else
      height: 124
      id: '1770871562386'
      position:
        x: 2816
        y: 115
      positionAbsolute:
        x: 2816
        y: 115
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: b695f1a9-a7a1-4314-b497-cf46a845994b
          role: system
          text: "# Role\nあなたは、ユーザーの入力を解析し、最適な処理フローを決定する「インテント・アナリスト（RAG特化モード）」です。\n\
            現在の設定では **Web検索は無効化 (OFF)** されています。\nユーザーの質問が「雑談・履歴への言及」なのか、それとも「社内ドキュメント(RAG)の検索が必要」なのかを厳密に判定し、JSON形式で制御信号を出力してください。\n\
            \n# Classification Rules (Strict RAG Mode)\n\n## 0. Context Binding (Highest\
            \ Priority: Store Content Analysis)\n**入力データに「ストア内ファイルの要約情報 (Content Summary)」が存在する場合、以下のルールを絶対優先してください。**\n\
            \n- **コンテキストの具体化**:\n  - ストア名だけでなく、**要約情報に含まれる具体的な「ファイル名」や「プロジェクト名」**を文脈として採用してください。\n\
            \  - ユーザーが「これについて教えて」「概要は？」と曖昧に質問した場合、要約情報内で最も関連性の高いファイルやトピックを特定し、それを主語として補完してください。\n\
            \n- **質問文への再構成 (Context Injection)**:\n  - ユーザーの入力: 「経費」\n  - 要約情報: 「旅費交通費規程_2024.pdf」「接待交際費ルール.doc」が含まれている。\n\
            \  - **生成すべきクエリ**: 「旅費交通費規程および接待交際費ルールにおける、経費精算の手順と上限額はどうなっていますか？」\n \
            \ - ※このように、単なるキーワードではなく、**要約情報にある用語を使った完全な質問文**を作成してください。\n\n## 1. Context\
            \ Check (History)\n**検索を決定する前に、必ず `Conversation History` を確認してください。**\n\
            - 直前の会話の中に、ユーザーの質問に対する「明確な答え」が既に含まれている場合は、ドキュメント検索を行わず **CHAT** を選択してください。\n\
            \n## 2. Category Determination\n- **CHAT**: \n  - 挨拶、お礼、感情的な共有。\n  - 会話履歴内の情報だけで回答可能な質問（深掘り質問や再確認）。\n\
            \  - AIの一般知識（コードの書き方、翻訳、要約など）で完結するタスク（※ただし、対象ストア名がある場合はTASKを優先）。\n- **TASK**:\
            \ \n  - 社内規定、プロジェクト資料、マニュアル等の特定ドキュメントに関する質問。\n  - **「Webで調べて」と頼まれた場合でも、Web検索は無効なため、代わりに社内ナレッジを検索するか、CHAT（検索不可の旨を伝える）を選択する判断が必要です。**\n\
            \n## 3. Requirements Flags\n- **requires_web**: **Always `false`** (このモードではWeb検索は禁止です)\n\
            - **requires_rag**: `true` if Category is TASK.\n\n# Output Requirements\
            \ (Field Mapping)\n出力するJSONには必ず以下のフィールドを含めてください。\n\n1. `category`: \"\
            CHAT\", \"TASK\"\n2. `thinking`: \n   - ユーザーに対して「状況に合わせた挨拶」と「具体的なアクション」を動的に宣言してください。\n\
            \   - **要約情報を活用したアクション宣言**:\n     - 単に「社内資料を確認します」とするのではなく、要約情報に基づき **「[具体的なファイル名やトピック]の内容を確認します」**\
            \ と宣言してください。\n     - (例: ストア要約に『就業規則』がある場合 → \"就業規則に基づき、休暇申請のルールを確認します\\\
            U0001F4D6\")\n     - (例: ストア要約に『Project-X仕様書』がある場合 → \"Project-Xの仕様書から、技術要件を抽出します\\\
            U0001F50D\")\n\n3. `requires_web`: boolean (常に false)\n4. `requires_rag`:\
            \ boolean\n5. `search_query`: string\n   - RAG検索が必要な場合、ドキュメントに問いかける**「完全な質問文」**を出力してください。\n\
            \   - **重要: Vocabulary Matching**:\n     - 検索ヒット率を高めるため、**「要約情報」に含まれている専門用語や正式名称**を積極的にクエリに含めてください。\n\
            \     - ユーザーが「ルール」と言っても、要約に「ガイドライン」とあれば「ガイドライン」という言葉を使って検索クエリを構成してください。\n\
            \n\n# Output Format (JSON Only)\n必ず `{` で開始し `}` で終了してください。\n\n#### Scenario\
            \ A: RAG検索が必要な場合 (ストア指定あり)\n```json\n{\n  \"category\": \"TASK\",\n  \"\
            thinking\": \"承知いたしました。[対象ストア名]の利用方法について、マニュアルを確認します\U0001F50D\",\n  \"\
            requires_web\": false,\n  \"requires_rag\": true,\n  \"search_query\"\
            : \"[対象ストア名]の具体的な操作手順や使い方はどのようなものですか？\"\n}\n\n```\n\n#### Scenario B:\
            \ 雑談・一般知識\n\n```json\n{\n  \"category\": \"CHAT\",\n  \"thinking\": \"\
            \",\n  \"requires_web\": false,\n  \"requires_rag\": false,\n  \"search_query\"\
            : \"\"\n}\n\n```\n"
        - id: ef524c95-4ecd-45de-9717-8e3d776e0ccc
          role: user
          text: '# Input Data

            ## User Query

            {{#1770869430347.text#}}


            ## Current Time

            {{#1761291739140.current_time#}}


            ## User Profile (Context)

            {{#1761291739140.system_prompt#}}

            ※ここにユーザーの名前(name)や属性が含まれています。`thinking` フィールドの生成時に参照してください。


            ## 選択中のナレッジ（コンテキスト）


            対象ストア名: {{#1770869430347.gemini_store_name#}}


            **▼ ストア内ファイルの要約情報 (Content Summary)**

            {{#1771391749204.text#}}


            (※上記の「要約情報」にファイル一覧や概要が記載されています。ユーザーの質問が、この中のどのファイルやトピックに関連するかを特定し、思考プロセスと検索クエリに反映させてください)


            ## Conversation History (Context)

            ※会話履歴から「初回かどうか」や「文脈」を判断してください。'
        selected: true
        title: LLM_Intent_Analysis
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17708716964770'
      position:
        x: 3560.7220287518776
        y: 261
      positionAbsolute:
        x: 3560.7220287518776
        y: 261
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        output_type: string
        selected: false
        title: intent_result
        type: variable-aggregator
        variables:
        - - '17708716964770'
          - text
        - - '17683770269110'
          - text
      height: 134
      id: '1770871743875'
      position:
        x: 3840
        y: 125
      positionAbsolute:
        x: 3840
        y: 125
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(intent_json: str) -> dict:\n   \
          \ \"\"\"\n    LLMの意図解釈JSONから、最適化された検索クエリ(search_query)を抽出する。\n    JSONパースに失敗した場合やsearch_queryが空の場合は、安全策として空文字を返す。\n\
          \    \"\"\"\n    extracted_query = \"\"\n    \n    try:\n        # Markdownコードブロック記法の除去\
          \ (```json ... ```)\n        clean_text = re.sub(r'```(?:json)?\\s*|\\s*```',\
          \ '', intent_json.strip())\n        \n        # JSONパース\n        data =\
          \ json.loads(clean_text)\n        \n        # search_queryの抽出\n        if\
          \ isinstance(data, dict):\n            extracted_query = data.get('search_query',\
          \ '')\n            \n    except Exception as e:\n        # エラー時はログに出してフォールバック\n\
          \        print(f\"JSON Parse Error: {e}\")\n        extracted_query = \"\
          \"\n\n    return {\n        \"q\": extracted_query\n    }"
        code_language: python3
        outputs:
          q:
            children: null
            type: string
        selected: false
        title: CODE_Extract_RAG_Query
        type: code
        variables:
        - value_selector:
          - '1770871743875'
          - output
          value_type: string
          variable: intent_json
      height: 52
      id: '1770962567547'
      position:
        x: 5268
        y: 377
      positionAbsolute:
        x: 5268
        y: 377
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the file search store to search in (e.g., fileSearchStores/abc123)
            ja_JP: '検索対象のファイル検索ストア名（例: fileSearchStores/abc123）'
            pt_BR: The name of the file search store to search in (e.g., fileSearchStores/abc123)
            zh_Hans: 要搜索的文件搜索存储名称（例如：fileSearchStores/abc123）
          label:
            en_US: Store Name
            ja_JP: ストア名
            pt_BR: Store Name
            zh_Hans: 存储名称
          llm_description: File search store name to query
          max: null
          min: null
          name: file_search_store_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query or question to ask about the documents
            ja_JP: ドキュメントについて尋ねる検索クエリまたは質問
            pt_BR: The search query or question to ask about the documents
            zh_Hans: 要询问文档的搜索查询或问题
          label:
            en_US: Query
            ja_JP: クエリ
            pt_BR: Query
            zh_Hans: 查询
          llm_description: Search query or question
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Include citation information in the response (default: false)'
            ja_JP: 'レスポンスに出典情報を含める（デフォルト: false）'
            pt_BR: 'Include citation information in the response (default: false)'
            zh_Hans: 在响应中包含引用信息（默认：false）
          label:
            en_US: Include Citations
            ja_JP: 出典を含める
            pt_BR: Include Citations
            zh_Hans: 包含引用
          llm_description: Whether to include grounding metadata
          max: null
          min: null
          name: include_citations
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional filter expression (e.g., "author=John Doe") to search
              within a subset of documents
            ja_JP: ドキュメントのサブセット内を検索するオプションのフィルタ式（例：「author=John Doe」）
            pt_BR: Optional filter expression (e.g., "author=John Doe") to search
              within a subset of documents
            zh_Hans: 可选的过滤器表达式（例如："author=John Doe"）以在文档子集中搜索
          label:
            en_US: Metadata Filter
            ja_JP: メタデータフィルタ
            pt_BR: Metadata Filter
            zh_Hans: 元数据过滤器
          llm_description: Optional metadata filter for scoped search
          max: null
          min: null
          name: metadata_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Gemini model to use (defaults to provider setting or gemini-2.5-flash)
            ja_JP: 使用するGeminiモデル（プロバイダー設定またはgemini-2.5-flashがデフォルト）
            pt_BR: Gemini model to use (defaults to provider setting or gemini-2.5-flash)
            zh_Hans: 要使用的Gemini模型（默认为提供商设置或gemini-2.5-flash）
          label:
            en_US: Model
            ja_JP: モデル
            pt_BR: Model
            zh_Hans: 模型
          llm_description: Optional model override
          max: null
          min: null
          name: model
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          file_search_store_name: ''
          include_citations: ''
          metadata_filter: ''
          model: ''
          query: ''
        plugin_id: r3-yamauchi/gemini_file_search
        plugin_unique_identifier: r3-yamauchi/gemini_file_search:0.0.1@a9cf50b020b00b20f3b3f462d697f797517551d5d8bb8bf7ef078847080cabeb
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=7c8ea1f1-d371-448a-846c-af9a868d7d0f&filename=3f9d718ced2ecb925cbe752d6311f3966405463315b8e898110f0a8cca969899.svg
        provider_id: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_name: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_type: builtin
        selected: false
        title: 指定されたストアの要約
        tool_configurations: {}
        tool_description: Geminiの RAG機能を使用して、ファイル検索ストア内のインデックス化されたドキュメント全体でセマンティック検索を実行します
        tool_label: ファイル検索ストアを指定して検索
        tool_name: search
        tool_node_version: '2'
        tool_parameters:
          file_search_store_name:
            type: mixed
            value: '{{#1770869430347.gemini_store_id#}}'
          include_citations:
            type: constant
            value: null
          metadata_filter:
            type: mixed
            value: null
          model:
            type: mixed
            value: gemini-2.5-flash
          query:
            type: mixed
            value: "全ファイルを分析し、要約してください。\n\n【指示】\n1. ファイル一覧を箇条書きで列挙（ファイル名のみ）\n2. 各ファイルの内容を「1ファイル1文」で要約\n\
              3. 最後に全体のテーマを「1文」で記述\n\n【出力形式】\n- ファイル1: [ファイル名]\n  [1文の要約]\n- ファイル2:\
              \ [ファイル名]\n  [1文の要約]\n...\n全体テーマ: [1文]"
        type: tool
      height: 52
      id: '1771391749204'
      position:
        x: 3182.6105406120787
        y: 222.51186735069535
      positionAbsolute:
        x: 3182.6105406120787
        y: 222.51186735069535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1027.5415714884289
      y: 153.86853710089085
      zoom: 0.8705505632961243
  rag_pipeline_variables: []
