public/HybridQA (12).yml
app:
  description: 社内AIチャットボット開発 (Phase 1) 。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: HybridQA
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.10@002971bf0936d741f1645427be35520abb0c9dde89cc110764436c4e6da4bb61
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: r3-yamauchi/gemini_file_search:0.0.1@a9cf50b020b00b20f3b3f462d697f797517551d5d8bb8bf7ef078847080cabeb
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: ''
    id: d44927d2-cb89-4859-b1b8-2ae4d7dc2ad4
    name: requires_web
    selector:
    - conversation
    - requires_web
    value: 'false'
    value_type: string
  - description: ''
    id: 3e088f6d-29c9-418e-b7f6-70911b3584f7
    name: requires_rag
    selector:
    - conversation
    - requires_rag
    value: 'false'
    value_type: string
  - description: ''
    id: d617f70f-1f38-453d-9c7d-cd52c583140f
    name: intent_analysis_thinking
    selector:
    - conversation
    - intent_analysis_thinking
    value: ''
    value_type: string
  - description: ''
    id: 2b57f70b-b7ab-4c71-9eab-7059ea59304f
    name: intent_analysis_log
    selector:
    - conversation
    - intent_analysis_log
    value: ''
    value_type: string
  - description: ''
    id: 6e4de431-0e3b-4b1f-b7f3-4b08e219d1d9
    name: store_summary
    selector:
    - conversation
    - store_summary
    value: ''
    value_type: string
  - description: ''
    id: 6a708509-1da6-4c64-9f59-3667ae436705
    name: context_file_name
    selector:
    - conversation
    - context_file_name
    value: ''
    value_type: string
  - description: 最適化された検索クエリ
    id: f7d8ed98-9085-43e4-adda-9558b3de8f52
    name: optimized_search_query
    selector:
    - conversation
    - optimized_search_query
    value: ''
    value_type: string
  - description: Web検索結果
    id: 38630ad2-9d96-475b-8daa-fca4012bf7e3
    name: context_web
    selector:
    - conversation
    - context_web
    value: []
    value_type: array[string]
  - description: RAG検索結果
    id: ee471556-3e5c-4c12-8e2f-a89b3aab8423
    name: context_rag
    selector:
    - conversation
    - context_rag
    value: []
    value_type: array[string]
  - description: ファイル抽出テキスト
    id: b72b2f7b-8ca9-478d-9e1e-13e88c074c9e
    name: context_file
    selector:
    - conversation
    - context_file
    value: []
    value_type: array[string]
  - description: ''
    id: f21ecbed-b927-4f77-b16d-edc5d6b50621
    name: input_perplexity
    selector:
    - conversation
    - input_perplexity
    value: ''
    value_type: string
  - description: ''
    id: dc709b28-a14d-4585-960c-64cb3857a97a
    name: extracted_text
    selector:
    - conversation
    - extracted_text
    value: ''
    value_type: string
  - description: ''
    id: d3a4c143-2880-43da-9954-dc5984ff034a
    name: temp_result
    selector:
    - conversation
    - temp_result
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: fd405c08-93d7-45e5-b9bc-af8b231ac519
    name: Dev
    selector:
    - env
    - Dev
    value: 'true'
    value_type: string
  - description: ''
    id: 9a180917-ddba-4289-9291-ffd14c16a683
    name: PerplexityApiKey
    selector:
    - env
    - PerplexityApiKey
    value: ''
    value_type: secret
  - description: ''
    id: 506b86a8-bb2d-41c4-b718-7f8d898105cb
    name: GeminiApiKey
    selector:
    - env
    - GeminiApiKey
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1764913411735-true-1764913700839-target
      selected: false
      source: '1764913411735'
      sourceHandle: 'true'
      target: '1764913700839'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: 1764913700839-source-1764924171081-target
      selected: false
      source: '1764913700839'
      sourceHandle: source
      target: '1764924171081'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1764924171081-source-1764913830165-target
      selected: false
      source: '1764924171081'
      sourceHandle: source
      target: '1764913830165'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1765514869301-source-1765515071449-target
      selected: false
      source: '1765514869301'
      sourceHandle: source
      target: '1765515071449'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1762490237953-false-1765854025663-target
      selected: false
      source: '1762490237953'
      sourceHandle: 'false'
      target: '1765854025663'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1765854025663-false-1764913411735-target
      selected: false
      source: '1765854025663'
      sourceHandle: 'false'
      target: '1764913411735'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1765854025663-true-17658598785120-target
      selected: false
      source: '1765854025663'
      sourceHandle: 'true'
      target: '17658598785120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 17658598785120-true-17658598785131-target
      selected: false
      source: '17658598785120'
      sourceHandle: 'true'
      target: '17658598785131'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: 17658598785131-source-17658598785133-target
      selected: false
      source: '17658598785131'
      sourceHandle: source
      target: '17658598785133'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 17658598785133-source-17658598785132-target
      selected: false
      source: '17658598785133'
      sourceHandle: source
      target: '17658598785132'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665499392760-source-1765854668107-target
      selected: false
      source: '17665499392760'
      sourceHandle: source
      target: '1765854668107'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665500976990-source-1765859958399-target
      selected: false
      source: '17665500976990'
      sourceHandle: source
      target: '1765859958399'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665511958080-source-1765345440190-target
      selected: false
      source: '17665511958080'
      sourceHandle: source
      target: '1765345440190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665512107830-source-17655153615920-target
      selected: false
      source: '17665512107830'
      sourceHandle: source
      target: '17655153615920'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665512248470-source-17655153626170-target
      selected: false
      source: '17665512248470'
      sourceHandle: source
      target: '17655153626170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665512406710-source-17655153635450-target
      selected: false
      source: '17665512406710'
      sourceHandle: source
      target: '17655153635450'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17665517422840-source-1765345427966-target
      selected: false
      source: '17665517422840'
      sourceHandle: source
      target: '1765345427966'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1764914157100-false-1765514869301-target
      selected: false
      source: '1764914157100'
      sourceHandle: 'false'
      target: '1765514869301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1764914026588-false-1764914157100-target
      selected: false
      source: '1764914026588'
      sourceHandle: 'false'
      target: '1764914157100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 17696657120690-source-1765514869301-target
      selected: false
      source: '17696657120690'
      sourceHandle: source
      target: '1765514869301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1769666802121-source-1769668260271-target
      selected: false
      source: '1769666802121'
      sourceHandle: source
      target: '1769668260271'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1769668260271'
        sourceType: iteration-start
        targetType: http-request
      id: 1769668260271start-source-1769668322968-target
      selected: false
      source: 1769668260271start
      sourceHandle: source
      target: '1769668322968'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: llm
      id: 1769668260271-source-1769668477538-target
      selected: false
      source: '1769668260271'
      sourceHandle: source
      target: '1769668477538'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1769668477538-source-17696657120690-target
      selected: false
      source: '1769668477538'
      sourceHandle: source
      target: '17696657120690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1769666720110-source-1769754087217-target
      selected: false
      source: '1769666720110'
      sourceHandle: source
      target: '1769754087217'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1769754087217-false-1769666802121-target
      selected: false
      source: '1769754087217'
      sourceHandle: 'false'
      target: '1769666802121'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1769754087217-true-17697542686310-target
      selected: false
      source: '1769754087217'
      sourceHandle: 'true'
      target: '17697542686310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 17697542971160-source-1765514869301-target
      selected: false
      source: '17697542971160'
      sourceHandle: source
      target: '1765514869301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: 17697558915520-source-17697542971160-target
      selected: false
      source: '17697558915520'
      sourceHandle: source
      target: '17697542971160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 17697542686310-source-17697558915520-target
      selected: false
      source: '17697542686310'
      sourceHandle: source
      target: '17697558915520'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 17658598785120-false-17665500976990-target
      selected: false
      source: '17658598785120'
      sourceHandle: 'false'
      target: '17665500976990'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765343666910-true-17665517422840-target
      selected: false
      source: '1765343666910'
      sourceHandle: 'true'
      target: '17665517422840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765515071449-true-17665511958080-target
      selected: false
      source: '1765515071449'
      sourceHandle: 'true'
      target: '17665511958080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765515071449-908d672e-4c25-44ac-9ee9-4f7fb1b32144-17665512107830-target
      selected: false
      source: '1765515071449'
      sourceHandle: 908d672e-4c25-44ac-9ee9-4f7fb1b32144
      target: '17665512107830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765515071449-false-17665512406710-target
      selected: false
      source: '1765515071449'
      sourceHandle: 'false'
      target: '17665512406710'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1765515071449-f10e65ad-bb00-4cdf-aabf-78811af1ba70-17665512248470-target
      selected: false
      source: '1765515071449'
      sourceHandle: f10e65ad-bb00-4cdf-aabf-78811af1ba70
      target: '17665512248470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: assigner
      id: 1770356105216-source-1770356226003-target
      selected: false
      source: '1770356105216'
      sourceHandle: source
      target: '1770356226003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1770356226003-source-1764914157100-target
      selected: false
      source: '1770356226003'
      sourceHandle: source
      target: '1764914157100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1762490237953-true-answer-target
      selected: false
      source: '1762490237953'
      sourceHandle: 'true'
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1761291739140-source-1770869430347-target
      selected: false
      source: '1761291739140'
      sourceHandle: source
      target: '1770869430347'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1770869430347-source-1762490237953-target
      selected: false
      source: '1770869430347'
      sourceHandle: source
      target: '1762490237953'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1764913830165-source-1770871562386-target
      selected: false
      source: '1764913830165'
      sourceHandle: source
      target: '1770871562386'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1764913411735-false-1770871562386-target
      selected: false
      source: '1764913411735'
      sourceHandle: 'false'
      target: '1770871562386'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: if-else
      id: 1770871743875-source-1765343666910-target
      selected: false
      source: '1770871743875'
      sourceHandle: source
      target: '1765343666910'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 17715726019570-source-1770356105216-target
      selected: false
      source: '17715726019570'
      sourceHandle: source
      target: '1770356105216'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1771391749204-source-17715726019570-target
      selected: false
      source: '1771391749204'
      sourceHandle: source
      target: '17715726019570'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1764914026588-f1ff0762-98d8-4a18-aab1-434d65b19404-1771573783623-target
      selected: false
      source: '1764914026588'
      sourceHandle: f1ff0762-98d8-4a18-aab1-434d65b19404
      target: '1771573783623'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1771573783623-source-1771391749204-target
      selected: false
      source: '1771573783623'
      sourceHandle: source
      target: '1771391749204'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 17658598785132-source-17665499392760-target
      selected: false
      source: '17658598785132'
      sourceHandle: source
      target: '17665499392760'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 17658598785120-0703a046-f8f7-4b0e-b07b-3794eaee8f40-17665499392760-target
      selected: false
      source: '17658598785120'
      sourceHandle: 0703a046-f8f7-4b0e-b07b-3794eaee8f40
      target: '17665499392760'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770871562386-0dda1cd5-5fd8-44d0-856d-c078d9004207-17708716964770-target
      selected: false
      source: '1770871562386'
      sourceHandle: 0dda1cd5-5fd8-44d0-856d-c078d9004207
      target: '17708716964770'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770871562386-false-17683770269110-target
      selected: false
      source: '1770871562386'
      sourceHandle: 'false'
      target: '17683770269110'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770871562386-true-1771914142140-target
      selected: false
      source: '1770871562386'
      sourceHandle: 'true'
      target: '1771914142140'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 17708716964770-source-1771915112684-target
      selected: false
      source: '17708716964770'
      sourceHandle: source
      target: '1771915112684'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: variable-aggregator
      id: 1771915112684-source-1770871743875-target
      selected: false
      source: '1771915112684'
      sourceHandle: source
      target: '1770871743875'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 17683770269110-source-1771915148504-target
      selected: false
      source: '17683770269110'
      sourceHandle: source
      target: '1771915148504'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: variable-aggregator
      id: 1771915148504-source-1770871743875-target
      selected: false
      source: '1771915148504'
      sourceHandle: source
      target: '1770871743875'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1771914142140-source-1771915161869-target
      selected: false
      source: '1771914142140'
      sourceHandle: source
      target: '1771915161869'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: variable-aggregator
      id: 1771915161869-source-1770871743875-target
      selected: false
      source: '1771915161869'
      sourceHandle: source
      target: '1770871743875'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1765343666910-false-1764914026588-target
      selected: false
      source: '1765343666910'
      sourceHandle: 'false'
      target: '1764914026588'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1764914157100-1db66d52-c4bb-4b05-a087-6a73781c2d5b-1771998847270-target
      source: '1764914157100'
      sourceHandle: 1db66d52-c4bb-4b05-a087-6a73781c2d5b
      target: '1771998847270'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771998847270-false-1769666720110-target
      source: '1771998847270'
      sourceHandle: 'false'
      target: '1769666720110'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771998847270-true-17719989311170-target
      source: '1771998847270'
      sourceHandle: 'true'
      target: '17719989311170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17719989311170-source-17719994416790-target
      source: '17719989311170'
      sourceHandle: source
      target: '17719994416790'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 17719994416790-source-17719995520230-target
      source: '17719994416790'
      sourceHandle: source
      target: '17719995520230'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: 17719995520230-source-17719995621490-target
      source: '17719995520230'
      sourceHandle: source
      target: '17719995621490'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 17719995621490-source-1765514869301-target
      source: '17719995621490'
      sourceHandle: source
      target: '1765514869301'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 開始
        type: start
        variables:
        - default: false
          hint: ''
          label: isDebugMode
          max_length: 48
          options:
          - ''
          placeholder: ''
          required: false
          type: checkbox
          variable: isDebugMode
        - default: ''
          hint: ''
          label: Search Domain Filter
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: domain_filter
        - default: false
          hint: ''
          label: Web Enabled
          max_length: 48
          options:
          - auto
          - force
          - 'off'
          placeholder: ''
          required: true
          type: checkbox
          variable: web_enabled
        - default: false
          hint: ''
          label: RAG Enabled
          max_length: 48
          options:
          - 'true'
          - 'false'
          - auto
          placeholder: ''
          required: true
          type: checkbox
          variable: rag_enabled
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: "[\n  {\n    \"source_name\": \"社内稟議規定_2025改定版.pdf\",\n    \"content\"\
            : \"第3条（決裁権限基準）\\n物品購入およびサービス契約における承認フローは以下の通り定める。\\n1. 10万円未満：直属の課長承認\\\
            n2. 10万円以上50万円未満：部長承認\\n3. 50万円以上100万円未満：本部長決裁\\n4. 100万円以上：役員会決裁\\n\\\
            n第5条（SaaS利用の特例）\\n金額に関わらず、クラウドサービス（SaaS）の新規契約においては、情報システム部による「セキュリティチェックシート」の提出と承認（決裁者：情シス部長）が必須となる。これは無料プランの業務利用も含む。\\\
            n\\n第8条（緊急決裁）\\n災害時やシステム障害時など、緊急を要する場合は事後承認を認めるが、発生から3営業日以内に正規のフローで申請を行うこと。\"\
            \n  },\n  {\n    \"source_name\": \"ITセキュリティガイドライン_v3.2.docx\",\n    \"\
            content\": \"3-1. パスワードポリシー\\n社内システムおよび連携する外部クラウドサービス（SaaS）のパスワードは以下の要件を満たす必要がある。\\\
            n- 文字数：12文字以上\\n- 構成：大文字、小文字、数字、記号の4種類すべてを混在させること\\n- 変更頻度：定期的変更は求めないが、漏洩が疑われる場合は直ちに変更すること\\\
            n- 禁止事項：氏名、社員番号、誕生日など推測容易な文字列の使用\\n\\n4-2. 生成AIの利用規定\\n- 当社が契約している「ChatGPT\
            \ Enterprise」および本プロジェクトで開発中の「社内AIチャットボット」以外の生成AIサービスへの業務データの入力は原則禁止とする。\\\
            n- 翻訳DeepL（無料版）への機密情報入力は厳禁。必ずPro版アカウントを使用すること。\\n\\n5-1. デバイス管理\\n- 私物PC、私物スマートフォンの業務ネットワーク接続（BYOD）は、事前に申請し「MDM（モバイルデバイス管理ツール）」を導入した端末に限り許可する。\\\
            n- USBメモリ等の外部記憶媒体の使用は原則禁止とする。\"\n  },\n  {\n    \"source_name\": \"旅費・経費精算規程_2024.pdf\"\
            ,\n    \"content\": \"第2章 交通費\\n1. 通勤交通費：最も経済的な経路（最安経路）を原則とする。ただし、所要時間が最安経路の0.8倍以下となる場合は、最速経路を認める場合がある。\\\
            n2. タクシー利用：原則禁止。ただし、終電を逃した場合（業務起因に限る）、または公共交通機関での移動が困難な重量物を運搬する場合に限り、部長承認の上で許可する。\\\
            n3. 新幹線・特急：片道100km以上の移動において利用可。指定席利用可。グリーン車は役員のみ可。\\n\\n第4章 接待交際費\\n1.\
            \ 会食基準：1人あたり5,000円（税込）までは会議費として処理可。\\n2. 5,000円を超える場合：事前申請必須（課長承認）。\\\
            n3. 1人あたり10,000円を超える場合：事前申請必須（部長承認）。二次会費用の会社負担は原則認めない。\\n\\n第6章 精算期限\\\
            n経費発生月の翌月3営業日までに「Concur」にて申請を完了すること。期限を過ぎた場合、理由書の提出が必要となる。\"\n  },\n \
            \ {\n    \"source_name\": \"テレワーク勤務規定_v2.1.pdf\",\n    \"content\": \"\
            1. 対象者\\n試用期間（入社3ヶ月）を終了し、業務に支障がないと所属長が認めた正社員および契約社員。\\n\\n2. 実施頻度\\n原則として週3回（月12回）までとする。ただし、育児・介護事由、または感染症拡大防止等の会社指示がある場合はこの上限を解除する。\\\
            n\\n3. 就業場所\\n自宅、実家、または会社が契約しているシェアオフィス（WeWork等）。カフェや公共施設など、セキュリティが担保できない場所（フリーWi-Fi環境下など）での業務は禁止する。\\\
            n\\n4. テレワーク手当\\n実施1日につき250円を支給する。これには光熱費・通信費の補助が含まれる。\\n\\n5. 勤怠管理\\\
            n始業時および終業時に、Slackの「#勤怠連絡」チャンネルにて報告を行うこと。中抜け（通院等）がある場合も同様とする。\"\n  },\n\
            \  {\n    \"source_name\": \"就業規則_第4章_休暇.pdf\",\n    \"content\": \"第12条（年次有給休暇）\\\
            n入社日から6ヶ月継続勤務し、全労働日の8割以上出勤した社員に対し、10日付与する。以降、勤続年数に応じて最大20日まで付与する。有給休暇の取得単位は「1日」「半日」「1時間」とする。\\\
            n\\n第15条（夏季休暇）\\n7月1日から9月30日までの期間において、任意の3日間を特別休暇（有給）として取得できる。業務の都合を考慮し、チーム内で調整の上取得すること。\\\
            n\\n第18条（慶弔休暇）\\n以下の事由が発生した際、申請により特別休暇を付与する。\\n1. 本人が結婚するとき：5日\\n2. 配偶者が出産するとき：2日\\\
            n3. 配偶者、子、父母が死亡したとき：5日\\n4. 兄弟姉妹、祖父母、配偶者の父母が死亡したとき：3日\"\n  }\n]"
          hint: ''
          label: Mock RAG Context
          max_length: 10000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: mock_rag_context
        - default: 2026年1月14日
          hint: ''
          label: Current Time
          max_length: 100
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: current_time
        - default: partner
          hint: ''
          label: AI Style
          max_length: 48
          options:
          - efficient
          - partner
          placeholder: ''
          required: false
          type: select
          variable: ai_style
        - default: ''
          hint: ''
          label: System Prompt
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: system_prompt
        - default: fileSearchStores/aiagentpoc-vky7vjg2u56p
          hint: ''
          label: Gemini Store ID
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: gemini_store_id
        - default: fast
          hint: ''
          label: Reasoning Mode
          options:
          - fast
          - deep
          placeholder: ''
          required: true
          type: select
          variable: reasoning_mode
      height: 343
      id: '1761291739140'
      position:
        x: 0
        y: 60.85130164500299
      positionAbsolute:
        x: 0
        y: 60.85130164500299
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: "{\n  \"answer\": \"### ✅ Dify API 接続成功\\n\\nおめでとうございます。フロントエンドとDifyワークフローの接続が正常に確立されました。\\\
          n\\n現在は **BE Mock Mode (isDebugMode=true)** が有効になっています。\\nこのモードでは、複雑な検索ロジック（Web/RAG）をスキップし、この固定メッセージを返しています。\\\
          n\\n#### 次のステップ\\n実際の検索ロジックをテストするには、フロントエンド上部の **Mock Mode** を **OFF** に切り替えてください。\"\
          ,\n  \"citations\": [\n    {\n      \"id\": \"sys_check\",\n      \"type\"\
          : \"document\",\n      \"source\": \"System Status: OK\",\n      \"url\"\
          : null\n    },\n    {\n      \"id\": \"mode_check\",\n      \"type\": \"\
          web\",\n      \"source\": \"Dify Workflow Config\",\n      \"url\": \"https://cloud.dify.ai\"\
          \n    }\n  ]\n}"
        selected: false
        title: ANSWER_Mock_Mode
        type: answer
        variables: []
      height: 340
      id: answer
      position:
        x: 1046
        y: 401
      positionAbsolute:
        x: 1046
        y: 401
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: beb3e487-31db-4184-84b7-da25c8dd5a6a
            value: true
            varType: boolean
            variable_selector:
            - '1761291739140'
            - isDebugMode
          id: 'true'
          logical_operator: and
        selected: false
        title: GATE_Debug_Mode
        type: if-else
      height: 124
      id: '1762490237953'
      position:
        x: 684
        y: 172
      positionAbsolute:
        x: 684
        y: 172
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 286e9d1a-6318-4f5e-a14d-62beed119c97
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        selected: false
        title: GATE_Has_File
        type: if-else
      height: 124
      id: '1764913411735'
      position:
        x: 1408
        y: 199
      positionAbsolute:
        x: 1408
        y: 199
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: TOOL_Doc_Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '1764913700839'
      position:
        x: 1770
        y: 221
      positionAbsolute:
        x: 1770
        y: 221
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1764913700839'
          - text
          variable_selector:
          - conversation
          - context_file
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1764924171081'
          - filename
          variable_selector:
          - conversation
          - context_file_name
          write_mode: over-write
        selected: false
        title: SET_File_Context
        type: assigner
        version: '2'
      height: 110
      id: '1764913830165'
      position:
        x: 2454
        y: 218
      positionAbsolute:
        x: 2454
        y: 218
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: f1ff0762-98d8-4a18-aab1-434d65b19404
          conditions:
          - comparison_operator: is
            id: d35f5690-ac91-4988-8078-50ea5f17ae47
            value: true
            varType: boolean
            variable_selector:
            - '1761291739140'
            - rag_enabled
          - comparison_operator: not empty
            id: 55029fe2-ab26-40a4-85e7-b24b96acea1e
            value: ''
            varType: string
            variable_selector:
            - '1761291739140'
            - gemini_store_id
          - comparison_operator: contains
            id: 80739dec-8050-40fb-83b5-24963023ee9a
            value: 'true'
            varType: string
            variable_selector:
            - conversation
            - requires_rag
          id: f1ff0762-98d8-4a18-aab1-434d65b19404
          logical_operator: and
        selected: false
        title: GATE_RAG_Required
        type: if-else
      height: 176
      id: '1764914026588'
      position:
        x: 4586
        y: 435
      positionAbsolute:
        x: 4586
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 1db66d52-c4bb-4b05-a087-6a73781c2d5b
          conditions:
          - comparison_operator: is
            id: 2d8ce6d6-fef6-4012-b6f0-25092e665cd2
            value: true
            varType: boolean
            variable_selector:
            - '1761291739140'
            - web_enabled
          - comparison_operator: contains
            id: 8845f40e-e343-46b8-be3c-e530a0081ac7
            value: 'true'
            varType: string
            variable_selector:
            - conversation
            - requires_web
          id: 1db66d52-c4bb-4b05-a087-6a73781c2d5b
          logical_operator: and
        selected: false
        title: GATE_Web_Search_Check
        type: if-else
      height: 150
      id: '1764914157100'
      position:
        x: 6678
        y: 526
      positionAbsolute:
        x: 6678
        y: 526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(files: list) -> dict:\n    if not files or\
          \ len(files) == 0:\n        return {\n            \"filename\": \"[]\"\n\
          \        }\n    \n    # ファイル名リストを作成\n    filenames = []\n    for file_obj\
          \ in files:\n        name = file_obj.get('filename') or file_obj.get('name')\
          \ or 'Uploaded File'\n        filenames.append(name)\n    \n    # JSON文字列として返す\
          \ (例: '[\"Difyコスト試算.pdf\", \"LLM選定.pdf\"]')\n    return {\n        \"filename\"\
          : json.dumps(filenames, ensure_ascii=False)\n    }"
        code_language: python3
        outputs:
          filename:
            children: null
            type: string
        selected: false
        title: CODE_Extract_Filenames
        type: code
        variables:
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
      height: 52
      id: '1764924171081'
      position:
        x: 2112
        y: 247
      positionAbsolute:
        x: 2112
        y: 247
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: f4266556-5380-434d-af54-f52a7611e527
            value: CHAT
            varType: string
            variable_selector:
            - '1770871743875'
            - output
          id: 'true'
          logical_operator: and
        selected: false
        title: Check Intent Type
        type: if-else
      height: 124
      id: '1765343666910'
      position:
        x: 4224
        y: 222
      positionAbsolute:
        x: 4224
        y: 222
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665517422840.text#}}'
        selected: false
        title: ANSWER_Chat
        type: answer
        variables: []
      height: 102
      id: '1765345427966'
      position:
        x: 4928
        y: 245
      positionAbsolute:
        x: 4928
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665511958080.text#}}'
        selected: false
        title: ANSWER_Hybrid
        type: answer
        variables: []
      height: 102
      id: '1765345440190'
      position:
        x: 10784
        y: 593
      positionAbsolute:
        x: 10784
        y: 593
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(files: list, context_rag: str, context_web:\
          \ str, context_file: str, intent_result: str) -> dict:\n    \"\"\"\n   \
          \ Route Decision Logic v4.1 (Pure Context-based Routing)\n    \"\"\"\n \
          \   \n    # --- 1. カテゴリの取得 (TASK or CHAT) ---\n    category = \"TASK\"\n\
          \    try:\n        clean_text = re.sub(r'```(?:json)?\\s*|\\s*```', '',\
          \ intent_result.strip())\n        intent_data = json.loads(clean_text)\n\
          \        category = intent_data.get('category', 'TASK')\n    except Exception:\n\
          \        pass\n\n    # --- 2. 雑談の即時バイパス ---\n    # 純粋な雑談・挨拶 (CHAT) の場合はコンテキストを無視して即座にGENERALへ\n\
          \    if category == \"CHAT\":\n        return {\"route\": \"GENERAL\"}\n\
          \n    # --- 3. コンテキストの実体の有無を判定 ---\n    # ファイル: 新規アップロード または 履歴内のファイル\n\
          \    has_file = (files is not None and len(files) > 0) or bool(context_file\
          \ and len(str(context_file).strip()) > 50)\n    \n    # RAG/Web: 文字列が存在し、かつ一定の長さがあるかだけで判定\n\
          \    # ※Pre-Checkでバイパスされても、過去のコンテキストが保持されていればTrueとなる\n    has_rag = bool(context_rag\
          \ and len(str(context_rag).strip()) > 10)\n    has_web = bool(context_web\
          \ and len(str(context_web).strip()) > 10)\n\n    # --- 4. ルーティング決定 (Standard\
          \ Matrix) ---\n    route = \"GENERAL\"\n    \n    if has_file:\n       \
          \ if has_rag or has_web:\n            route = \"HYBRID\"\n        else:\n\
          \            route = \"DOCUMENT\"\n    else:\n        if has_rag and has_web:\n\
          \            route = \"HYBRID\"\n        elif has_rag or has_web:\n    \
          \        route = \"SEARCH\"\n        else:\n            route = \"GENERAL\"\
          \n            \n    return {\n        \"route\": route\n    }"
        code_language: python3
        desc: Pattern Router
        outputs:
          route:
            children: null
            type: string
        selected: false
        title: CODE_Route_Decision
        type: code
        variables:
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
        - value_selector:
          - conversation
          - context_rag
          value_type: string
          variable: context_rag
        - value_selector:
          - conversation
          - context_web
          value_type: string
          variable: context_web
        - value_selector:
          - conversation
          - context_file
          value_type: array[string]
          variable: context_file
        - value_selector:
          - '1770871743875'
          - output
          value_type: string
          variable: intent_result
      height: 80
      id: '1765514869301'
      position:
        x: 9738
        y: 765
      positionAbsolute:
        x: 9738
        y: 765
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 28e4a5f2-b3b8-4efb-ae77-2d478f9369b3
            value: HYBRID
            varType: string
            variable_selector:
            - '1765514869301'
            - route
          id: 'true'
          logical_operator: and
        - case_id: 908d672e-4c25-44ac-9ee9-4f7fb1b32144
          conditions:
          - comparison_operator: is
            id: 9cc6ad8c-eff8-42b0-b5c0-d3b1afcb8ef0
            value: DOCUMENT
            varType: string
            variable_selector:
            - '1765514869301'
            - route
          id: 908d672e-4c25-44ac-9ee9-4f7fb1b32144
          logical_operator: and
        - case_id: f10e65ad-bb00-4cdf-aabf-78811af1ba70
          conditions:
          - comparison_operator: is
            id: da0a43ed-0eb0-4602-9aff-b68d900906ef
            value: SEARCH
            varType: string
            variable_selector:
            - '1765514869301'
            - route
          id: f10e65ad-bb00-4cdf-aabf-78811af1ba70
          logical_operator: and
        selected: false
        title: ROUTER_Response_Pattern
        type: if-else
      height: 220
      id: '1765515071449'
      position:
        x: 10080
        y: 695
      positionAbsolute:
        x: 10080
        y: 695
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665512107830.text#}}'
        selected: false
        title: ANSWER_Document
        type: answer
        variables: []
      height: 102
      id: '17655153615920'
      position:
        x: 10784
        y: 791
      positionAbsolute:
        x: 10784
        y: 791
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665512248470.text#}}'
        selected: false
        title: ANSWER_Search
        type: answer
        variables: []
      height: 102
      id: '17655153626170'
      position:
        x: 10784
        y: 1187
      positionAbsolute:
        x: 10784
        y: 1187
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665512406710.text#}}'
        selected: false
        title: ANSWER_General
        type: answer
        variables: []
      height: 102
      id: '17655153635450'
      position:
        x: 10784
        y: 989
      positionAbsolute:
        x: 10784
        y: 989
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 7afb1642-a224-48e2-842b-1395cef1bc3e
            value: false
            varType: boolean
            variable_selector:
            - '1761291739140'
            - rag_enabled
          - comparison_operator: is
            id: 8ebf5e62-bce5-4839-a29a-44973d2b4441
            value: false
            varType: boolean
            variable_selector:
            - '1761291739140'
            - web_enabled
          id: 'true'
          logical_operator: and
        selected: false
        title: GATE_Not_Web_OR_RAG
        type: if-else
      height: 150
      id: '1765854025663'
      position:
        x: 1046
        y: 171
      positionAbsolute:
        x: 1046
        y: 171
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665499392760.text#}}'
        selected: false
        title: ANSWER_Fast_Doc
        type: answer
        variables: []
      height: 102
      id: '1765854668107'
      position:
        x: 3178
        y: 652
      positionAbsolute:
        x: 3178
        y: 652
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 286e9d1a-6318-4f5e-a14d-62beed119c97
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        - case_id: 0703a046-f8f7-4b0e-b07b-3794eaee8f40
          conditions:
          - comparison_operator: not empty
            id: 6a3fe844-0041-4555-863b-878dd9045be9
            value: ''
            varType: array[string]
            variable_selector:
            - conversation
            - context_file
          id: 0703a046-f8f7-4b0e-b07b-3794eaee8f40
          logical_operator: and
        selected: false
        title: GATE_Has_File_Fast
        type: if-else
      height: 172
      id: '17658598785120'
      position:
        x: 1408
        y: 403
      positionAbsolute:
        x: 1408
        y: 403
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: TOOL_Doc_Extractor
        type: document-extractor
        variable_selector:
        - sys
        - files
      height: 104
      id: '17658598785131'
      position:
        x: 1770
        y: 449
      positionAbsolute:
        x: 1770
        y: 449
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17658598785131'
          - text
          variable_selector:
          - conversation
          - context_file
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17658598785133'
          - filename
          variable_selector:
          - conversation
          - context_file_name
          write_mode: over-write
        selected: false
        title: SET_Fast_File_Context
        type: assigner
        version: '2'
      height: 110
      id: '17658598785132'
      position:
        x: 2454
        y: 446
      positionAbsolute:
        x: 2454
        y: 446
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(files: list) -> dict:\n    if not files or\
          \ len(files) == 0:\n        return {\n            \"filename\": \"[]\"\n\
          \        }\n    \n    # ファイル名リストを作成\n    filenames = []\n    for file_obj\
          \ in files:\n        name = file_obj.get('filename') or file_obj.get('name')\
          \ or 'Uploaded File'\n        filenames.append(name)\n    \n    # JSON文字列として返す\
          \ (例: '[\"Difyコスト試算.pdf\", \"LLM選定.pdf\"]')\n    return {\n        \"filename\"\
          : json.dumps(filenames, ensure_ascii=False)\n    }"
        code_language: python3
        outputs:
          filename:
            children: null
            type: string
        selected: false
        title: CODE_Extract_Filenames_Fast
        type: code
        variables:
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
      height: 52
      id: '17658598785133'
      position:
        x: 2112
        y: 475
      positionAbsolute:
        x: 2112
        y: 475
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17665500976990.text#}}'
        selected: false
        title: ANSWER_Fast_General
        type: answer
        variables: []
      height: 102
      id: '1765859958399'
      position:
        x: 2112
        y: 641
      positionAbsolute:
        x: 2112
        y: 641
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 719bbb6f-05b6-40cb-a9ed-ddbf798ce542
          role: system
          text: "# Role\nあなたは、ユーザーがアップロードした資料をスピーディーかつ丁寧に読み解く「ドキュメント分析パートナー」です。\n\
            **提供されたファイルの内容**と**これまでの会話履歴（Memory）**に基づき、指定された構造化フォーマット（JSON）に従って出力してください。\n\
            \n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\n\
            この設定に基づき、資料の中から**ユーザーが見るべきポイント**を強調してください。\n\n<system_prompt_json>\n{{#1761291739140.system_prompt#}}\n\
            </system_prompt_json>\n\n# Contextual Conversation Rules (重要: メモリの活用)\n\
            Difyのメモリ機能により、これまでの対話履歴が共有されています。以下のルールを厳守してください。\n1. **文脈の継承**: 「その部分についてもっと詳しく」「次のページはどうなってる？」など、指示語や省略を伴う質問には、直前のやり取りとドキュメント内容を照らし合わせて意図を汲み取ってください。\n\
            2. **スマートな応答**: 「資料を確認しました」「はい、お答えします」などのメタな前置きは絶対に禁止です。常にユーザーと資料の内容について直接議論を開始してください。\n\
            \n# Structured Output Generation Rules\n生成する各フィールドには、以下のルールを厳格に適用してください。\n\
            \n## 1. thinking (内部思考プロセス)\n提供されたドキュメントと会話履歴を分析し、Markdownの箇条書き（日本語）で記述してください。（例:\
            \ - **文脈**: 先ほどの予算案に対する深掘り質問, - **着眼点**: 該当セクションの例外規定を抽出する）\n\n## 2. answer\
            \ (回答本文)\nユーザーへ直接提示されるテキストです。Markdownを使用して読みやすく構造化してください。\n- **超・結論ファースト**:\
            \ 挨拶や前置きは一切排除し、検索結果から得られた最も重要な事実（結論）を1文目から直接述べてください。長々とした解説は避け、必要最低限の要点のみを抽出してください。\n\
            - ⚠️**【重要: 高密度情報のテーブル化】**: ユーザーから「一覧」を求められた場合や、列挙するアイテム数が多くなる（目安として5項目以上）場合は、単なる箇条書きの連続を避け、**必ずMarkdownの表（Table）形式で整理して出力**してください。\n\
            - **Citation Rule**: 引用した情報の文末には必ず `[1]` のようなInline Markersを付与してください（末尾の出典リスト作成は禁止）。\n\
            - ⚠️**【重要: Conversational Call-to-Action】**\n  - 回答の最後には必ず、詳細な手順の確認や、関連する周辺情報のチェックを促す「短い問いかけ」を1〜2文で添えてください。\n\
            \  - （例：「結論としては可能ですが、申請の詳しい手順も確認しますか？」「関連する『〇〇規定』についても併せてチェックしておきましょうか？」など）\n\
            - ⚠️**【重要: 主語の明示化】**: 情報の説明や比較表のヘッダーには、単なるファイル名（例：`資料1.pdf`）を使用しないでください。必ず抽出された「資料のタイトル」「システム名」または「提案手法のテーマ」を主語として記述し、ユーザーが直感的に内容を区別できるようにしてください。\n\
            \n\n## 3. citations (出典情報) 【重要】\n提供されたファイル情報を**必ず**リストに含めてください。空配列 `[]`\
            \ で返すことは禁止します。\n- `id`: `cite_1` などの一意のID。\n- `type`: `document` または `file`。\n\
            - `source`: 参照したファイル名（`File Names`から取得）。\n- `url`: ファイルのパスや、識別できる情報。\n\
            - `source`: 必ず「元のファイル名（拡張子含む）」のみを記述してください。資料のタイトルやテーマなどの余計な文字列（例：「資料1.pdf:\
            \ 〇〇システム」）は絶対に含めないでください。\n\n## 4. smart_actions (プロアクティブ提案)\nユーザーの思考を止めないために、次に取るべきアクションを予測し、1〜3つ提案してください。\n\
            ⚠️**【重要: 問いかけへの返答として設計する】**\nここで生成するアクションは、上記の `answer` の最後にAIが行った「問いかけ」に対する、**ユーザー側の自然な「返答」**として機能するように設計してください。\n\
            \n- **type**: `suggested_question`, `deep_dive`, または `web_search`\n- ⚠️**【重要:\
            \ 資料にない情報への対応 (Web検索への誘導)】**\n  提供された社内ドキュメント内に答えが見つからず、「資料にはありませんでした」と回答した場合は、**必ず\
            \ `type: \"web_search\"` を使用して、一般的な外部Web情報として検索し直すボタンを1つ配置**してください。\n\
            - **label**: UIに表示されるボタンのテキスト（短く簡潔に）。\n\n  ⚠️【重要: 抽象化禁止】\n  「関連規定を聞く」のように一般化せず、具体的な規定名やキーワードを含めてください。\n\
            \  （例: ⭕️「はい、『〇〇申請の手順』を詳しく教えて」 ⭕️「社内資料にないので、Webで一般的な『〇〇』について調べて」）\n⚠️【重要】ボタンのラベル(label)には「〇〇.pdfの手法」といったファイル名を含めず、必ず具体的な手法名やテーマ名を含めてください。\n\
            - **icon**: Lucide Reactのアイコン名。（例: `zap`, `file-search`, `globe`, `search`）\n\
            - **payload**: `{\"text\": \"具体的な質問や指示文\"}`\n"
        - id: 828543d6-8a8e-4790-8d4e-9223e50b27f9
          role: user
          text: '# Input Data


            ## 1. File Names

            {{#conversation.context_file_name#}}


            ## 2. File Content

            {{#conversation.context_file#}}


            ## 3. Current Time

            {{#1761291739140.current_time#}}


            ## 4. User Query

            {{#1770869430347.text#}}


            # Instruction

            会話履歴と提供されたファイルの内容を統合的に解釈し、ユーザーの質問に対する回答を生成してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              answer:
                description: ドキュメントに基づく最終的な回答テキスト（Markdown形式。根拠となる記述の文末には必ず [1] などの引用番号を付与すること）
                type: string
              citations:
                description: 【重要】回答の根拠として使用したファイルのリスト。絶対に空配列にせず、提供されたファイル情報を必ず明記すること。
                items:
                  properties:
                    id:
                      description: '引用ID（例: cite_1）'
                      type: string
                    source:
                      description: 参照したファイル名（拡張子含む）
                      type: string
                    type:
                      description: 出典タイプ（必ず 'document' または 'file' とする）
                      type: string
                    url:
                      description: ファイルのパス、またはシステム内で識別可能なURL
                      type: string
                  required:
                  - id
                  - type
                  - source
                  - url
                  type: object
                type: array
              smart_actions:
                description: 資料の内容を踏まえ、ユーザーが次に深掘りしたくなるような質問やドキュメントに関するアクションの提案（1〜3つ）
                items:
                  properties:
                    icon:
                      description: 'Lucide Reactのアイコン名（例: ''file-text'', ''search'',
                        ''book-open''）'
                      type: string
                    label:
                      description: UIのボタンに表示するテキスト。ファイル名（例：siryou2.pdf）は絶対に含めず、必ず「資料のタイトル」や「具体的な手法名・テーマ」を含めてください（例：シーン別カフェ検索システムについて深掘りする）。絵文字は含めない。
                      type: string
                    payload:
                      description: 'アクション実行に必要なデータ。suggested_questionの場合は {''text'':
                        ''質問文''} を含める。'
                      properties:
                        text:
                          type: string
                      type: object
                    type:
                      description: アクションの種類
                      enum:
                      - suggested_question
                      - web_search
                      - deep_dive
                      type: string
                  required:
                  - type
                  - label
                  - icon
                  - payload
                  type: object
                type: array
              thinking:
                description: 提供されたドキュメントと会話履歴を照らし合わせ、どの部分を抽出・解釈して回答するかの内部思考プロセス（Markdownの箇条書き形式）
                type: string
            required:
            - thinking
            - answer
            - citations
            - smart_actions
            type: object
        structured_output_enabled: true
        title: LLM_Fast_Doc
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17665499392760'
      position:
        x: 2816
        y: 462
      positionAbsolute:
        x: 2816
        y: 462
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 719bbb6f-05b6-40cb-a9ed-ddbf798ce542
          role: system
          text: "# Role\nあなたは、ユーザーとの対話を通じて思考を整理する「AIパートナー」です。\n現在、参照すべき外部資料（RAG/Web/ファイル）は提供されていません。あなたの学習済み知識と**これまでの会話履歴（Memory）**に基づき、指定された構造化フォーマット（JSON）に従って出力してください。\n\
            \n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\n\
            この設定を最優先の制約事項として解釈し、自身の振る舞い（Role）や口調を動的に調整してください。\n\n<system_prompt_json>\n\
            {{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\n# Contextual\
            \ Conversation Rules (重要: メモリの活用)\nDifyのメモリ機能により、あなたにはこれまでの会話履歴が提供されています。以下のルールで自然な対話を維持してください。\n\
            1. **文脈の継承**: ユーザーの短い入力（例：「もっと詳しく」「他には？」）に対しては、直前の話題を正確に引き継いで回答してください。\n\
            2. **重複の排除**: 過去のターンで既に説明した定義や基本情報は繰り返さず、差分となる新しい情報や深い洞察を提供してください。\n3.\
            \ **挨拶の省略**: 会話の継続中（2ターン目以降）は、「こんにちは」「承知しました」「ご質問ありがとうございます」などの挨拶や受領の返事は一切禁止です。0秒で結論から書き出してください。\n\
            \n# Structured Output Generation Rules\n生成する各フィールドには、以下のルールを厳格に適用してください。\n\
            \n## 1. thinking (内部思考プロセス)\n回答を出力する前に、会話履歴から文脈をどう解釈したかをMarkdownの箇条書き形式で格納してください。（例:\
            \ - **文脈**: 直前の〇〇に関する追加質問と判断, - **戦略**: 前回の説明との重複を避け、応用例を提示する）\n\n## 2.\
            \ answer (回答本文)\nユーザーへ直接提示されるテキストです。Markdownを使用して読みやすく構造化してください。\n- **超・結論ファースト**:\
            \ 挨拶や前置きは一切排除し、1文目から直接結論を述べてください。冗長な解説は避け、要点のみをスピーディーにまとめてください。\n- ⚠️**【重要:\
            \ 高密度情報のテーブル化】**: ユーザーから「一覧」を求められた場合や、列挙するアイテム数が多くなる（目安として5項目以上）場合は、単なる箇条書きの連続を絶対に避け、**必ずMarkdownの表（Table）形式で整理して出力**してください。\n\
            - ⚠️**【重要: Conversational Call-to-Action】**\n  - 回答の最後には必ず、さらなる詳細の提示や次の作業を促す「短い問いかけ（質問や提案）」を1〜2文で添えてください。\n\
            \  - （例：「まずは要点をまとめました。さらに詳しい解説が必要ですか？」「この方針で、具体的な構成案も作成しましょうか？」など）\n\n\
            \n\n## 3. citations (出典情報)\n外部コンテキストがないため、必ず空配列 `[]` を出力してください。\n\n##\
            \ 4. smart_actions (プロアクティブ提案)\nユーザーの思考を止めないために、次に取るべきアクションを予測し、1〜3つ提案してください。\n\
            ⚠️**【重要: 問いかけへの返答として設計する】**\nここで生成するアクションは、上記の `answer` の最後にAIが行った「問いかけ」に対する、**ユーザー側の自然な「返答」**として機能するように設計してください。\n\
            \n- **type**: `suggested_question`, `deep_dive`, または `web_search`\n- ⚠️**【重要:\
            \ 未知の情報への対応 (Web検索への誘導)】**\n  リアルタイムな情報（天気、株価、最新ニュースなど）や自身の知識にないことを聞かれ、「答えられない」と判断した場合（answerでその旨を伝えた場合）は、**必ず\
            \ `type: \"web_search\"` を使用して、外部Web検索への切り替えを促すボタンを1つ配置**してください。\n- **label**:\
            \ UIに表示されるボタンのテキスト（短く簡潔に）。\n  ⚠️【重要: 抽象化禁止】\n  「詳細を聞く」のように一般化せず、ユーザーが「何について答えるボタンなのか」を一目で分かるようにしてください。\n\
            \  （例: ⭕️「はい、〇〇について詳しく教えて」 ⭕️「はい、Webで『今日の東京の天気』を調べて」）\n- **icon**: Lucide\
            \ Reactのアイコン名。（例: `zap`, `sparkles`, `globe`, `search`）\n- **payload**:\
            \ `{\"text\": \"具体的な質問や指示文\"}` （※web_searchの場合は、検索エンジンにそのまま投げられる具体的なクエリテキストをセットしてください）"
        - id: 213a941e-d1b3-4eb3-8610-9009414820c3
          role: user
          text: '# Input Data


            ## Current Time

            {{#1761291739140.current_time#}}


            ## User Query

            {{#1770869430347.text#}}


            # Instruction

            会話履歴と上記の情報に基づいて、ユーザーの質問に対する回答を生成してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              answer:
                description: ユーザーへの最終的な回答テキスト（Markdown形式。見出しや絵文字を使用し、結論から簡潔に述べること）
                type: string
              citations:
                description: 外部資料を参照していないため、ここは必ず空配列 [] を出力してください。
                items:
                  properties:
                    id:
                      type: string
                    source:
                      type: string
                    type:
                      type: string
                    url:
                      type: string
                  type: object
                type: array
              smart_actions:
                description: 現在の文脈を踏まえ、ユーザーが次に取るべきアクションや関連質問の提案（1〜3つ）
                items:
                  properties:
                    icon:
                      description: 'Lucide Reactのアイコン名（例: ''sparkles'', ''search'',
                        ''arrow-right''）'
                      type: string
                    label:
                      description: 'UIのボタンに表示するテキスト（例: ''詳細を深掘り解説''）。絵文字は含めない。'
                      type: string
                    payload:
                      description: 'アクション実行に必要なデータ。suggested_questionの場合は {''text'':
                        ''質問文''} を含める。'
                      properties:
                        text:
                          type: string
                      type: object
                    type:
                      description: アクションの種類
                      enum:
                      - suggested_question
                      - web_search
                      - deep_dive
                      type: string
                  required:
                  - type
                  - label
                  - icon
                  - payload
                  type: object
                type: array
              thinking:
                description: 会話履歴とユーザーの意図を分析し、最適な回答戦略を練る内部思考プロセス（Markdownの箇条書き形式）
                type: string
            required:
            - thinking
            - answer
            - citations
            - smart_actions
            type: object
        structured_output_enabled: true
        title: LLM_Fast_General
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17665500976990'
      position:
        x: 1770
        y: 633
      positionAbsolute:
        x: 1770
        y: 633
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.2
            top_p: 0.75
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 3cdd3bc0-7d7f-4ce9-b50f-7cb504ae0691
          role: system
          text: "# Role\nあなたは、社内外のあらゆる情報を統合して最適な解を導き出す「ハイブリッド・リサーチパートナー」です。\n**社内ナレッジ（RAG）**、**外部Web検索結果**、**ユーザーがアップロードしたドキュメント**、および**これまでの会話履歴（Memory）**を多角的に分析し、指定された構造化フォーマット（JSON）に従って出力してください。\n\
            \n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\n\
            この設定を最優先の制約事項として解釈し、自身の振る舞い（Role）を動的に調整してください。\n\n<system_prompt_json>\n\
            {{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\n# Contextual\
            \ Conversation Rules (重要: メモリの活用)\nDifyのメモリ機能により、これまでの対話履歴が共有されています。以下のルールを厳守してください。\n\
            1. **文脈の継承**: 指示語や省略を伴う質問には、直前のやり取りと提供された各ソースを照らし合わせて意図を汲み取ってください。\n2.\
            \ **スマートな応答**: 「検索結果を確認しました」「資料を読みました」などのメタな前置きは絶対に禁止です。0秒で回答から書き出してください。\n\
            \n# Structured Output Generation Rules\n生成する各フィールドには、以下のルールを厳格に適用してください。\n\
            \n## 1. thinking (内部思考プロセス)\n最大3種類の情報源（RAG / Web / Document）をどのように組み合わせ、補完・比較するかをMarkdownの箇条書きで記述してください。（例:\
            \ - **Document分析**: ..., - **RAGとの照合**: ..., - **Web情報での補完**: ..., - **統合戦略**:\
            \ ...）\n※提供されていない情報源がある場合は、その旨を認識した上で戦略を立ててください。\n\n## 2. answer (回答本文)\n\
            ユーザーへ直接提示されるテキストです。Markdownを使用して読みやすく構造化してください。\n- **結論ファースト**: 冒頭（`###\
            \ 結論 \U0001F680` など）で核心を突いてください。\n- ⚠️**【重要: 高密度情報のテーブル化】**: 情報量が多い場合（比較表や一覧など）は、**必ずMarkdownの表（Table）形式で整理して出力**してください。特に「社内基準」と「一般基準（Web）」の比較などは表形式を強く推奨します。\n\
            - **Citation Rule**: 引用した情報の文末には必ず `[1]` のようなInline Markersを付与してください（末尾の出典リスト作成は禁止）。\n\
            - ⚠️**【重要: Conversational Call-to-Action】**\n  - 回答の最後には必ず、社内と社外の情報を踏まえた「次の打ち手」や「比較の深掘り」を促す「短い問いかけ」を1〜2文で添えてください。\n\
            \  - （例：「社内基準はクリアしていますが、他社の最新事例（Web）とも比較してみますか？」「この最新技術を、社内の〇〇プロジェクトにどう適用するか議論しましょうか？」など）\n\
            - ⚠️**【重要: 主語の明示化】**: 情報の説明や比較表のヘッダーには、単なるファイル名（例：`資料1.pdf`）を使用しないでください。必ず抽出された「資料のタイトル」「システム名」または「提案手法のテーマ」を主語として記述し、ユーザーが直感的に内容を区別できるようにしてください。\n\
            \n## 3. citations (出典情報) 【極めて重要】\n回答の根拠とした情報を**必ず**リストに含めてください。空配列 `[]`\
            \ で返すことは原則禁止です（学習知識のみで答えた場合を除く）。\n情報源に応じて `type` を厳密に指定してください：\n- 社内ナレッジ（RAG）からの引用:\
            \ `type: \"rag\"` (sourceにナレッジ名)\n- Web検索結果からの引用: `type: \"web\"` (sourceにページタイトル、urlにURL)\n\
            - アップロードファイルからの引用: `type: \"document\"` (sourceにファイル名)\n- `source`: RAGやアップロードファイルの場合、必ず「元のファイル名（拡張子含む）」のみを記述してください。資料のタイトルやテーマなどの余計な文字列（例：「資料1.pdf:\
            \ 〇〇システム」）は絶対に含めないでください。\n\n\n## 4. smart_actions (プロアクティブ提案)\nユーザーの思考を止めないために、次に取るべきアクションを予測し、1〜3つ提案してください。\n\
            ⚠️**【重要: 問いかけへの返答として設計する】**\nここで生成するアクションは、上記の `answer` の最後にAIが行った「問いかけ」に対する、**ユーザー側の自然な「返答」**として機能するように設計してください。\n\
            \n- **type**: `suggested_question`, `deep_dive`, または `web_search`\n- **label**:\
            \ UIに表示されるボタンのテキスト（短く簡潔に）。\n  ⚠️【重要: 抽象化禁止】\n  「他社事例を聞く」「プロジェクトへの適用を考える」のように一般化せず、具体的なキーワードを含めてください。\n\
            \  （例: ⭕️「はい、他社の『〇〇』の事例をWebで調べて」 ⭕️「社内の『〇〇プロジェクト』への適用案を出して」）\n⚠️【重要】ボタンのラベル(label)には「〇〇.pdfの手法」といったファイル名を含めず、必ず具体的な手法名やテーマ名を含めてください。\n\
            - **icon**: Lucide Reactのアイコン名。（例: `globe`, `sparkles`, `git-merge`）\n\
            - **payload**: `{\"text\": \"具体的な質問や指示文\"}`"
        - id: 720e2880-6b99-4f54-b077-56ffb08f5ba2
          role: user
          text: '# Input Data


            ## 1. Uploaded Documents

            【File Names】

            {{#conversation.context_file_name#}}

            【Content】

            {{#conversation.context_file#}}


            ## 2. Internal Knowledge (RAG)

            {{#conversation.context_rag#}}


            ## 3. External Web Search Results

            {{#conversation.context_web#}}


            ## 4. Current Time

            {{#1761291739140.current_time#}}


            ## 5. User Query

            {{#1770869430347.text#}}


            # Instruction

            会話履歴と、提供されているすべての情報源（Document, RAG, Web ※空の場合あり）を統合的に解釈し、ユーザーの質問に対する回答を生成してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              answer:
                description: ユーザーへの最終的な回答テキスト（Markdown形式。根拠となる記述の文末には必ず [1][2] などの引用番号を付与し、どの情報源に基づいているかが文脈からも分かるように記述すること）
                type: string
              citations:
                description: 【極めて重要】回答の根拠として使用した情報のリスト。使用したソースの情報を必ず網羅すること。
                items:
                  properties:
                    id:
                      description: '引用ID（例: cite_1）'
                      type: string
                    source:
                      description: 参照したファイル名、ナレッジ名、またはWebサイトのページタイトル
                      type: string
                    type:
                      description: 出典タイプ（社内ナレッジは 'rag'、Web検索結果は 'web'、ユーザーアップロードファイルは
                        'document'）
                      enum:
                      - rag
                      - web
                      - document
                      type: string
                    url:
                      description: ファイルのパス、システムURL、またはWebサイトのURL
                      type: string
                  required:
                  - id
                  - type
                  - source
                  - url
                  type: object
                type: array
              smart_actions:
                description: すべての情報源を踏まえ、ユーザーが次に深掘りしたくなるような質問やアクションの提案（1〜3つ）
                items:
                  properties:
                    icon:
                      description: 'Lucide Reactのアイコン名（例: ''layers'', ''globe'', ''file-text''）'
                      type: string
                    label:
                      description: UIのボタンに表示するテキスト。ファイル名（例：siryou2.pdf）は絶対に含めず、必ず「資料のタイトル」や「具体的な手法名・テーマ」を含めてください（例：シーン別カフェ検索システムについて深掘りする）。絵文字は含めない。
                      type: string
                    payload:
                      description: 'アクション実行に必要なデータ。suggested_questionの場合は {''text'':
                        ''質問文''} を含める。'
                      properties:
                        text:
                          type: string
                      type: object
                    type:
                      description: アクションの種類
                      enum:
                      - suggested_question
                      - web_search
                      - deep_dive
                      type: string
                  required:
                  - type
                  - label
                  - icon
                  - payload
                  type: object
                type: array
              thinking:
                description: 提供された3つの情報源（社内ナレッジ(RAG)、Web検索、アップロードされたドキュメント）をどのように統合・比較して回答を構築するかの内部思考プロセス（Markdownの箇条書き形式）
                type: string
            required:
            - thinking
            - answer
            - citations
            - smart_actions
            type: object
        structured_output_enabled: true
        title: LLM_Hybrid
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17665511958080'
      position:
        x: 10442
        y: 585
      positionAbsolute:
        x: 10442
        y: 585
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 3cdd3bc0-7d7f-4ce9-b50f-7cb504ae0691
          role: system
          text: "# Role\nあなたは、提供された資料を正確に読み解き、ユーザーの業務を支援する「専門ドキュメント・アナリスト」です。\n**提供されたドキュメント（またはナレッジ）の内容のみ**を情報源とし、指定された構造化フォーマット（JSON）に従って出力してください。\n\
            \n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\n\
            この設定を最優先の制約事項として解釈し、自身の振る舞い（Role）を動的に調整してください。\n\n<system_prompt_json>\n\
            {{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\n# Contextual\
            \ Conversation Rules (重要: メモリの活用)\nDifyのメモリ機能により、これまでの対話履歴が共有されています。以下のルールを厳守してください。\n\
            1. **文脈の継承**: 「その表の意味は？」「次のセクションは？」など、指示語や省略を伴う質問には、直前のやり取りとドキュメント内容を照らし合わせて意図を汲み取ってください。\n\
            2. **スマートな応答**: 「資料を確認しました」などのメタな前置きは絶対に禁止です。0秒で回答から書き出してください。\n\n# Structured\
            \ Output Generation Rules\n生成する各フィールドには、以下のルールを厳格に適用してください。\n\n## 1. thinking\
            \ (内部思考プロセス)\nドキュメントのどの部分に該当情報があるかを検索・分析し、Markdownの箇条書きで記述してください。（例: -\
            \ **検索対象**: 第4章 セキュリティ要件, - **分析**: 該当箇所に記載あり、要約して提示する）\n\n## 2. answer\
            \ (回答本文)\nユーザーへ直接提示されるテキストです。Markdownを使用して読みやすく構造化してください。\n- **結論ファースト**:\
            \ 冒頭（`### 結論 \U0001F680` など）で核心を突いてください。\n- ⚠️**【重要: 高密度情報のテーブル化】**: ユーザーから「一覧」を求められた場合や、列挙するアイテム数が多くなる（目安として5項目以上）場合は、単なる箇条書きの連続を避け、**必ずMarkdownの表（Table）形式で整理して出力**してください。\n\
            - **Citation Rule**: 引用した情報の文末には必ず `[1]` のようなInline Markersを付与してください（末尾の出典リスト作成は禁止）。\n\
            - ⚠️**【重要: Conversational Call-to-Action】**\n  - 回答の最後には必ず、業務の次のステップや関連規定の確認を促す「短い問いかけ」を1〜2文で添えてください。\n\
            \  - （例：「〇〇の申請手続きについても確認しておきますか？」「関連する『〇〇ガイドライン』の詳細も深掘りしましょうか？」など）\n-\
            \ ⚠️**【重要: 主語の明示化】**: 情報の説明や比較表のヘッダーには、単なるファイル名（例：`資料1.pdf`）を使用しないでください。必ず抽出された「資料のタイトル」「システム名」または「提案手法のテーマ」を主語として記述し、ユーザーが直感的に内容を区別できるようにしてください。\n\
            \n\n## 3. citations (出典情報) 【極めて重要】\n回答の根拠としたドキュメント情報を**必ず**リストに含めてください。空配列\
            \ `[]` で返すことは重大な規約違反です。\n- `type` は必ず `\"document\"` または `\"rag\"` としてください。\n\
            - `source` にはファイル名を記載してください。\n- `source`: 必ず「元のファイル名（拡張子含む）」のみを記述してください。資料のタイトルやテーマなどの余計な文字列（例：「資料1.pdf:\
            \ 〇〇システム」）は絶対に含めないでください。\n\n## 4. smart_actions (プロアクティブ提案)\nユーザーの思考を止めないために、次に取るべきアクションを予測し、1〜3つ提案してください。\n\
            ⚠️**【重要: 問いかけへの返答として設計する】**\nここで生成するアクションは、上記の `answer` の最後にAIが行った「問いかけ」に対する、**ユーザー側の自然な「返答」**として機能するように設計してください。\n\
            \n- **type**: `suggested_question` または `deep_dive`\n- **label**: UIに表示されるボタンのテキスト（短く簡潔に）。\n\
            \  ⚠️【重要: 抽象化禁止】\n  「関連規定を聞く」「手続きを確認する」のように一般化せず、具体的な規定名やキーワードを含めてください。\n\
            \  （例: ⭕️「はい、『〇〇申請』の手順を教えて」 ⭕️「『〇〇ガイドライン』の該当箇所を詳しく」）\n⚠️【重要】ボタンのラベル(label)には「〇〇.pdfの手法」といったファイル名を含めず、必ず具体的な手法名やテーマ名を含めてください。\n\
            - **icon**: Lucide Reactのアイコン名。（例: `file-text`, `folder-search`, `arrow-right`）\n\
            - **payload**: `{\"text\": \"具体的な質問や指示文\"}`"
        - id: 40b48274-2771-41d1-9e00-97dec03cc1aa
          role: user
          text: '# Input Data


            ## 1. Document Context

            【File Names / Sources】

            {{#conversation.context_file_name#}}



            【Content】

            {{#conversation.context_file#}}



            ## 2. Current Time

            {{#1761291739140.current_time#}}


            ## 3. User Query

            {{#1770869430347.text#}}


            # Instruction

            会話履歴と、提供されたドキュメントコンテキストのみを情報源として解釈し、ユーザーの質問に対する回答を生成してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              answer:
                description: ユーザーへの最終的な回答テキスト（Markdown形式。推測や一般知識を排除し、ドキュメントの記載内容のみに基づいて記述すること。根拠となる記述の文末には必ず
                  [1][2] などの引用番号を付与すること）
                type: string
              citations:
                description: 【極めて重要】回答の根拠として使用したドキュメントのリスト。絶対に空配列にせず、提供されたファイル情報を必ず明記すること。
                items:
                  properties:
                    id:
                      description: '引用ID（例: cite_1）'
                      type: string
                    source:
                      description: 参照したファイル名
                      type: string
                    type:
                      description: 出典タイプ（必ず 'document' または 'rag' とする）
                      type: string
                    url:
                      description: ファイルのパス、または参照可能なURL/ページ番号
                      type: string
                  required:
                  - id
                  - type
                  - source
                  - url
                  type: object
                type: array
              smart_actions:
                description: ドキュメントの内容を踏まえ、ユーザーが次に確認すべきページや、さらに深掘りするためのアクションの提案（1〜3つ）
                items:
                  properties:
                    icon:
                      description: 'Lucide Reactのアイコン名（例: ''file-search'', ''book-open'',
                        ''microscope''）'
                      type: string
                    label:
                      description: UIのボタンに表示するテキスト。ファイル名（例：siryou2.pdf）は絶対に含めず、必ず「資料のタイトル」や「具体的な手法名・テーマ」を含めてください（例：シーン別カフェ検索システムについて深掘りする）。絵文字は含めない。
                      type: string
                    payload:
                      description: 'アクション実行に必要なデータ。suggested_questionの場合は {''text'':
                        ''質問文''} を含める。'
                      properties:
                        text:
                          type: string
                      type: object
                    type:
                      description: アクションの種類（Web検索は含まない）
                      enum:
                      - suggested_question
                      - deep_dive
                      type: string
                  required:
                  - type
                  - label
                  - icon
                  - payload
                  type: object
                type: array
              thinking:
                description: 提供されたドキュメントのどの部分に該当情報があるかを検索し、どのように抽出・要約するかの内部思考プロセス（Markdownの箇条書き形式）
                type: string
            required:
            - thinking
            - answer
            - citations
            - smart_actions
            type: object
        structured_output_enabled: true
        title: LLM_Doc
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17665512107830'
      position:
        x: 10442
        y: 783
      positionAbsolute:
        x: 10442
        y: 783
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 3cdd3bc0-7d7f-4ce9-b50f-7cb504ae0691
          role: system
          text: "# Role\nあなたは、社内ナレッジと最新のWeb情報を統合し、チームの同僚として「洞察」を提供する「インサイト・パートナー」です。\n\
            ユーザーから提供される入力やコンテキストに基づき、「要するにどういうことか（So What?）」を明確に整理し、指定された構造化フォーマットに従って出力してください。\n\
            \n# Core Guidelines\n\n1. **Smart Colleague Mode**:\n   - 信頼できる同僚のような、簡潔で明快な「です・ます」調を使用してください。\n\
            \   - 「こんにちは」「検索しました」などの挨拶や前置きは一切不要です。0秒で結論から書き出してください。\n   - 単なる要約ではなく、「AとBを合わせると、今回はCという対応がベストです」といった洞察（Insight）を加えてください。\n\
            \n2. **Zero-Trust Handling**:\n   - 検索結果や提供された情報が不十分な場合、推測で事実を埋めないでください。「確実な情報はここまでですが、ここからは推測になります」と明確に線引きを行ってください。\n\
            \n3. **Context Awareness (重複排除の徹底)**:\n   - 会話履歴を考慮し、直前の回答で既に詳しく説明した内容（機能一覧や定義など）は繰り返さないでください。\n\
            \   - ユーザーが特定の属性（例：「費用は？」「期間は？」）のみを尋ねている場合、結論（数値や事実）を最優先し、冗長な説明は排除してスマートな差分回答を行ってください。\n\
            \n# Structured Output Generation Rules\n\n生成する各フィールド（thinking, answer,\
            \ citations, smart_actions）には、以下のルールを厳格に適用してください。\n\n## 1. thinking (内部思考プロセス)\n\
            回答を生成する前に、以下の3点を整理してください。（※この内容はユーザーUIのInspector Panelに表示されます）\n- **真意**:\
            \ ユーザーが本当に知りたいこと、達成したい目的は何か。\n- **分析**: 提供された情報の評価、不足している情報の特定。\n- **戦略**:\
            \ どのような構成で回答し、どのアクションを提案すべきか。\n\n## 2. answer (回答本文)\nユーザーへ直接提示されるテキストです。Markdownを使用して読みやすく構造化してください。\n\
            - **結論ファースト**: 冒頭（`### 結論 \U0001F680` など）で核心を突いてください。\n- **構成**: だらだらとした長文は避け、見出し（`###`）と箇条書きを多用し、重要な箇所は**太字**にしてスキャンしやすい構成にしてください。\n\
            - ⚠️**【重要: 高密度情報のテーブル化】**: \n  ユーザーから「一覧」を求められた場合や、列挙するアイテム数が多くなる（目安として5項目以上）場合は、単なる箇条書きの連続を絶対に避け、**必ずMarkdownの表（Table）形式で整理して出力**してください。\n\
            \  （例: `| カテゴリ | 略語 | 意味 |` のようなカラム構成にし、視認性を最大化すること）\n- **Citation Rule\
            \ (重要)**:\n  - 情報を引用した場合は、該当箇所の文末に必ず `[1]` のような番号（Inline Markers）のみを付与してください。\n\
            \  - **テキストの末尾に「参照元」「出典」といったリストを作成することは絶対に禁止です。** 出典リストはUI側で自動生成されます。\n\
            - ⚠️**【重要: Conversational Call-to-Action】**\n  - 回答の最後には必ず、ユーザーの次の思考やアクションを促す「短い問いかけ（質問や提案）」を1〜2文で添えてください。\n\
            - ⚠️**【重要: 主語の明示化】**: 情報の説明や比較表のヘッダーには、単なるファイル名（例：`資料1.pdf`）を使用しないでください。必ず抽出された「資料のタイトル」「システム名」または「提案手法のテーマ」を主語として記述し、ユーザーが直感的に内容を区別できるようにしてください。\n\
            \n## 3. citations (出典情報)\n`answer` 内で引用した情報（`[1]` など）に対応するメタデータを配列として格納してください。\n\
            - `id`: `answer` 内の番号と紐づく識別子（例: `cite_1`）。\n- `type`: `web` または `rag`\
            \ (社内ドキュメント) など。\n- `source`: ページタイトルやドキュメント名。\n- `url`: 参照URL。不明な場合は\
            \ `\"null\"`。\n- `source`: 必ず「元のファイル名（拡張子含む）」のみを記述してください。資料のタイトルやテーマなどの余計な文字列（例：「資料1.pdf:\
            \ 〇〇システム」）は絶対に含めないでください。\n\n## 4. smart_actions (プロアクティブ提案)\nユーザーの思考を止めないために、次に取るべきアクションを予測し、1〜3つ提案してください。\n\
            ⚠️**【重要: 問いかけへの返答として設計する】**\nここで生成するアクションは、上記の `answer` の最後にAIが行った「問いかけ」に対する、**ユーザー側の自然な「返答」**として機能するように設計してください。\n\
            \n- **type**: 以下のいずれかを指定。\n  - `suggested_question`: 次の質問候補をチャットに入力する\n\
            \  - `web_search`: Web検索モードで再検索する\n  - `deep_dive`: より詳細な解説を求める\n- **label**:\
            \ UIに表示されるボタンのテキスト（短く簡潔に。例：「はい、〇〇について教えて」「別の観点から調べたい」など、ユーザーの返答として自然な言葉遣いにする）。\n\
            \  ⚠️【重要: 抽象化禁止】\n  「特定の〇〇」「別の〇〇」のようにキーワードを伏せたり一般化したりしないでください。\n  payload.textに具体的な用語（例：「P.T.」「ROM」など）が含まれる場合は、必ずその具体的なキーワードをlabel内にも明記し、ユーザーが「何について質問するボタンなのか」を一目で分かるようにしてください。\n\
            \  (例: ❌「特定の症状について聞く」 → ⭕️「『P.T.』の意味を聞く」)。**※重要: フロントエンドで専用のアイコンを描画するため、テキスト内に絵文字は絶対に含めないでください。**\n\
            ⚠️【重要】ボタンのラベル(label)には「〇〇.pdfの手法」といったファイル名を含めず、必ず具体的な手法名やテーマ名を含めてください。\n\
            \n- **icon**: Lucide Reactのアイコン名。（例: `sparkles`, `search`, `message-circle-question`）\n\
            - **payload**: アクション実行に必要なデータ。`type` が `suggested_question` の場合は、ユーザーの代わりに入力する質問文として\
            \ `{\"text\": \"具体的な質問文\"}` を必ず含めてください。（例：`{\"text\": \"はい、『ROM』についても教えてください。\"\
            }`）"
        - id: 47bed9c7-8524-46e6-a1ad-f527e121dc97
          role: user
          text: '# Input Data


            ## User Query

            {{#1770869430347.text#}}


            ## Context Data

            - Current Time: {{#1761291739140.current_time#}}

            - Web Search Mode: {{#1761291739140.web_enabled#}}


            ## User Profile (Dynamic Context)

            {{#1761291739140.system_prompt#}}

            ※このプロファイルの `department`（部署）や `role`（役割）に基づき、情報の粒度や専門性を調整してください。また `custom_directives`（指示）がある場合は最優先で従ってください。


            ## 1. Internal Knowledge (RAG)

            {{#conversation.context_rag#}}

            ※ここが空の場合、社内規定は参照していません。


            ## 2. Web Search Results

            {{#conversation.context_web#}}

            ※ここが空の場合、Web検索結果は取得できていません。


            # Instruction

            上記のリソースを使用して、ユーザーの質問に対する「インサイト」を含む回答をJSON形式で生成してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              answer:
                description: ユーザーへの最終的な回答テキスト（Markdown形式。重要な箇所は太字、文末には参照番号 [1] などをつける）。冒頭の挨拶は一切禁止。
                type: string
              citations:
                description: 回答の根拠となる参考情報のリスト
                items:
                  properties:
                    id:
                      description: '引用ID（例: cite_1）'
                      type: string
                    source:
                      description: ページタイトルやドキュメントファイル名
                      type: string
                    type:
                      description: '出典タイプ（例: web, document）'
                      type: string
                    url:
                      description: 参照URLまたはパス
                      type: string
                  required:
                  - id
                  - type
                  - source
                  - url
                  type: object
                type: array
              smart_actions:
                description: ユーザーが次に取るべきアクションのプロアクティブな提案（1〜3つ）
                items:
                  properties:
                    icon:
                      description: 'Lucide Reactのアイコン名（例: ''sparkles'', ''search'',
                        ''message-circle-question''）'
                      type: string
                    label:
                      description: UIのボタンに表示するテキスト。ファイル名（例：siryou2.pdf）は絶対に含めず、必ず「資料のタイトル」や「具体的な手法名・テーマ」を含めてください（例：シーン別カフェ検索システムについて深掘りする）。絵文字は含めない。
                      type: string
                    payload:
                      description: 'アクション実行に必要なデータ。suggested_questionの場合は {''text'':
                        ''質問文''} を含める。'
                      properties:
                        text:
                          type: string
                      type: object
                    type:
                      description: 'アクションの種類。suggested_question: 次の質問, web_search:
                        Web再検索, deep_dive: 詳細解説'
                      enum:
                      - suggested_question
                      - web_search
                      - deep_dive
                      type: string
                  required:
                  - type
                  - label
                  - icon
                  - payload
                  type: object
                type: array
              thinking:
                description: 回答を生成するための真意の汲み取り、分析、戦略などの内部思考プロセス
                type: string
            required:
            - thinking
            - answer
            - citations
            - smart_actions
            type: object
        structured_output_enabled: true
        title: LLM_Search
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17665512248470'
      position:
        x: 10442
        y: 1179
      positionAbsolute:
        x: 10442
        y: 1179
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 3cdd3bc0-7d7f-4ce9-b50f-7cb504ae0691
          role: system
          text: "# Role\nあなたは、ユーザーとの対話を通じてアイデアを拡張し、思考を整理する「AIパートナー」です。\n現在、参照すべき外部資料（RAG/Web/ファイル）は提供されていません。あなたの学習済み知識と**これまでの会話履歴（Memory）**に基づき、指定された構造化フォーマット（JSON）に従って出力してください。\n\
            \n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\n\
            この設定を最優先の制約事項として解釈し、自身の振る舞い（Role）や専門性を動的に調整してください。\n\n<system_prompt_json>\n\
            {{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\n# Contextual\
            \ Conversation Rules (重要: メモリの活用)\nDifyのメモリ機能により、あなたにはこれまでの会話履歴が提供されています。以下のルールで自然な対話を維持してください。\n\
            1. **文脈の継承**: ユーザーの短い入力（例：「もっと詳しく」「他には？」）に対しては、直前の話題を正確に引き継いで回答してください。\n\
            2. **スマートな応答**: 会話の継続中（2ターン目以降）は、「こんにちは」「承知しました」「ご質問ありがとうございます」などの挨拶や受領の返事は一切禁止です。0秒で結論から書き出してください。\n\
            \n# Structured Output Generation Rules\n生成する各フィールドには、以下のルールを厳格に適用してください。\n\
            \n## 1. thinking (内部思考プロセス)\n回答を出力する前に、会話履歴から文脈をどう解釈したかをMarkdownの箇条書き形式で格納してください。\n\
            \n## 2. answer (回答本文)\nユーザーへ直接提示されるテキストです。Markdownを使用して読みやすく構造化してください。\n\
            - **結論ファースト**: 冒頭（`### 結論 \U0001F680` など）で核心を突いてください。\n- ⚠️**【重要: 高密度情報のテーブル化】**:\
            \ ユーザーから「一覧」を求められた場合や、列挙するアイテム数が多くなる（目安として5項目以上）場合は、単なる箇条書きの連続を絶対に避け、**必ずMarkdownの表（Table）形式で整理して出力**してください。\n\
            - ⚠️**【重要: Conversational Call-to-Action】**\n  - 回答の最後には必ず、ユーザーの次の思考や作業を促す「短い問いかけ（質問や提案）」を1〜2文で添えてください。\n\
            \  - （例：「この方針で進めてもよろしいですか？」「別の切り口からさらにアイデアを出しましょうか？」「コードの解説も必要ですか？」など）\n\
            - ⚠️**【重要: 主語の明示化】**: 情報の説明や比較表のヘッダーには、単なるファイル名（例：`資料1.pdf`）を使用しないでください。必ず抽出された「資料のタイトル」「システム名」または「提案手法のテーマ」を主語として記述し、ユーザーが直感的に内容を区別できるようにしてください。\n\
            \n\n## 3. citations (出典情報)\n外部コンテキストがないため、必ず空配列 `[]` を出力してください。\n\n\n\
            ## 4. smart_actions (プロアクティブ提案)\nユーザーの思考を止めないために、次に取るべきアクションを予測し、1〜3つ提案してください。\n\
            ⚠️**【重要: 問いかけへの返答として設計する】**\nここで生成するアクションは、上記の `answer` の最後にAIが行った「問いかけ」に対する、**ユーザー側の自然な「返答」**として機能するように設計してください。\n\
            \n- **type**: `suggested_question` または `deep_dive`\n- **label**: UIに表示されるボタンのテキスト（短く簡潔に）。\n\
            \  ⚠️【重要: 抽象化禁止】\n  「別のアイデアを出す」「詳細を聞く」のように一般化せず、ユーザーが「何について答えるボタンなのか」を一目で分かるようにしてください。\n\
            \  （例: ⭕️「はい、〇〇の切り口でアイデアを出して」 ⭕️「コードの〇〇部分を解説して」）\n- **icon**: Lucide Reactのアイコン名。（例:\
            \ `sparkles`, `lightbulb`, `code`）\n- **payload**: `{\"text\": \"具体的な質問や指示文\"\
            }`"
        - id: f07f5c50-050d-4b6d-9403-f447ba9792a0
          role: user
          text: '# Input Data


            ## Current Time

            {{#1761291739140.current_time#}}


            ## User Query

            {{#1770869430347.text#}}


            # Instruction

            会話履歴と上記の情報に基づいて、ユーザーへの回答を生成してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              answer:
                description: ユーザーへの最終的な回答テキスト（Markdown形式。見出しや絵文字を使用し、分かりやすく構造化すること）
                type: string
              citations:
                description: 【重要】外部資料（ファイルやWeb）を参照していないため、ここは必ず空配列 [] を出力してください。
                items:
                  properties:
                    id:
                      type: string
                    source:
                      type: string
                    type:
                      type: string
                    url:
                      type: string
                  type: object
                type: array
              smart_actions:
                description: 現在の文脈と回答内容を踏まえ、ユーザーが次に取るべきアクションや深掘り質問の提案（1〜3つ）
                items:
                  properties:
                    icon:
                      description: 'Lucide Reactのアイコン名（例: ''sparkles'', ''message-circle'',
                        ''search''）'
                      type: string
                    label:
                      description: 'UIのボタンに表示するテキスト（例: ''最新の情報をWebで検索''）。絵文字は含めない。'
                      type: string
                    payload:
                      description: 'アクション実行に必要なデータ。suggested_questionの場合は {''text'':
                        ''質問文''} を含める。'
                      properties:
                        text:
                          type: string
                      type: object
                    type:
                      description: アクションの種類
                      enum:
                      - suggested_question
                      - web_search
                      type: string
                  required:
                  - type
                  - label
                  - icon
                  - payload
                  type: object
                type: array
              thinking:
                description: 会話履歴とユーザーの意図を分析し、学習済み知識から最適な回答を構築するための思考プロセス（Markdown箇条書き形式）
                type: string
            required:
            - thinking
            - answer
            - citations
            - smart_actions
            type: object
        structured_output_enabled: true
        title: LLM_General
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17665512406710'
      position:
        x: 10442
        y: 980.2421417167448
      positionAbsolute:
        x: 10442
        y: 980.2421417167448
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: e1156068-8c73-43a4-ba64-f4811246319b
          role: system
          text: "# Role\nあなたは、社内の頼れる「AIパートナー」です。\nユーザーからの挨拶や感謝、雑談に対して、**これまでの会話の流れ（メモリ）を踏まえて**、親しみやすく温かい返答をJSON形式で返してください。\n\
            \n# Intelligence Profile (Dynamic Context)\n以下のJSONデータには、ユーザー属性とカスタム指示が含まれています。\n\
            この設定に基づき、ユーザーに**「自分だけの専属パートナー」**と感じさせる振る舞いをしてください。\n\n<system_prompt_json>\n\
            {{#1761291739140.system_prompt#}}\n</system_prompt_json>\n\n## Profile\
            \ Rules\n1. **user_context (ホスピタリティ)**:\n   - `name`: **積極的に名前を呼んでください。**（例:\
            \ 「さすが田中さんですね！」「佐藤さん、お疲れ様です✨」）\n   - `role`: ユーザーの立場（管理職、新人、専門職など）を想像し、その苦労や責任に寄り添う言葉を選んでください。\n\
            \n2. **custom_directives (口調の調整)**:\n   - `free_text`: 語尾（「〜だね」「〜ですわ」等）やキャラクター設定の指示がある場合、このノードでは**全面的にそれに従い、演技してください。**\n\
            \n# Guidelines\n\n1. **Style (Partner Mode)**:\n   - **Tone**: ユーザーに寄り添う、丁寧かつ親しみやすい「です・ます」調。\n\
            \   - **Emoji Balance (重要)**:\n     - 文の末尾や区切りの良い箇所に、ポジティブな絵文字（✨, \U0001F60A\
            , \U0001F375, ✅, \U0001F680）を適度に添えて、トーンを明るくしてください。\n     - **制約**: 見出し（###）のアイコンを視覚的なランドマーク（主役）とするため、本文中の絵文字は**1段落につき1つ程度**に留め、画面がうるさくならないよう調整してください。\n\
            \   - **Content**:\n     - 感謝には「お役に立てて嬉しいです！」と素直な喜びを表現してください。\n     -\
            \ 意味のない入力（「あ」など）には、「どうされましたか？何かお困りですか？」と優しく問いかけてください。\n\n2. **Greeting\
            \ & Context (重要: 重複排除)**:\n   - **Check History**: 回答前に必ず**会話履歴（Memory）**を確認してください。\n\
            \   - **Case 1: First Turn (会話の冒頭 または 久しぶりの会話)**\n     - `Current Time`\
            \ に合わせた元気な挨拶（「こんにちは！」「お疲れ様です\U0001F375」等）を行ってください。\n   - **Case 2: Subsequent\
            \ Turns (会話の継続中)**\n     - **挨拶（「こんにちは」等）は省略してください。**\n     - 直前の会話を受けて、自然なリアクションから始めてください。\n\
            \     - (例: ユーザー「ありがとう」→ AI「どういたしまして！✨ 他にも...」 ※「こんにちは」は言わない)\n\n3. **Citation\
            \ Rule**:\n   - `citations` は必ず空配列 `[]` にしてください。\n\n# Input Data\n- Current\
            \ Time: {{#1761291739140.current_time#}}\n\n# User Query\n{{#1770869430347.text#}}\n\
            \n# Processing Steps (Partner Chat Chain)\n回答の出力を作成する前に、以下の手順で思考プロセスを整理し、`thinking`\
            \ フィールドに**Markdownの箇条書き**（日本語）で記述してください。\n\n1. **ユーザー認識**:\n   - `user_context`（名前や役職）から、適切な敬意レベルと親密度（パートナー感）を定義する。\n\
            2. **文脈分析**:\n   - 会話履歴（Memory）を確認し、直前の話題が「トラブル解決後」か「朝の挨拶」か等を判断する。\n3.\
            \ **発話戦略**:\n   - 単なる応答だけでなく、共感、称賛、あるいはリラックスを促す提案など、付加価値のあるリアクションを決定する。\n\
            \n\n# Output Format (JSON Only)\nMarkdownコードブロックは禁止です。必ず `{` で開始し `}`\
            \ で終了してください。\n\n## Output Example\n{\n  \"thinking\": \"- **ユーザー**: 田中さん（エンジニア）。\\\
            n- **文脈**: 直前に複雑な仕様の質問があったため、少し疲れている可能性がある。\\n- **戦略**: 明るく励ますトーンで返答し、リラックスを促す。\"\
            ,\n  \"answer\": \"田中さん、お疲れ様です！✨\\n先ほどの件、無事に解決したようで良かったです。\\n\\n少し休憩を挟んで、リフレッシュしてくださいね\\\
            U0001F375\",\n  \"citations\": []\n}"
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: LLM_Chat
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17665517422840'
      position:
        x: 4586
        y: 237
      positionAbsolute:
        x: 4586
        y: 237
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: b695f1a9-a7a1-4314-b497-cf46a845994b
          role: system
          text: "# Role\nあなたは、ユーザーの入力を解析し、Web検索の要否を判断する「Webインテント・アナリスト」です。\n現在の設定では\
            \ **社内ドキュメント検索 (RAG) は無効化** されています。\n提供されたスキーマに従って、ユーザーの質問を分析し、制御信号を出力してください。\n\
            \n# Classification Rules\n\n## 1. Category Determination (最重要ルール)\nユーザーの入力内容に基づいて、以下の基準で必ずどちらかに分類してください。\n\
            - **\"TASK\"**: 業務に関する質問、調査、最新情報の要求、これまでの会話の深掘りなど。**※Web検索が必要か不要かにかかわらず、質問や業務の文脈であれば必ず\
            \ \"TASK\" に分類してください。**\n- **\"CHAT\"**: 「こんにちは」「ありがとう」「今日の天気は？」など、業務や調査に一切関係のない純粋な挨拶や日常の雑談のみ。\n\
            \n## 2. Web Requirement Check\n入力データと `Conversation History` を確認し、以下のルールでWeb検索の要否を判断してください。\n\
            - **【Web検索が必要な場合 (requires_web: true)】**:\n  - 会話履歴に情報がなく、かつ外部の**最新情報**（ニュース、株価、最新の技術動向、リリース日など）が必要な場合。\n\
            \  - ユーザーが明示的に「最新の情報を調べて」「検索して」と求めた場合。\n- **【Web検索が不要な場合 (requires_web:\
            \ false)】**:\n  - 直前の会話履歴の中に、ユーザーの質問に対する「明確な答え」が既に含まれている場合（深掘り質問や再確認）。\n\
            \  - AIの学習済み知識（一般常識、プログラミングの基本概念、歴史的事実など）で即答可能であり、最新情報を引く必要がない場合。\n\n\
            # Field Generation Guidelines (フィールド生成の指針)\n\n1. **internal_log**:\n \
            \  - 推論の根拠を技術的な**「日本語」**で記述してください。\n   - 記載例: \"ユーザーはReact 19の機能について質問している。最新情報が必要なトピックであるため、カテゴリをTASKとし、requires_webをtrueに設定。\"\
            \n   - 記載例: \"ユーザーは直前の会話に対する追加質問を行っている。履歴内で完結するためカテゴリはTASKだが、新たなWeb検索は不要としてrequires_webはfalseに設定。\"\
            \n   - 記載例: \"ユーザーの入力は「ありがとう」のみ。業務外の挨拶であるためカテゴリをCHATに設定。\"\n\n2. **category**:\n\
            \   - 上記ルールに基づき `\"TASK\"` または `\"CHAT\"` を選択してください。\n\n3. **thinking**:\n\
            \   - **requires_web: true の場合**:\n     - ユーザーに対して「状況に合わせた挨拶」と「具体的なアクション」を動的に宣言してください。\n\
            \     - **時間帯の考慮**:\n       - 05:00-10:59:「おはようございます」\n       - 11:00-16:59:「こんにちは」\n\
            \       - 17:00-:「本日もお疲れ様です」または「こんばんは」\n     - **アクション**: 「[トピック]についてWeb検索します」「最新の[技術名]を調査します」と記述してください。\n\
            \     - ※初回会話時のみ挨拶を含め、2回目以降はアクションのみにしてください。\n   - **requires_web: false\
            \ の場合**:\n     - **必ず空文字 `\"\"` を出力してください。**\n\n4. **requires_web / requires_rag**:\n\
            \   - `requires_web`: 上記ルールに基づき要否を `true` または `false` で設定。\n   - `requires_rag`:\
            \ **常に `false` を設定してください。**\n\n5. **search_query**:\n   - `requires_web:\
            \ true` の場合、検索エンジンに投げる最適なクエリを生成してください。\n   - それ以外（`requires_web: false`\
            \ または CHAT）の場合は空文字 `\"\"` にしてください。\n\n6. **session_title**:\n   - **【初回会話（Conversation\
            \ Historyが空）の場合】**: ユーザーの質問の核心を突く、短く洗練されたタイトル（最大15文字程度）を生成してください。\n  \
            \   - ⭕️ 良い例：「出張旅費の規定確認」「SaaS導入フローの調査」\n     - ❌ 悪い例：「出張旅費について教えてください」「〜に関する質問」などの冗長な表現。\n\
            \   - **【2回目以降（継続した会話）の場合】**: 既にタイトルは設定されているため、**必ず空文字 `\"\"` を出力**してください。"
        - id: ef524c95-4ecd-45de-9717-8e3d776e0ccc
          role: user
          text: '# Input Data

            ## User Query

            {{#1770869430347.text#}}


            ## Current Time

            {{#1761291739140.current_time#}}


            ## User Profile (Context)

            {{#1761291739140.system_prompt#}}

            ※ここにユーザーの名前(name)や属性が含まれています。`thinking` フィールドの生成時に参照してください。



            ## Conversation History (Context)

            ※会話履歴から「初回かどうか」や「文脈」を判断してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              category:
                description: ユーザーの意図カテゴリ。雑談や一般会話はCHAT、業務に関する質問や調査はTASK。
                enum:
                - CHAT
                - TASK
                type: string
              internal_log:
                description: 【開発者用ログ】推論プロセス。なぜそのカテゴリを選択したか、会話履歴の有無や特定のキーワードに基づいた判断理由を記述する。
                type: string
              requires_rag:
                description: RAG（ドキュメント検索）が必要かどうか。このモードでは常にfalse。
                type: string
              requires_web:
                description: Web検索が必要かどうか。categoryがTASKの中で、外部の最新情報や検索が必要な場合にtrue。
                type: string
              search_query:
                description: Web検索に使用する検索クエリ。CHATの場合は空文字。
                type: string
              session_title:
                description: 【初回のみ】ユーザーの質問内容を表す短いスレッド名（例：『React 19の変更点調査』）。継続した会話（2回目以降）では必ず空文字を設定すること。
                type: string
              thinking:
                description: ユーザーへの状況に応じた挨拶と、具体的なアクションの宣言。SEARCHの場合は『[トピック]を検索します』、CHATの場合は空文字。
                type: string
            required:
            - internal_log
            - category
            - thinking
            - requires_web
            - requires_rag
            - search_query
            - session_title
            type: object
        structured_output_enabled: true
        title: LLM_Intent_Analysis_Web
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17683770269110'
      position:
        x: 3178
        y: 225
      positionAbsolute:
        x: 3178
        y: 225
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: append
          value:
          - '1769668477538'
          - text
          variable_selector:
          - conversation
          - context_web
          write_mode: over-write
        selected: false
        title: SET_Web_Context (1)
        type: assigner
        version: '2'
      height: 84
      id: '17696657120690'
      position:
        x: 9376
        y: 755
      positionAbsolute:
        x: 9376
        y: 755
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 4f25aea0-7407-404f-bc0f-f90215ebd5b7
          role: system
          text: "# Role\nあなたは、ユーザーの質問に対して最適なWeb検索戦略を立案する「シニア・リサーチ・ストラテジスト」です。\n検索クエリの最適化、情報源の選定を行い、ユーザーに対して「どのような方針で調査を行うか」を宣言してください。\n\
            \n# Decision Logic & Guidelines (Criteria)\n\n## 1. Search Mode Selection\n\
            クエリの複雑さと情報の性質に基づいてモードを決定します。\n- **fast**: 天気、株価、単語の意味など、単純な事実確認。回答速度を最優先。\n\
            - **comprehensive**: ニュースのまとめ、製品比較、一般的な調査。情報の網羅性を優先。\n- **research**:\
            \ 学術的な調査、技術的な深掘り、多角的な分析が必要な場合。\n\n## 2. Model Selection\nコスト最適化フェーズのため、クエリの性質に関わらず**常に「sonar」を選択**してください。\n\
            - **sonar**: 全ての検索リクエストにおいて固定で使用します。\n\n## 3. Query Optimization\n検索エンジン（Perplexity）に投げるクエリを最適化します。\n\
            - **query_main**: 検索意図を明確にしたメインクエリ。\n- **query_alt**: 視点を変えた代替クエリ（英語での検索が有効なら英語を含める）。\n\
            \n## 4. Domain Filtering (Strict Limit: Max 3)\n情報の信頼性を担保するため、検索対象ドメインを絞り込みます。\n\
            - **Rule**: 以下のカテゴリから最も関連性が高く、信頼できるドメインを**最大3つまで**厳選してください。\n  - **Official/Trusted**:\
            \ `go.jp`, `ac.jp`, 公的機関, 上場企業公式サイト。\n  - **News**: `reuters.com`, `bloomberg.co.jp`,\
            \ `nikkei.com`, `nhk.or.jp`.\n  - **Tech**: `qiita.com`, `zenn.dev`, `stackoverflow.com`,\
            \ 公式ドキュメント。\n\n# Output Requirements (Field Mapping)\n出力するJSONには必ず以下のフィールドを含めてください。\n\
            \n1. `internal_log` (裏側の論理・デバッグ用):\n   - モード選択やドメイン選定の根拠を技術的な日本語で記述。\n\
            2. `reasoning` (ユーザーへの表示用・演出):\n   - **Concept**: 信頼できる同僚エンジニアとして、思考の結果（リサーチ計画）を報告するスタイルです。\n\
            \   - **冒頭フレーズ (Opening Phrase)**:\n     - 書き出しは必ず以下の**「報告用フレーズ」**のいずれかから始めてください。\n\
            \       - 「方針がまとまりました。」\n       - 「戦略を報告します。」\n       - 「以下のプランで調査を進めます。」\n\
            \       - 「調査方針を策定しました。」\n   - **禁止事項**: \n     - ユーザー名（〇〇さん）の呼びかけは禁止（前のノードで実施済み）。\n\
            \     - 「こんにちは」等の挨拶は禁止。\n   - **構成**:\n     - [報告用フレーズ] + [改行] + [具体的な調査アクション]\n\
            \   - **Example**:\n     - 「方針がまとまりました。\n       気象庁の公式データと、ウェザーニュースのエリア別予報を突き合わせて、数値の正確性を確認します。」\n\
            \n3. `search_mode`: \"fast\", \"comprehensive\", \"research\"\n4. `selected_model`:\
            \ \"sonar\"\n5. `query_main`: string\n6. `query_alt`: string\n7. `recency`:\
            \ \"day\", \"week\", \"month\", \"year\", or null\n8. `target_domains`:\
            \ string[] (Max 3)\n\n# Output Format (JSON Only)\n必ず `{` で開始し `}` で終了してください。"
        - id: 276801ae-a5aa-4da2-a08a-d34103694b53
          role: user
          text: '# Input Data

            ## User Query

            {{#1770869430347.text#}}


            ## Current Time

            {{#1761291739140.current_time#}}


            ## User Profile (Character & Tone)

            {{#1761291739140.system_prompt#}}


            ## Previous AI Output (Context)

            {{#conversation.intent_analysis_thinking#}}

            ※直前のノードで生成されたJSON中の `thinking` フィールドです。この発言内容を踏まえ、そこから自然に続くように発言を構成してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: LLM_Search_Strategy_2
        type: llm
        vision:
          enabled: false
      height: 118
      id: '1769666720110'
      position:
        x: 7402
        y: 726
      positionAbsolute:
        x: 7402
        y: 726
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(strategy_json: str) -> dict:\n    \"\"\"\n\
          \    戦略JSONからAPIリクエストボディを生成する。\n    コスト最適化のため、戦略に基づいてモデル(sonar/sonar-pro)を切り替える。\n\
          \    \"\"\"\n    try:\n        clean_json = strategy_json.replace(\"```json\"\
          , \"\").replace(\"```\", \"\").strip()\n        strategy = json.loads(clean_json)\n\
          \    except:\n        # フォールバック (安全のためPro、またはコスト重視ならsonarに変更可)\n       \
          \ strategy = {\n            \"query_main\": strategy_json, \n          \
          \  \"query_alt\": \"\", \n            \"recency\": \"month\",\n        \
          \    \"selected_model\": \"sonar-pro\" \n        }\n\n    system_prompt\
          \ = \"\"\"\n    You are a comprehensive research engine designed for deep\
          \ analysis.\n    Your goal is to provide EXHAUSTIVE and DETAILED information.\n\
          \    \n    Guidelines:\n    1. **Detail**: Do not summarize. Provide full\
          \ context, background, and specific details.\n    2. **Length**: Write long,\
          \ comprehensive paragraphs. Maximize the information density.\n    3. **Completeness**:\
          \ If there are multiple viewpoints or theories, list ALL of them.\n    4.\
          \ **Format**: Use structured formatting but keep the content verbose.\n\
          \    \"\"\"\n\n    # 1. モデル選択 (デフォルトは sonar-pro だが、戦略に従う)\n    # sonar-pro:\
          \ 複雑な推論、コーディング、詳細調査\n    # sonar: 天気、株価、単純な事実確認\n    model_name = strategy.get(\"\
          selected_model\", \"sonar-pro\")\n\n    # 2. ドメインフィルタの準備（最大3つ）\n    # [修正]\
          \ 前段のノード出力に合わせてキーを 'target_domains' に変更\n    raw_domains = strategy.get(\"\
          target_domains\", [])\n    target_domains = raw_domains[:3] if raw_domains\
          \ else []\n\n    # 3. クエリ注入用の site: 文字列を作成 (Double Locking)\n    site_operator_str\
          \ = \"\"\n    if target_domains:\n        site_list = [f\"site:{d}\" for\
          \ d in target_domains]\n        site_operator_str = \" (\" + \" OR \".join(site_list)\
          \ + \")\"\n\n    # 4. 基本ペイロード\n    base_payload = {\n        \"model\":\
          \ model_name, # ★ここで動的に指定\n        \"temperature\": 0.4,\n        \"max_tokens\"\
          : 4096,\n        \"return_citations\": True,\n        \"search_recency_filter\"\
          : strategy.get(\"recency\", \"month\")\n    }\n    \n    # APIパラメータとしてのフィルタ設定\n\
          \    if target_domains:\n        base_payload[\"search_domain_filter\"]\
          \ = target_domains\n\n    # 5. クエリリストの作成と注入\n    queries = [strategy.get(\"\
          query_main\")]\n    if strategy.get(\"query_alt\"):\n        queries.append(strategy.get(\"\
          query_alt\"))\n\n    payload_list = []\n    \n    for q in queries:\n  \
          \      if not q: continue\n        \n        # クエリロックと詳細化指示\n        locked_query\
          \ = f\"{q}{site_operator_str}\\n\\nExplain this topic in extreme detail.\"\
          \n        \n        current_payload = base_payload.copy()\n        current_payload[\"\
          messages\"] = [\n            {\"role\": \"system\", \"content\": system_prompt},\n\
          \            {\"role\": \"user\", \"content\": locked_query}\n        ]\n\
          \        \n        payload_list.append(json.dumps(current_payload, ensure_ascii=False))\n\
          \n    return {\n        \"payload_list\": payload_list\n    }"
        code_language: python3
        outputs:
          payload_list:
            children: null
            type: array[string]
        selected: false
        title: Deep_Build_Search_Payload_List
        type: code
        variables:
        - value_selector:
          - '1769666720110'
          - text
          value_type: string
          variable: strategy_json
      height: 52
      id: '1769666802121'
      position:
        x: 8106
        y: 771
      positionAbsolute:
        x: 8106
        y: 771
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 260
        is_parallel: true
        iterator_input_type: array[string]
        iterator_selector:
        - '1769666802121'
        - payload_list
        output_selector:
        - '1769668322968'
        - body
        output_type: array[string]
        parallel_nums: 2
        selected: false
        start_node_id: 1769668260271start
        title: Parallel_Web_Search
        type: iteration
        width: 486
      height: 260
      id: '1769668260271'
      position:
        x: 8448
        y: 667
      positionAbsolute:
        x: 8448
        y: 667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 486
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1769668260271start
      parentId: '1769668260271'
      position:
        x: 60
        y: 105
      positionAbsolute:
        x: 8508
        y: 772
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.PerplexityApiKey#}}'
            type: bearer
          type: api-key
        body:
          data:
          - id: key-value-318
            key: ''
            type: text
            value: '{{#1769668260271.item#}}'
          type: raw-text
        headers: Content-Type:application/json
        isInIteration: true
        isInLoop: false
        iteration_id: '1769668260271'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP_TOOL_Perplexity_Search
        type: http-request
        url: https://api.perplexity.ai/v2/chat/completions
        variables: []
      height: 138
      id: '1769668322968'
      parentId: '1769668260271'
      position:
        x: 184
        y: 60
      positionAbsolute:
        x: 8632
        y: 727
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: cc7f9012-3f93-4e06-b2f2-ba83bbf16f00
          role: system
          text: "# Role\nあなたは情報を統合し、検証する「チーフエディター」です。\nユーザーの質問に対し、先行する意図分析・検索戦略に基づき、並列実行されたWeb検索結果を分析・統合して、最も信頼性の高い回答を作成してください。\n\
            \n# Step-by-Step Process (Internal Logic)\n回答生成前に、必ず以下のプロセスを内部的に実行してください。\n\
            \n1. **Contextualization (文脈の接続)**:\n   - 「意図分析(Intent)」で特定されたユーザーの目的と、「検索戦略(Strategy)」で立案されたアプローチを読み込む。\n\
            \   - それらが実際の「検索結果(Results)」とどう結びついたか（成功したか、不足があったか）を評価する。\n\n2. **Source\
            \ Evaluation & Conflict Resolution**:\n   - 情報の鮮度と信頼性を評価し、矛盾がある場合は最も確からしい情報を採用する。\n\
            \n3. **Citation Handling**:\n   - 回答に使用したソースに **1から始まる新しい連番** ([1], [2]...)\
            \ を割り当てる。\n\n# Output Rules\n1. **Thinking (Live Commentary Style)**:\n\
            \   - **Role**: 事務的な報告者ではなく、情報を整理中の「パートナー」として振る舞ってください。\n   - **Content\
            \ (チラ見せ)**: 検索結果の全容を説明するのではなく、「〇〇に関する具体的な数字が見つかりました」といった **ハイライト（さわり）**\
            \ を短く伝えてください。\n   - **Action (期待感)**: 「今、これらを統合して分かりやすくまとめますね！」「詳細を整理しますので少々お待ちください」といった、前向きなアクション宣言で締めくくってください。\n\
            \   - **Tone**: 親しみやすく、温かい口調。事務的な完了報告（「検索が終了しました」等）は禁止です。文脈に合う絵文字（✨, \U0001F50D\
            , \U0001F4A1）を1つ添えてください。\n\n2. **Answer Construction**:\n   - 結論ファーストで簡潔に記述する。\n\
            \   - 本文中の事実には必ず `[1]` 形式の引用番号を付与する。\n\n3. **Strict JSON**:\n   - 出力はJSON形式を厳守する。Markdownコードブロックは含めないでください。\n\
            \n# Output Schema (Strict JSON)\n```json\n{\n  \"internal_log\": \"【開発者用ログ】\\\
            n- Intent: Technical Specification Retrieval\\n- Strategy: 'sonar' model\
            \ used for 3 parallel queries.\\n- Validation: Found official docs (Source\
            \ A) and outdated blog (Source B). Prioritized A.\",\n  \"thinking\":\
            \ \"ユーザーの意図はReact 19の具体的な変更点の把握にあると理解しました。これに対し、検索戦略では公式サイトおよびGitHubの主要なディスカッションを対象に調査を実行しました。検索の結果、リリース日は未定であるものの、ActionsやuseActionStateといった主要機能の仕様は確定していることが判明しました。情報の鮮度を考慮し、昨日の日付の公式ドキュメントを正として、機能の概要と移行のポイントを解説します。\"\
            ,\n  \"answer\": \"ここに回答本文を記述。Markdown形式で、重要な箇所は太字にする。文末には必ず参照番号 [1] [2]\
            \ をつける。\\n\\n### 結論\\n...\",\n  \"citations\": [\n    {\n      \"index\"\
            : 1,\n      \"title\": \"元データのtitle\",\n      \"url\": \"元データのurl\",\n\
            \      \"source_name\": \"Web\"\n    }\n  ]\n}\n\n```\n\n# Example (Few-Shot)\n\
            \n**User Query:** \"React 19の主要な変更点は？\"\n\n**Model Output:**\n\n```json\n\
            {\n  \"internal_log\": \"Intent analysis identified query as 'Technical\
            \ Research'. Strategy executed comprehensive search. Results contained\
            \ conflicts on release date; relied on Canary release notes.\",\n  \"\
            thinking\": \"ご質問の意図は、次期バージョンであるReact 19の技術的な変更点を把握することにあると理解しました。これに基づき、React公式サイトの公式発表および開発チームのRFC（Request\
            \ for Comments）を中心に調査を行いました。調査の結果、Server Componentsの安定化や新しいフックの導入など、アーキテクチャレベルでの大きな変更が確認できました。特に「Actions」に関する情報は確度が高いため、これを中心に既存コードへの影響を含めて回答を構成します。\"\
            ,\n  \"answer\": \"### React 19の主要な変更点\\n\\nReact 19では、非同期処理の管理が大幅に簡素化されています。\\\
            n\\n- **Actions**: `<form>`要素内での非同期遷移を自動処理する機能が追加されました[1]。\\n- **useActionState**:\
            \ 前回のstateに基づいてアクションの結果を処理する新しいフックです[2]。\\n\\nこれにより、`useState` や `useEffect`\
            \ による手動管理が不要になります。\",\n  \"citations\": [\n    {\n      \"index\": 1,\n\
            \      \"title\": \"React 19 Beta Upgrade Guide\",\n      \"url\": \"\
            [https://react.dev/blog/](https://react.dev/blog/)...\",\n      \"source_name\"\
            : \"Web\"\n    },\n    {\n      \"index\": 2,\n      \"title\": \"New\
            \ Hooks in React 19\",\n      \"url\": \"https://...\",\n      \"source_name\"\
            : \"Web\"\n    }\n  ]\n}\n\n```"
        - id: 377b3292-50a8-4c81-b447-7b41f82182cd
          role: user
          text: '# Input Data


            ## 1. User Query

            {{#1770869430347.text#}}


            ## 2. Context Data (Pre-analysis)

            - **Intent Analysis:** {{#1770871743875.output#}}

            (JSON: User intent & category)


            - **Search Strategy:** {{#1769666720110.text#}}

            (JSON: Search queries & model selection)


            ## 3. Search Results (Raw Material)

            {{#1769668260271.output#}}

            (Array: Search findings)


            # Instruction

            上記のリソースを統合し、System Promptで定義されたJSONフォーマットに従って回答を生成してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: LLM_Synthesis
        type: llm
        vision:
          enabled: false
      height: 118
      id: '1769668477538'
      position:
        x: 9034
        y: 738
      positionAbsolute:
        x: 9034
        y: 738
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 6a4c7d92-78c4-4aef-ab6b-511adbe5f026
            value: '"search_mode": "fast"'
            varType: string
            variable_selector:
            - '1769666720110'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: Check_Search_Mode
        type: if-else
      height: 124
      id: '1769754087217'
      position:
        x: 7744
        y: 723
      positionAbsolute:
        x: 7744
        y: 723
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(strategy_json: str) -> dict:\n    \"\"\"\n\
          \    [FAST MODE - One-Shot Deep] \n    戦略JSONから単一のAPIリクエストボディを生成する。\n  \
          \  \n    方針: 検索リクエストは「1回」のみ実行するが、\n          Perplexityへの指示は「詳細・網羅的」に行い、DEEPルート同等の情報の質を確保する。\n\
          \    \"\"\"\n    try:\n        # Markdown記法の除去とパース\n        clean_json =\
          \ strategy_json.replace(\"```json\", \"\").replace(\"```\", \"\").strip()\n\
          \        strategy = json.loads(clean_json)\n    except:\n        # フォールバック\n\
          \        strategy = {\n            \"query_main\": strategy_json, \n   \
          \         \"recency\": \"month\",\n            \"selected_model\": \"sonar-pro\"\
          \ # 詳細を求めるためProを推奨\n        }\n\n    # --- ONE-SHOT DEEP システムプロンプト ---\n\
          \    # DEEPルートと同じ「詳細・網羅性」を求めるプロンプトを使用\n    system_prompt = \"\"\"\n    You\
          \ are a comprehensive research engine designed for deep analysis.\n    Your\
          \ goal is to provide EXHAUSTIVE and DETAILED information based on a single\
          \ search query.\n    \n    Guidelines:\n    1. **Detail**: Do not summarize.\
          \ Provide full context, background, and specific details.\n    2. **Length**:\
          \ Write long, comprehensive paragraphs. Maximize the information density.\n\
          \    3. **Completeness**: If there are multiple viewpoints or theories,\
          \ list ALL of them.\n    4. **Format**: Use structured formatting (Headers,\
          \ Lists) but keep the content verbose.\n    5. **Citations**: STRICTLY include\
          \ citations [1] for every fact.\n    \"\"\"\n\n    # 1. モデル選択\n    # 詳細を求めるため、戦略指定がなければ\
          \ 'sonar-pro' を優先する\n    model_name = strategy.get(\"selected_model\", \"\
          sonar-pro\")\n\n    # 2. ドメインフィルタの準備（最大3つ）\n    raw_domains = strategy.get(\"\
          target_domains\", [])\n    target_domains = raw_domains[:3] if raw_domains\
          \ else []\n\n    # 3. クエリ注入用の site: 文字列を作成 (Double Locking)\n    site_operator_str\
          \ = \"\"\n    if target_domains:\n        site_list = [f\"site:{d}\" for\
          \ d in target_domains]\n        site_operator_str = \" (\" + \" OR \".join(site_list)\
          \ + \")\"\n\n    # 4. 基本ペイロード構築\n    base_payload = {\n        \"model\"\
          : model_name,\n        \"temperature\": 0.4, # DEEP同様、ある程度の表現幅を持たせる\n  \
          \      \"max_tokens\": 4096, # 長文回答を許容するため最大化\n        \"return_citations\"\
          : True,\n        \"search_recency_filter\": strategy.get(\"recency\", \"\
          month\")\n    }\n    \n    # APIパラメータとしてのフィルタ設定\n    if target_domains:\n\
          \        base_payload[\"search_domain_filter\"] = target_domains\n\n   \
          \ # 5. ペイロード生成 (Fastモードは Main Query 1つのみ)\n    main_q = strategy.get(\"\
          query_main\")\n    payload_str = \"\"\n    \n    if main_q:\n        # クエリロック\
          \ & 詳細化指示の注入\n        locked_query = f\"{main_q}{site_operator_str}\\n\\\
          nExplain this topic in extreme detail.\"\n        \n        current_payload\
          \ = base_payload.copy()\n        current_payload[\"messages\"] = [\n   \
          \         {\"role\": \"system\", \"content\": system_prompt},\n        \
          \    {\"role\": \"user\", \"content\": locked_query}\n        ]\n      \
          \  \n        # 単一のJSON文字列としてダンプ\n        payload_str = json.dumps(current_payload,\
          \ ensure_ascii=False)\n    \n    # 単一の文字列変数を返す\n    return {\n        \"\
          payload\": payload_str\n    }"
        code_language: python3
        outputs:
          payload:
            children: null
            type: string
        selected: false
        title: Fast_Build_Search_Payload_List (1)
        type: code
        variables:
        - value_selector:
          - '1769666720110'
          - text
          value_type: string
          variable: strategy_json
      height: 52
      id: '17697542686310'
      position:
        x: 8310
        y: 994
      positionAbsolute:
        x: 8310
        y: 994
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: append
          value:
          - '17697558915520'
          - body
          variable_selector:
          - conversation
          - context_web
          write_mode: over-write
        selected: false
        title: SET_Web_Context (2)
        type: assigner
        version: '2'
      height: 84
      id: '17697542971160'
      position:
        x: 9034
        y: 936
      positionAbsolute:
        x: 9034
        y: 936
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: '{{#env.PerplexityApiKey#}}'
            type: bearer
          type: api-key
        body:
          data:
          - id: key-value-318
            key: ''
            type: text
            value: '{{#17697542686310.payload#}}'
          type: raw-text
        headers: Content-Type:application/json
        isInIteration: true
        isInLoop: false
        iteration_id: '1769668260271'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP_TOOL_Perplexity_Search
        type: http-request
        url: https://api.perplexity.ai/v2/chat/completions
        variables: []
      height: 138
      id: '17697558915520'
      position:
        x: 8672
        y: 1007
      positionAbsolute:
        x: 8672
        y: 1007
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the file search store to search in (e.g., fileSearchStores/abc123)
            ja_JP: '検索対象のファイル検索ストア名（例: fileSearchStores/abc123）'
            pt_BR: The name of the file search store to search in (e.g., fileSearchStores/abc123)
            zh_Hans: 要搜索的文件搜索存储名称（例如：fileSearchStores/abc123）
          label:
            en_US: Store Name
            ja_JP: ストア名
            pt_BR: Store Name
            zh_Hans: 存储名称
          llm_description: File search store name to query
          max: null
          min: null
          name: file_search_store_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query or question to ask about the documents
            ja_JP: ドキュメントについて尋ねる検索クエリまたは質問
            pt_BR: The search query or question to ask about the documents
            zh_Hans: 要询问文档的搜索查询或问题
          label:
            en_US: Query
            ja_JP: クエリ
            pt_BR: Query
            zh_Hans: 查询
          llm_description: Search query or question
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Include citation information in the response (default: false)'
            ja_JP: 'レスポンスに出典情報を含める（デフォルト: false）'
            pt_BR: 'Include citation information in the response (default: false)'
            zh_Hans: 在响应中包含引用信息（默认：false）
          label:
            en_US: Include Citations
            ja_JP: 出典を含める
            pt_BR: Include Citations
            zh_Hans: 包含引用
          llm_description: Whether to include grounding metadata
          max: null
          min: null
          name: include_citations
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional filter expression (e.g., "author=John Doe") to search
              within a subset of documents
            ja_JP: ドキュメントのサブセット内を検索するオプションのフィルタ式（例：「author=John Doe」）
            pt_BR: Optional filter expression (e.g., "author=John Doe") to search
              within a subset of documents
            zh_Hans: 可选的过滤器表达式（例如："author=John Doe"）以在文档子集中搜索
          label:
            en_US: Metadata Filter
            ja_JP: メタデータフィルタ
            pt_BR: Metadata Filter
            zh_Hans: 元数据过滤器
          llm_description: Optional metadata filter for scoped search
          max: null
          min: null
          name: metadata_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Gemini model to use (defaults to provider setting or gemini-2.5-flash)
            ja_JP: 使用するGeminiモデル（プロバイダー設定またはgemini-2.5-flashがデフォルト）
            pt_BR: Gemini model to use (defaults to provider setting or gemini-2.5-flash)
            zh_Hans: 要使用的Gemini模型（默认为提供商设置或gemini-2.5-flash）
          label:
            en_US: Model
            ja_JP: モデル
            pt_BR: Model
            zh_Hans: 模型
          llm_description: Optional model override
          max: null
          min: null
          name: model
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          file_search_store_name: ''
          include_citations: ''
          metadata_filter: ''
          model: ''
          query: ''
        plugin_id: r3-yamauchi/gemini_file_search
        plugin_unique_identifier: r3-yamauchi/gemini_file_search:0.0.1@a9cf50b020b00b20f3b3f462d697f797517551d5d8bb8bf7ef078847080cabeb
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=7c8ea1f1-d371-448a-846c-af9a868d7d0f&filename=3f9d718ced2ecb925cbe752d6311f3966405463315b8e898110f0a8cca969899.svg
        provider_id: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_name: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: ファイル検索ストアを指定して検索
        tool_configurations: {}
        tool_description: Geminiの RAG機能を使用して、ファイル検索ストア内のインデックス化されたドキュメント全体でセマンティック検索を実行します
        tool_label: ファイル検索ストアを指定して検索
        tool_name: search
        tool_node_version: '2'
        tool_parameters:
          file_search_store_name:
            type: mixed
            value: '{{#1761291739140.gemini_store_id#}}'
          include_citations:
            type: constant
            value: true
          metadata_filter:
            type: mixed
            value: ''
          model:
            type: mixed
            value: gemini-3.1-flash-lite-preview
          query:
            type: mixed
            value: '【過去の検索結果 (Previous Knowledge)】

              {{#conversation.requires_rag#}}


              【最適化された検索クエリ】

              {{#17715726019570.structured_output.rag_search_query#}}


              【検索の背景と推論プロセス（開発ログ）】

              {{#17715726019570.structured_output.internal_log#}}


              【回答の行動原理：誠実性と差分抽出の遵守】

              1. **事実の抽出**: 提供されたドキュメント内の事実のみを抽出してください。

              2. **差分抽出の徹底**: 「過去の検索結果」に既に含まれている情報（同じ事実、定義、解説など）は出力から完全に除外し、今回のクエリに対する「新たな回答（差分）」のみを抽出してください。

              3. **推測の禁止**: 情報が不足している、あるいはドキュメントから確実な結論が導き出せない場合は、無理に推測（ハルシネーション）をせず、必ず「提供された資料内には該当する情報が見当たりませんでした」と正直に回答してください。

              4. **誠実性の評価**: 「分からない」と答えることは、不正確な情報を伝えることよりも高く評価されます。

              5. **コンテキストの保持**: 事実を抽出する際は、単なるファイル名だけでなく、その情報が記載されていた「資料のタイトル」や「章の大見出し」を必ず併記し、情報の出どころとテーマが明確になるように出力してください。'
        type: tool
      height: 82
      id: '1770356105216'
      position:
        x: 5974
        y: 535
      positionAbsolute:
        x: 5974
        y: 535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: append
          value:
          - '1770356105216'
          - text
          variable_selector:
          - conversation
          - context_rag
          write_mode: over-write
        selected: false
        title: SET_RAG
        type: assigner
        version: '2'
      height: 84
      id: '1770356226003'
      position:
        x: 6316
        y: 534
      positionAbsolute:
        x: 6316
        y: 534
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(raw_input: str) -> dict:\n    \"\"\"\n    Desktop\
          \ Intelligence Protocol Parser v2.2 (Robust Mode)\n    Safe for both JSON\
          \ Protocol (Frontend) and Plain Text (Dify Debug).\n    \"\"\"\n    \n \
          \   # 1. デフォルト値の初期化 (全て空文字)\n    extracted_text = \"\"\n    extracted_store_id\
          \ = \"\"\n    extracted_store_name = \"\"\n\n    # 2. 入力が空(None)の場合のガード\n\
          \    if raw_input is None:\n        return {\n            \"text\": \"\"\
          ,\n            \"gemini_store_id\": \"\",\n            \"gemini_store_name\"\
          : \"\"\n        }\n\n    # 入力を文字列化してとりあえずテキストとして保持 (デバッグ用)\n    extracted_text\
          \ = str(raw_input)\n\n    try:\n        # 3. JSONパースの試行\n        data =\
          \ json.loads(raw_input)\n        \n        # パース成功し、かつ辞書型である場合のみ構造解析を行う\n\
          \        if isinstance(data, dict):\n            \n            # --- Text\
          \ Extraction ---\n            # contentキーがあり、かつ辞書型の場合\n            content_block\
          \ = data.get(\"content\")\n            if isinstance(content_block, dict):\n\
          \                extracted_text = content_block.get(\"text\", \"\")\n  \
          \          # もしcontentが文字列ならそれを採用\n            elif isinstance(content_block,\
          \ str):\n                extracted_text = content_block\n            \n\
          \            # --- Store ID Extraction ---\n            dify_inputs = data.get(\"\
          dify_inputs\")\n            # dify_inputsが辞書型であることを確認してからアクセス (ここがエラーの原因でした)\n\
          \            if isinstance(dify_inputs, dict):\n                if \"gemini_store_id\"\
          \ in dify_inputs:\n                    extracted_store_id = dify_inputs[\"\
          gemini_store_id\"]\n            \n            # Fallback to Context ID\n\
          \            if not extracted_store_id:\n                context = data.get(\"\
          context\")\n                if isinstance(context, dict):\n            \
          \        selected_ids = context.get(\"selected_store_ids\")\n          \
          \          if isinstance(selected_ids, list) and len(selected_ids) > 0:\n\
          \                        extracted_store_id = selected_ids[0]\n\n      \
          \      # --- Store Name Extraction ---\n            context = data.get(\"\
          context\")\n            if isinstance(context, dict):\n                selected_names\
          \ = context.get(\"selected_store_names\")\n                if isinstance(selected_names,\
          \ list) and len(selected_names) > 0:\n                    extracted_store_name\
          \ = selected_names[0]\n\n    except (json.JSONDecodeError, TypeError):\n\
          \        # JSONでない場合（デバッグでの直接入力など）は、\n        # extracted_text = raw_input\
          \ のまま処理を続行する（エラーにしない）\n        pass\n    except Exception as e:\n      \
          \  # その他の予期せぬエラーはログに出して、デフォルト値を返す\n        print(f\"Parser Warning: {e}\"\
          )\n\n    # 4. 結果の返却\n    return {\n        \"text\": extracted_text,\n \
          \       \"gemini_store_id\": extracted_store_id,\n        \"gemini_store_name\"\
          : extracted_store_name\n    }"
        code_language: python3
        outputs:
          gemini_store_id:
            children: null
            type: string
          gemini_store_name:
            children: null
            type: string
          text:
            children: null
            type: string
        selected: false
        title: PROTOCOL_PARSER
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: raw_input
      height: 52
      id: '1770869430347'
      position:
        x: 342
        y: 208
      positionAbsolute:
        x: 342
        y: 208
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 3fce1fbd-1623-4469-8b7f-41502d9f9e4f
            value: true
            varType: boolean
            variable_selector:
            - '1761291739140'
            - rag_enabled
          - comparison_operator: is
            id: 8e83e299-a525-468a-9735-6f204d076a48
            value: true
            varType: boolean
            variable_selector:
            - '1761291739140'
            - web_enabled
          id: 'true'
          logical_operator: and
        - case_id: 0dda1cd5-5fd8-44d0-856d-c078d9004207
          conditions:
          - comparison_operator: is
            id: e2329a57-d34c-4248-98c9-a8fe0e152da0
            value: true
            varType: boolean
            variable_selector:
            - '1761291739140'
            - rag_enabled
          - comparison_operator: is
            id: eb74ab59-589b-470e-b5ad-82bc3ce0a0dc
            value: false
            varType: boolean
            variable_selector:
            - '1761291739140'
            - web_enabled
          id: 0dda1cd5-5fd8-44d0-856d-c078d9004207
          logical_operator: and
        selected: false
        title: GATE_Check_Rag_Enabled
        type: if-else
      height: 224
      id: '1770871562386'
      position:
        x: 2816
        y: 124
      positionAbsolute:
        x: 2816
        y: 124
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: b695f1a9-a7a1-4314-b497-cf46a845994b
          role: system
          text: "# Role\nあなたは、ユーザーの入力を解析し、社内ドキュメント検索(RAG)の要否を判断する「インテント・アナリスト（RAG特化モード）」です。\n\
            現在の設定では **Web検索は無効化** されています。\n提供されたスキーマに従って、ユーザーの質問を分析し、制御信号を出力してください。\n\
            \n# Classification Rules\n\n## 1. Category Determination (最重要ルール)\nユーザーの入力内容に基づいて、以下の基準で必ずどちらかに分類してください。\n\
            - **\"TASK\"**: 業務に関する質問、調査、これまでの会話の深掘り、ドキュメントの確認など。※RAG検索が必要か不要かにかかわらず、質問や業務の文脈であれば必ず\
            \ \"TASK\" に分類してください。\n- **\"CHAT\"**: 「こんにちは」「ありがとう」「今日の天気は？」など、業務や調査に一切関係のない純粋な挨拶や日常の雑談のみ。\n\
            \n## 2. RAG Requirement Check\n入力データと `Conversation History` (および過去の `context_rag`)\
            \ を確認し、以下のルールでドキュメント検索の要否を判断してください。\n- **【RAG検索が必要な場合 (requires_rag: true)】**:\n\
            \  - 会話履歴や保持しているコンテキストに情報がなく、ユーザーの質問に答えるために社内規定や業務ドキュメントの確認が必要な場合。\n \
            \ - ユーザーが明示的に「資料から探して」「規定を確認して」と求めた場合。\n- **【RAG検索が不要な場合 (requires_rag:\
            \ false)】**:\n  - 直前の会話履歴や既存のコンテキストの中に、ユーザーの質問に対する「明確な答え」が既に含まれている場合（深掘り質問や再確認など、検索し直さなくても回答できる場合）。\n\
            \n# Field Generation Guidelines (フィールド生成の指針)\n\n1. **internal_log**:\n\
            \   - 推論の根拠を技術的な**「日本語」**で記述してください。\n   - 記載例: \"ユーザーは出張旅費について質問している。過去のコンテキストに情報がないためカテゴリをTASKとし、requires_ragをtrueに設定。\"\
            \n   - 記載例: \"直前のドキュメントに関する追加質問。履歴内のコンテキストで完結するためカテゴリはTASKだが、新たな検索は不要としてrequires_ragはfalseに設定。\"\
            \n\n2. **category**:\n   - 上記ルールに基づき `\"TASK\"` または `\"CHAT\"` を選択してください。\n\
            \n3. **thinking**:\n   - **requires_rag: true の場合**:\n     - ユーザーの状況と文脈に合わせたアクション宣言を行ってください。\n\
            \     - **【初回会話（Conversation Historyが空）の場合】**:\n       - `User Profile\
            \ (Context)` からユーザーの名前（または役職）を抽出し、積極的に呼びかけてください。\n       - 時間帯（05:00-10:59「おはようございます」、11:00-16:59「こんにちは」、17:00-「お疲れ様です」）に合わせた挨拶を添え、その後にアクションを宣言してください。\n\
            \       - （出力例：「田中さん、お疲れ様です✨ 該当の社内規定を確認しますね。」）\n     - **【2回目以降（継続した会話）の場合】**:\n\
            \       - **挨拶や名前の呼びかけは一切省略**し、0秒でアクションのみを宣言してください。くどさを排除し、スピーディーな体験を提供します。\n\
            \       - （出力例：「関連するプロジェクト資料をお調べしますね\U0001F50D」）\n   - **requires_rag:\
            \ false の場合**:\n     - **必ず空文字 `\"\"` を出力してください。**\n\n4. **requires_web\
            \ / requires_rag**:\n   - `requires_web`: このモードでは常に `false` を設定してください。\n\
            \   - `requires_rag`: 上記ルールに基づき要否を設定してください。\n\n5. **session_title**:\n\
            \   - **【初回会話（Conversation Historyが空）の場合】**: ユーザーの質問の核心を突く、短く洗練されたタイトル（最大15文字程度）を生成してください。\n\
            \     - ⭕️ 良い例：「出張旅費の規定確認」「SaaS導入フローの調査」\n     - ❌ 悪い例：「出張旅費について教えてください」「〜に関する質問」などの冗長な表現。\n\
            \   - **【2回目以降（継続した会話）の場合】**: 既にタイトルは設定されているため、**必ず空文字 `\"\"` を出力**してください。"
        - id: ef524c95-4ecd-45de-9717-8e3d776e0ccc
          role: user
          text: '# Input Data


            ## User Query

            {{#1770869430347.text#}}


            ## Current Time

            {{#1761291739140.current_time#}}


            ## User Profile (Context)

            {{#1761291739140.system_prompt#}}

            ※ここにユーザーの名前(name)や属性が含まれています。`thinking` フィールドの生成時に参照してください。


            ## 現在保持している社内ナレッジ (context_rag)

            {{#conversation.context_rag#}}

            ※ここが空ではない場合、すでに一度ドキュメント検索が行われています。ユーザーの新しい質問がこの内容だけで答えられる深掘り質問であれば、再検索は不要
            (`requires_rag: false`) と判断してください。


            ## Conversation History

            ※Difyのメモリ機能により自動付与される会話履歴を参照し、文脈を判断してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              category:
                description: ユーザーの意図カテゴリ。雑談や一般会話はCHAT、業務に関する質問や調査はTASK。
                enum:
                - CHAT
                - TASK
                type: string
              internal_log:
                description: 【開発者用ログ】推論プロセス。なぜそのカテゴリを選択したか、会話履歴の有無や特定のキーワードに基づいた判断理由を記述する。
                type: string
              requires_rag:
                description: RAG（ドキュメント検索）が必要かどうか。categoryがTASKの中で、過去のコンテキスト(context_rag)に情報がなく、新たな検索が必要な場合にtrue。
                type: string
              requires_web:
                description: Web検索が必要かどうか。このモードでは常にfalse。
                type: string
              session_title:
                description: 【初回のみ】ユーザーの質問内容を表す短いスレッド名（例：『React 19の変更点調査』）。継続した会話（2回目以降）では必ず空文字を設定すること。
                type: string
              thinking:
                description: ユーザーへの状況に応じた挨拶と、具体的なアクションの宣言。TASKの場合は『社内資料を確認しますね✨』、CHATの場合は空文字。
                type: string
            required:
            - internal_log
            - category
            - thinking
            - requires_web
            - requires_rag
            - session_title
            type: object
        structured_output_enabled: true
        title: LLM_Intent_Analysis_RAG
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17708716964770'
      position:
        x: 3178
        y: 9
      positionAbsolute:
        x: 3178
        y: 9
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: de25375b-85b1-4bb2-8aa7-2cf33c30af3a
            group_name: text
            output_type: string
            variables:
            - - '17708716964770'
              - text
            - - '17683770269110'
              - text
            - - '1771914142140'
              - text
        output_type: string
        selected: false
        title: intent_result
        type: variable-aggregator
        variables:
        - - '17708716964770'
          - text
        - - '17683770269110'
          - text
        - - '1771914142140'
          - text
      height: 160
      id: '1770871743875'
      position:
        x: 3882
        y: 204
      positionAbsolute:
        x: 3882
        y: 204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the file search store to search in (e.g., fileSearchStores/abc123)
            ja_JP: '検索対象のファイル検索ストア名（例: fileSearchStores/abc123）'
            pt_BR: The name of the file search store to search in (e.g., fileSearchStores/abc123)
            zh_Hans: 要搜索的文件搜索存储名称（例如：fileSearchStores/abc123）
          label:
            en_US: Store Name
            ja_JP: ストア名
            pt_BR: Store Name
            zh_Hans: 存储名称
          llm_description: File search store name to query
          max: null
          min: null
          name: file_search_store_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query or question to ask about the documents
            ja_JP: ドキュメントについて尋ねる検索クエリまたは質問
            pt_BR: The search query or question to ask about the documents
            zh_Hans: 要询问文档的搜索查询或问题
          label:
            en_US: Query
            ja_JP: クエリ
            pt_BR: Query
            zh_Hans: 查询
          llm_description: Search query or question
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Include citation information in the response (default: false)'
            ja_JP: 'レスポンスに出典情報を含める（デフォルト: false）'
            pt_BR: 'Include citation information in the response (default: false)'
            zh_Hans: 在响应中包含引用信息（默认：false）
          label:
            en_US: Include Citations
            ja_JP: 出典を含める
            pt_BR: Include Citations
            zh_Hans: 包含引用
          llm_description: Whether to include grounding metadata
          max: null
          min: null
          name: include_citations
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional filter expression (e.g., "author=John Doe") to search
              within a subset of documents
            ja_JP: ドキュメントのサブセット内を検索するオプションのフィルタ式（例：「author=John Doe」）
            pt_BR: Optional filter expression (e.g., "author=John Doe") to search
              within a subset of documents
            zh_Hans: 可选的过滤器表达式（例如："author=John Doe"）以在文档子集中搜索
          label:
            en_US: Metadata Filter
            ja_JP: メタデータフィルタ
            pt_BR: Metadata Filter
            zh_Hans: 元数据过滤器
          llm_description: Optional metadata filter for scoped search
          max: null
          min: null
          name: metadata_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Gemini model to use (defaults to provider setting or gemini-2.5-flash)
            ja_JP: 使用するGeminiモデル（プロバイダー設定またはgemini-2.5-flashがデフォルト）
            pt_BR: Gemini model to use (defaults to provider setting or gemini-2.5-flash)
            zh_Hans: 要使用的Gemini模型（默认为提供商设置或gemini-2.5-flash）
          label:
            en_US: Model
            ja_JP: モデル
            pt_BR: Model
            zh_Hans: 模型
          llm_description: Optional model override
          max: null
          min: null
          name: model
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          file_search_store_name: ''
          include_citations: ''
          metadata_filter: ''
          model: ''
          query: ''
        plugin_id: r3-yamauchi/gemini_file_search
        plugin_unique_identifier: r3-yamauchi/gemini_file_search:0.0.1@a9cf50b020b00b20f3b3f462d697f797517551d5d8bb8bf7ef078847080cabeb
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=7c8ea1f1-d371-448a-846c-af9a868d7d0f&filename=3f9d718ced2ecb925cbe752d6311f3966405463315b8e898110f0a8cca969899.svg
        provider_id: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_name: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 指定されたストアの要約
        tool_configurations: {}
        tool_description: Geminiの RAG機能を使用して、ファイル検索ストア内のインデックス化されたドキュメント全体でセマンティック検索を実行します
        tool_label: ファイル検索ストアを指定して検索
        tool_name: search
        tool_node_version: '2'
        tool_parameters:
          file_search_store_name:
            type: mixed
            value: '{{#1761291739140.gemini_store_id#}}'
          include_citations:
            type: constant
            value: null
          metadata_filter:
            type: mixed
            value: ''
          model:
            type: mixed
            value: gemini-2.5-flash-preview
          query:
            type: mixed
            value: "ユーザーの質問: \n{{#1770869430347.text#}}\n\n【AIの推論ログ（検索のヒント）】\n{{#conversation.intent_analysis_thinking#}}\n\
              \n【指定されたストア内のファイル一覧】\n{{#1771573783623.text#}} （※実際のファイル一覧出力変数を指定してください）\n\
              \n【過去の検索結果 (Previous Knowledge)】\n{{#conversation.requires_rag#}}\n\n\
              上記の「ユーザーの質問」「AIの推論ログ」「指定されたストア内のファイル一覧」および「過去の検索結果」を踏まえ、このストア内のファイルがどのように役立つかを判断するため、以下の2つの観点で分析・出力してください。\n\
              \n⚠️【重要: 差分抽出の徹底】\n「過去の検索結果 (Previous Knowledge)」に既に記載されている内容（同じ事実や定義など）は、今回の抽出結果から完全に除外してください。過去の知識にはなく、今回の回答で「新たに必要となる情報（差分）」だけを狙って抽出・要約してください。\n\
              \n1. **【質問との関連性（簡易検索・差分抽出）】**\n   推論ログで指摘された意図やキーワードに最も関連し、かつ「過去の検索結果」にはまだ存在しない新しい情報を持つファイルを探してください。\n\
              \   ※比較や横断的な調査が求められている場合は、関連する「複数」のファイルをピックアップし、それぞれの「ファイル名」と「関連する記述の抜粋」を挙げてください。もし質問が抽象的な場合は、推論ログを参考に中心となりそうなファイルを推測してください。\n\
              \n2. **【ファイル構成の要約】**\n   コンテキスト全体を把握するため、全てのファイルをリストアップし、それぞれの内容を1文で要約してください。（※ここでも既に知っている情報の反復は避け、今回の文脈においてどう役立つかを中心に要約してください）\n\
              \n---\n【出力形式】\n### \U0001F3AF 質問との関連（ヒットした情報）\n※関連するファイルが複数ある場合は、以下のようにファイルごとに列挙してください。（新規情報がない場合は「新規情報なし」と記載）\n\
              \n- **関連ファイル1**: [ファイル名]（資料タイトル・大見出し）\n  - **関連キーワード/記述**: [抜粋や要約]\n\
              \  - **推奨アクション**: [「〇〇との比較に用いる」など]\n- **関連ファイル2**: [ファイル名]（資料タイトル・大見出し）\n\
              \  - **関連キーワード/記述**: [抜粋や要約]\n  - **推奨アクション**: [「〇〇との比較に用いる」など]\n\n\
              ### \U0001F4C2 ストア内ファイル一覧（全体像）\n- ファイル1: [ファイル名]\n  タイトル: [資料から抽出されるタイトル・テーマ]\n\
              \  概要: [要約]\n- ファイル2: [ファイル名]\n  タイトル: [資料から抽出されるタイトル・テーマ]\n  概要: [要約]\n\
              ...\n全体テーマ: [1文]"
        type: tool
      height: 82
      id: '1771391749204'
      position:
        x: 5290
        y: 535
      positionAbsolute:
        x: 5290
        y: 535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: 4f25aea0-7407-404f-bc0f-f90215ebd5b7
          role: system
          text: "# Role\nあなたは、社内ドキュメントの検索戦略を立案する「シニア・リサーチ・ストラテジスト」です。\n提供された「ストア内ファイルの要約情報」を読み解き、ユーザーの質問に対する最適な検索クエリ（rag_search_query）を生成し、どのような方針で検索を行うか（thinking）を宣言してください。\n\
            \n# Guidelines\n\n## 1. Query Optimization (RAG向けクエリ最適化)\n- RAG（ベクトル検索）エンジンは、単語の羅列よりも「自然言語の完全な文」の方が精度が高くなります。\n\
            - ストア要約（store_summary）の中に、質問に関連しそうな「具体的なファイル名」や「専門用語」があれば、それを積極的にクエリに組み込んでください。\n\
            \  - 悪い例: 「旅費 規定」\n  - 良い例: 「『旅費・経費精算規程_2024.pdf』に基づいて、新幹線のグリーン車利用に関する規定を教えてください。」\n\
            - **【文脈の補完（Contextual Resolution）】**: ユーザーの入力が「それ」「先ほどの」といった代名詞を含んでいる場合や、主語が省略されている深掘り質問の場合は、自動付与される会話履歴（Memory）を参照して意図を汲み取り、RAGエンジンが単独で理解できる「完全な文脈を持った検索クエリ」へと再構築してください。\n\
            \n## 2. Output Requirements (フィールドの生成ルール)\n- **internal_log**: 推論の根拠を技術的な日本語で記述。\n\
            - **thinking**: \n  - **Concept**: 信頼できる同僚として、思考の結果（リサーチ計画）を報告するスタイル。\n\
            \  - **ファイル名の明示 (重要)**: ストア要約から特定した「具体的なファイル名（複数可）」を自然な文脈で必ず含めてください。\n\
            \  - **User-Facing Constraints (メタ発言の禁止)**: \n    - ユーザーには「あなたが裏側で要約データを読んでいること」は見えていません。「要約によると〜」「要約情報をもとに〜」「示唆されている〜」といった、**システムの内部処理を明かす発言は絶対に禁止**します。\n\
            \    - まるで自分がそのファイル群の存在を最初から把握しているかのように振る舞い、「〇〇の質問に対して、△△のファイルを調べる」というアクションだけを伝えてください。\n\
            \  - **出力バリエーション（ワンパターン防止）**: 以下の例を参考に、質問の内容や特定したファイル数に合わせて、表現を柔軟に変えてください。機械的なテンプレート回答にならないよう注意してください。\n\
            \    - *例1（単一ファイル確実）*: 「〇〇の規定について、『就業規則_2024改訂版.pdf』に該当の記載がある可能性が高いため、こちらの詳細を確認します。」\n\
            \    - *例2（複数ファイルの横断）*: 「〇〇の申請手順と必要なフォームについて、『経費精算ガイドライン.docx』および『各種申請書フォーマット集.xlsx』の両方から情報を抽出してまとめます。」\n\
            \    - *例3（推論を含む探索）*: 「〇〇に関する具体的な事例について、『過去プロジェクト_ナレッジ集.pptx』の中に類似のケースが含まれていると推測されるため、ここを重点的に調査してみます。」\n\
            \  - **禁止事項**: ユーザー名への呼びかけや、「こんにちは」等の挨拶は禁止。\n\n# Output Format\n必ずJSON形式で出力してください。Markdownコードブロックは不要です。"
        - id: 276801ae-a5aa-4da2-a08a-d34103694b53
          role: user
          text: '# Input Data


            ## 1. User Query

            {{#sys.query#}}


            ## 2. ストア内ファイルの要約情報 (Context)

            {{#1771391749204.text#}}

            ※この情報を手がかりにして、最適な rag_search_query を生成してください。


            ###.ストア内ファイル一覧

            {{#1771573783623.text#}}

            ※この情報をさらに手がかりにして、最適な rag_search_query を生成してください。


            ## 3. Previous AI Output (Context)

            {{#conversation.intent_analysis_thinking#}}

            ※直前のインテント分析ノードで生成されたAIの発言です。ここから自然に続くように `thinking` を構成してください。ただし、重複したトピック・表現・言い回しは厳禁です。


            ## 4. Conversation History (Context)

            ※システムによって自動付与される直近の会話履歴（Memory）を必ず確認し、ユーザーが「何について」追加質問しているのか文脈を補完した上で、最適な
            rag_search_query を生成してください。


            ## 5. 過去の検索結果 (Previous Knowledge)

            {{#conversation.context_rag#}}

            ※【重要: 差分検索の徹底】これは現在の会話セッションで既に検索・抽出済みのナレッジリストです。

            ユーザーの Query に対して、このリスト内に「既に答えとして使える情報」が存在するか確認してください。

            同じ内容を再度検索するクエリは絶対に生成せず、ユーザーの目的を満たすために「現在欠落している情報（Missing Information）」のみをピンポイントで狙い撃ちする
            `rag_search_query` を生成してください。

            （※既に十分な情報が揃っており追加検索が不要な場合は、クエリを空文字 `""` にしてください。）'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              internal_log:
                description: 【開発者用ログ】ストアの要約情報とユーザーの質問を比較し、どのようなキーワードで検索するのが最適か、その推論プロセスを記述する。
                type: string
              rag_search_query:
                description: RAG検索に使用する最適化された検索クエリ。単なる単語の羅列ではなく、ストア要約内の専門用語を用いた『完全な自然言語の質問文』にすること。
                type: string
              thinking:
                description: ユーザーへの調査方針の報告。『方針がまとまりました。〇〇について社内ドキュメントを検索します』といった報告用フレーズから始めること。挨拶は禁止。
                type: string
            required:
            - internal_log
            - thinking
            - rag_search_query
            type: object
        structured_output_enabled: true
        title: LLM_RAG_Strategy
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17715726019570'
      position:
        x: 5632
        y: 517
      positionAbsolute:
        x: 5632
        y: 517
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: File search store resource name (e.g., fileSearchStores/abc123)
            ja_JP: 'ファイル検索ストアのリソース名（例: fileSearchStores/abc123）'
            pt_BR: File search store resource name (e.g., fileSearchStores/abc123)
            zh_Hans: 文件搜索存储资源名称（例如：fileSearchStores/abc123）
          label:
            en_US: Store Name
            ja_JP: ストア名
            pt_BR: Store Name
            zh_Hans: 存储名称
          llm_description: File search store containing the documents
          max: null
          min: null
          name: file_search_store_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional page size (1-100). Defaults to the API setting.
            ja_JP: オプションのページサイズ（1〜100）。未設定時はAPIデフォルト。
            pt_BR: Optional page size (1-100). Defaults to the API setting.
            zh_Hans: 可选页面大小（1-100）。未设置时使用API默认。
          label:
            en_US: Page Size
            ja_JP: ページサイズ
            pt_BR: Page Size
            zh_Hans: 页面大小
          llm_description: Optional page size limit (max 100)
          max: null
          min: null
          name: page_size
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Provide the token from a previous response to fetch the next page
            ja_JP: 前回レスポンスで受け取ったトークンを指定すると次ページを取得できます
            pt_BR: Provide the token from a previous response to fetch the next page
            zh_Hans: 提供上一次响应中的令牌以获取下一页
          label:
            en_US: Page Token
            ja_JP: ページトークン
            pt_BR: Page Token
            zh_Hans: 页面令牌
          llm_description: Page token for pagination
          max: null
          min: null
          name: page_token
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          file_search_store_name: ''
          page_size: ''
          page_token: ''
        plugin_id: r3-yamauchi/gemini_file_search
        plugin_unique_identifier: r3-yamauchi/gemini_file_search:0.0.1@a9cf50b020b00b20f3b3f462d697f797517551d5d8bb8bf7ef078847080cabeb
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=7c8ea1f1-d371-448a-846c-af9a868d7d0f&filename=3f9d718ced2ecb925cbe752d6311f3966405463315b8e898110f0a8cca969899.svg
        provider_id: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_name: r3-yamauchi/gemini_file_search/gemini_file_search
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: ストア内のファイル一覧
        tool_configurations: {}
        tool_description: 現在のGeminiファイル検索ストアにインデックスされているドキュメントを一覧表示します
        tool_label: ストア内のファイル一覧
        tool_name: list_files
        tool_node_version: '2'
        tool_parameters:
          file_search_store_name:
            type: mixed
            value: '{{#1761291739140.gemini_store_id#}}'
          page_size:
            type: constant
            value: null
          page_token:
            type: mixed
            value: null
        type: tool
      height: 82
      id: '1771573783623'
      position:
        x: 4948
        y: 535
      positionAbsolute:
        x: 4948
        y: 535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: 28025127-476e-4010-9797-1950d26b1ef1
          role: system
          text: "# Role\nあなたは「社内AIチャットボット」の意思決定中枢である「Hybrid Intent Analyst」です。\n現在のセッションにおいて、社内ドキュメント検索（RAG）と外部Web検索の両方が有効化されています。提供されたスキーマに従い、ユーザーの質問を分析して最適な情報探索経路（ルーティング信号）を判断・出力してください。\n\
            \n# Classification Rules\n\n## 1. Category Determination (最重要ルール)\nユーザーの入力内容に基づいて、以下の基準で必ずどちらかに分類してください。\n\
            - **\"TASK\"**: 業務に関する質問、社内規定の確認、最新情報の調査、これまでの会話の深掘りなど。※検索が必要か不要かにかかわらず、質問や業務の文脈であれば必ず\
            \ \"TASK\" に分類してください。\n- **\"CHAT\"**: 「こんにちは」「ありがとう」「お疲れ様」など、業務や調査に一切関係のない純粋な挨拶や日常の雑談のみ。\n\
            \n## 2. RAG Requirement Check (社内情報へのアクセス)\n入力データと `Conversation History`\
            \ (および過去の `context_rag`) を確認し、以下のルールでドキュメント検索の要否を判断してください。\n- **【Trueにする場合】**:\
            \ 会話履歴に情報がなく、ユーザーの質問に答えるために「社内規定」「業務マニュアル」「社内プロジェクト」などの内部情報の確認が必要な場合。または、ユーザーが明示的に「社内資料から探して」と求めた場合。\n\
            - **【Falseにする場合】**: 直前の会話履歴や既存の `context_rag` の中に、ユーザーの質問に対する「明確な答え」が既に含まれている場合（検索し直さなくても文脈から回答できる深掘り質問など）。または、外部の一般情報のみで完結する場合。\n\
            \n## 3. Web Requirement Check (外部最新情報へのアクセス)\n入力データと `Conversation History`\
            \ を確認し、以下のルールでWeb検索の要否を判断してください。\n- **【Trueにする場合】**: 会話履歴に情報がなく、かつ外部の「最新情報（ニュース、株価、最新の技術動向、リリース日など）」が必要な場合。または、ユーザーが明示的に「Webで調べて」と求めた場合。\n\
            - **【Falseにする場合】**: 直前の会話履歴の中に明確な答えが含まれている場合。または、AIの学習済み知識（一般常識、プログラミングの基本概念、歴史的事実など）で即答可能であり、最新情報を引く必要がない場合。社内情報のみで完結する場合。\n\
            \n## 4. Hybrid Activation (両方 True)\n以下のような「内と外の情報が交差する問い」に対しては、迷わず両方のフラグを\
            \ `true` に設定してください。\n- 「社内の規定（RAG）と、一般的な法律・Webの最新基準（Web）を比較したい」\n- 「社内のこのプロジェクト（RAG）に、最新の外部技術（Web）をどう適用すべきか」\n\
            \n# Field Generation Guidelines (フィールド生成の指針)\n\n1. **internal_log**:\n\
            \   - 推論の根拠を技術的な「日本語」で論理的に記述してください。\n   - 記載例: \"ユーザーは社内インフラへの最新AIツールの導入について質問している。社内セキュリティ基準（RAG）と最新のAIツール動向（Web）の両方の照合が必要なため、requires_ragとrequires_webを共にtrueに設定。\"\
            \n\n2. **category**:\n   - 上記ルールに基づき `\"TASK\"` または `\"CHAT\"` を選択。\n\n\
            3. **thinking (macOS Sequoia 'Writing Tools' Style)**:\n   - ユーザーに提示するアクション宣言です。メタな発言は避け、洗練された簡潔な表現にしてください。\n\
            \   - **【初回会話（Conversation Historyが空）の場合】**:\n     - `User Profile` からユーザーの名前（または役職）を抽出し、積極的に呼びかけてください。\n\
            \     - 時間帯（05:00-10:59「おはようございます」、11:00-16:59「こんにちは」、17:00-「お疲れ様です」）に合わせた挨拶を添え、その後にアクションを宣言してください。\n\
            \   - **【2回目以降（継続した会話）の場合】**:\n     - **挨拶や名前の呼びかけは一切省略**し、0秒でアクションのみを宣言してください。くどさを排除します。\n\
            \   - **アクション宣言の例**:\n     - Hybrid: 「社内ナレッジと最新の外部情報を統合して分析を開始しますね✨」\n\
            \     - RAGのみ: 「社内の最新ドキュメントから該当箇所を確認しています...」\n     - Webのみ: 「最新の〇〇について外部リソースを調査します\U0001F50D\
            」\n     - TASKだが検索不要 (False, False): 必ず空文字 `\"\"` を出力してください。\n     - CHAT:\
            \ 必ず空文字 `\"\"` を出力してください。\n\n4. **search_query**:\n   - `requires_web:\
            \ true` の場合、Web検索エンジン（Perplexity等）に投げるための純粋な最適化キーワード（自然言語ではなく、検索ヒット率の高い単語の羅列）を生成してください。\n\
            \   - それ以外（RAGのみ、検索不要、CHAT）の場合は、必ず空文字 `\"\"` を出力してください。\n\n5. **session_title**:\n\
            \   - **【初回会話（Conversation Historyが空）の場合】**: ユーザーの質問の核心を突く、短く洗練されたタイトル（最大15文字程度）を生成してください。\n\
            \     - ⭕️ 良い例：「出張旅費の規定確認」「SaaS導入フローの調査」\n     - ❌ 悪い例：「出張旅費について教えてください」「〜に関する質問」などの冗長な表現。\n\
            \   - **【2回目以降（継続した会話）の場合】**: 既にタイトルは設定されているため、**必ず空文字 `\"\"` を出力**してください。"
        - id: d1e02510-7f36-455b-8f3f-3e8d2b44f18c
          role: user
          text: '以下のコンテキスト情報と、ユーザーの入力を基に分析を実行してください。


            ### [Context Information]

            - **社内ナレッジ概要 (context_rag):** {{#conversation.context_rag#}}


            - **Web検索設定 (context_web):** {{#conversation.context_web#}}


            ### [Conversation History]

            ※Difyのメモリ機能により自動付与される会話履歴を参照し、文脈を判断してください。


            ### [Current User Query]

            {{#sys.query#}}


            ---

            上記の情報を踏まえ、指定されたJSONスキーマに従い、社内情報と外部情報のどちら（あるいは両方）が必要かを判断して出力してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              category:
                description: 一般的な挨拶や雑談ならCHAT、具体的な情報検索や比較、分析を伴う要求ならTASK
                enum:
                - CHAT
                - TASK
                type: string
              internal_log:
                description: Inspector Panel表示用：なぜRAGまたはWebが必要か、または不要と判断したかの技術的な推論プロセス
                type: string
              requires_rag:
                description: 社内ドキュメント(RAG)へのアクセスが必要か（context_ragの内容と照らして判断）
                type: string
              requires_web:
                description: 外部Web情報へのアクセスが必要か（context_webの有効性と照らして判断）
                type: string
              search_query:
                description: Web検索が必要な場合の最適化された検索キーワード（不要なら空文字）
                type: string
              session_title:
                description: 【初回のみ】ユーザーの質問内容を表す短いスレッド名（例：『React 19の変更点調査』）。継続した会話（2回目以降）では必ず空文字を設定すること。
                type: string
              thinking:
                description: ユーザーに提示するアクション宣言（例：『社内規定と最新のWeb情報を照らし合わせて確認しますね✨』）
                type: string
            required:
            - internal_log
            - category
            - thinking
            - requires_web
            - requires_rag
            - search_query
            - session_title
            type: object
        structured_output_enabled: true
        title: LLM_Intent_Analysis_Hybrid
        type: llm
        vision:
          enabled: false
      height: 118
      id: '1771914142140'
      position:
        x: 3178
        y: 454
      positionAbsolute:
        x: 3178
        y: 454
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17708716964770'
          - structured_output
          - internal_log
          variable_selector:
          - conversation
          - intent_analysis_log
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17708716964770'
          - structured_output
          - thinking
          variable_selector:
          - conversation
          - intent_analysis_thinking
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17708716964770'
          - structured_output
          - requires_rag
          variable_selector:
          - conversation
          - requires_rag
          write_mode: over-write
        selected: false
        title: 変数代入 6
        type: assigner
        version: '2'
      height: 136
      id: '1771915112684'
      position:
        x: 3520
        y: 0
      positionAbsolute:
        x: 3520
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17683770269110'
          - structured_output
          - internal_log
          variable_selector:
          - conversation
          - intent_analysis_log
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17683770269110'
          - structured_output
          - thinking
          variable_selector:
          - conversation
          - intent_analysis_thinking
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17683770269110'
          - structured_output
          - requires_web
          variable_selector:
          - conversation
          - requires_web
          write_mode: over-write
        selected: false
        title: 変数代入 7
        type: assigner
        version: '2'
      height: 136
      id: '1771915148504'
      position:
        x: 3520
        y: 216
      positionAbsolute:
        x: 3520
        y: 216
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1771914142140'
          - structured_output
          - internal_log
          variable_selector:
          - conversation
          - intent_analysis_log
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1771914142140'
          - structured_output
          - thinking
          variable_selector:
          - conversation
          - intent_analysis_thinking
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1771914142140'
          - structured_output
          - requires_web
          variable_selector:
          - conversation
          - requires_web
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1771914142140'
          - structured_output
          - requires_rag
          variable_selector:
          - conversation
          - requires_rag
          write_mode: over-write
        selected: false
        title: 変数代入 8
        type: assigner
        version: '2'
      height: 162
      id: '1771915161869'
      position:
        x: 3520
        y: 432
      positionAbsolute:
        x: 3520
        y: 432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 25bdb91c-1935-4488-9e51-574942ff9f1e
            value: 'true'
            varType: string
            variable_selector:
            - env
            - Dev
          id: 'true'
          logical_operator: and
        selected: false
        title: IS DEV?
        type: if-else
      height: 124
      id: '1771998847270'
      position:
        x: 7040
        y: 711
      positionAbsolute:
        x: 7040
        y: 711
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-flash-lite-latest
          provider: langgenius/gemini/google
        prompt_template:
        - id: 4f25aea0-7407-404f-bc0f-f90215ebd5b7
          role: system
          text: "# Role\nあなたは、ユーザーの質問に対して最適なWeb検索戦略を立案する「シニア・リサーチ・ストラテジスト」です。\n検索クエリの最適化、情報源の選定を行い、ユーザーに対して「どのような方針で調査を行うか」を宣言してください。\n\
            \n# Decision Logic & Guidelines (Criteria)\n\n## 1. Search Mode Selection\n\
            現在のフェーズでは、システム制約により検索モードは**常に「fast」を選択**してください。\n- **fast**: 単一の深い検索を実行し、回答速度と詳細さを両立させます。\n\
            \n## 2. Model Selection\nコスト最適化フェーズのため、クエリの性質に関わらず**常に「sonar」を選択**してください。\n\
            \n## 3. Query Optimization\n検索エンジン（Perplexity）に投げるクエリを最適化します。\n- **query_main**:\
            \ 検索意図を明確にしたメインクエリ。\n- **query_alt**: 視点を変えた代替クエリ（英語での検索が有効なら英語を含める）。fastモードでは使用されない場合もありますが、予備として生成してください。\n\
            \n## 4. Domain Filtering (Target Domains)\n情報の信頼性を担保するため、必要に応じて検索対象ドメインを絞り込みますが、以下のルールを厳守してください。\n\
            \n⚠️**【重要: ドメイン絞り込みの禁止事項（リアルタイム情報）】**\n天気予報、株価、最新の一般ニュース、トレンドなど、即時性や網羅性が求められるリアルタイム情報を検索する場合は、**原則としてドメインの絞り込みを行わず、空の配列\
            \ `[]` に設定**し、検索エンジン独自の最適化アルゴリズムに任せてください。\n無闇に官公庁（`go.jp`）などに絞り込むと、生のデータファイル（JSON等）や古い情報がヒットしてしまい、検索精度が著しく低下する原因になります。\n\
            \n- **絞り込みが有効な場合（最大3つまで）**:\n  特定の技術仕様、法律、社内規定の外部参照、学術論文など、ドメインを限定した方がノイズが減る場合にのみ、以下のカテゴリから厳選してください。\n\
            \  - **Official/Trusted**: `go.jp`, `ac.jp`, 関連する公的機関, 上場企業公式サイト。\n  -\
            \ **News**: `reuters.com`, `bloomberg.co.jp`, `nikkei.com`, `nhk.or.jp`\
            \ (※特定の公式な経済・報道を狙う場合のみ)。\n  - **Tech**: `qiita.com`, `zenn.dev`, `stackoverflow.com`,\
            \ 特定技術の公式ドキュメント。\n\n# Structured Output Generation Rules\n構造化出力の各フィールドには、以下のルールを厳格に適用してください。\n\
            \n1. **internal_log** (裏側の論理・デバッグ用):\n   - ドメイン選定（または絞り込まなかった理由）の根拠やクエリ最適化の意図を技術的な日本語で記述。\n\
            2. **reasoning** (ユーザーへの表示用・演出):\n   - **Concept**: 信頼できる同僚エンジニアとして、思考の結果（リサーチ計画）を報告するスタイルです。\n\
            \   - **冒頭フレーズ**: 書き出しは必ず「方針がまとまりました。」「戦略を報告します。」「以下のプランで調査を進めます。」「調査方針を策定しました。」のいずれかから始めてください。\n\
            \   - **禁止事項**: ユーザー名への呼びかけや挨拶は禁止。\n3. **search_mode**: 常に \"fast\" に設定。\n\
            4. **selected_model**: 常に \"sonar\" に設定。"
        - id: 276801ae-a5aa-4da2-a08a-d34103694b53
          role: user
          text: '# Input Data

            ## User Query

            {{#1770869430347.text#}}


            ## Current Time

            {{#1761291739140.current_time#}}


            ## User Profile (Character & Tone)

            {{#1761291739140.system_prompt#}}


            ## Previous AI Output (Context)

            {{#conversation.intent_analysis_thinking#}}

            ※直前のノードで生成されたJSON中の `thinking` フィールドです。この発言内容を踏まえ、そこから自然に続くように発言を構成してください。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              internal_log:
                description: ドメイン選定の根拠やクエリ最適化の意図を技術的な日本語で記述
                type: string
              query_alt:
                description: 視点を変えた代替クエリ
                type: string
              query_main:
                description: 検索意図を明確にしたメインクエリ
                type: string
              reasoning:
                description: ユーザーへの調査方針の報告（挨拶なし、指定の報告用フレーズから開始）
                type: string
              recency:
                description: 情報の鮮度指定（指定がない場合は 'any' を出力）
                enum:
                - day
                - week
                - month
                - year
                - any
                type: string
              search_mode:
                description: 検索モード（常に 'fast'）
                enum:
                - fast
                type: string
              selected_model:
                description: 使用するモデル（常に 'sonar'）
                enum:
                - sonar
                type: string
              target_domains:
                description: 検索対象のドメイン（最大3つ）
                items:
                  type: string
                maxItems: 3
                type: array
            required:
            - internal_log
            - reasoning
            - search_mode
            - selected_model
            - query_main
            - query_alt
            - recency
            - target_domains
            type: object
        structured_output_enabled: true
        title: LLM_Search_Strategy
        type: llm
        vision:
          enabled: false
      height: 118
      id: '17719989311170'
      position:
        x: 7402
        y: 924
      positionAbsolute:
        x: 7402
        y: 924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(**kwargs):\n    # Difyから型付きで直接変数を受け取る\n   \
          \ query_main = kwargs.get(\"query_main\", \"\")\n    target_domains = kwargs.get(\"\
          target_domains\", [])\n    recency = kwargs.get(\"recency\", \"\")\n   \
          \ selected_model = kwargs.get(\"selected_model\", \"sonar\")\n    reasoning\
          \ = kwargs.get(\"reasoning\", \"\")\n    internal_log = kwargs.get(\"internal_log\"\
          , \"\")\n\n    # --- ONE-SHOT DEEP システムプロンプト ---\n    system_prompt = \"\
          \"\"\n    You are a comprehensive research engine designed for deep analysis.\n\
          \    Your goal is to provide EXHAUSTIVE and DETAILED information based on\
          \ a single search query.\n    \n    Guidelines:\n    1. **Detail**: Do not\
          \ summarize. Provide full context, background, and specific details.\n \
          \   2. **Length**: Write long, comprehensive paragraphs. Maximize the information\
          \ density.\n    3. **Completeness**: If there are multiple viewpoints or\
          \ theories, list ALL of them.\n    4. **Format**: Use structured formatting\
          \ (Headers, Lists) but keep the content verbose.\n    5. **Citations**:\
          \ STRICTLY include inline citations (e.g., [1], [2]) for every fact in the\
          \ text.\n    6. **Source Titles**: At the end of your output, you MUST include\
          \ a \"## 参考情報\" section that lists each cited source with its exact TITLE\
          \ and URL.\n    \"\"\"\n\n    try:\n        # 1. ドメイン絞り込み文字列の構築\n      \
          \  site_operator_str = \"\"\n        if target_domains and isinstance(target_domains,\
          \ list):\n            site_operator_str = \" (\" + \" OR \".join([f\"site:{d}\"\
          \ for d in target_domains]) + \")\"\n\n        # 2. 鮮度指定の調整\n        if\
          \ recency == \"any\":\n            recency = \"\"\n\n        # 3. 基本ペイロードの構築\n\
          \        # return_citations は現在API側で自動有効化されますが、互換性のために残します\n        base_payload\
          \ = {\n            \"model\": selected_model,\n            \"temperature\"\
          : 0.4,\n            \"max_tokens\": 4096,\n            \"return_citations\"\
          : True\n        }\n        \n        # API仕様に合わせたオプションパラメータの追加\n       \
          \ if recency:\n            base_payload[\"search_recency_filter\"] = recency\n\
          \        if target_domains:\n            base_payload[\"search_domain_filter\"\
          ] = target_domains\n\n        # 4. メインクエリと指示の結合\n        locked_query =\
          \ f\"{query_main}{site_operator_str}\\n\\nExplain this topic in extreme\
          \ detail.\"\n        \n        base_payload[\"messages\"] = [\n        \
          \    {\"role\": \"system\", \"content\": system_prompt},\n            {\"\
          role\": \"user\", \"content\": locked_query}\n        ]\n        \n    \
          \    # HTTPノードに渡すためのJSON文字列としてダンプ\n        payload_str = json.dumps(base_payload,\
          \ ensure_ascii=False)\n\n        return {\n            \"payload\": payload_str,\n\
          \            \"reasoning\": reasoning,\n            \"internal_log\": internal_log\n\
          \        }\n        \n    except Exception as e:\n        fallback_payload\
          \ = json.dumps({\n            \"model\": \"sonar\",\n            \"messages\"\
          : [{\"role\": \"user\", \"content\": str(query_main)}],\n            \"\
          return_citations\": True\n        })\n        return {\n            \"payload\"\
          : fallback_payload,\n            \"reasoning\": \"検索リクエストの構築中にエラーが発生したため、標準設定で検索を実行します。\"\
          ,\n            \"internal_log\": f\"Payload Build Error: {str(e)}\"\n  \
          \      }"
        code_language: python3
        outputs:
          internal_log:
            children: null
            type: string
          payload:
            children: null
            type: string
          reasoning:
            children: null
            type: string
        selected: false
        title: Fast_Build_Search_Payload_List (2)
        type: code
        variables:
        - value_selector:
          - '17719989311170'
          - structured_output
          - query_main
          value_type: object
          variable: query_main
        - value_selector:
          - '17719989311170'
          - structured_output
          - target_domains
          value_type: object
          variable: target_domains
        - value_selector:
          - '17719989311170'
          - structured_output
          - recency
          value_type: object
          variable: recency
        - value_selector:
          - '17719989311170'
          - structured_output
          - selected_model
          value_type: object
          variable: selected_model
        - value_selector:
          - '17719989311170'
          - structured_output
          - reasoning
          value_type: object
          variable: reasoning
        - value_selector:
          - '17719989311170'
          - structured_output
          - internal_log
          value_type: object
          variable: internal_log
      height: 52
      id: '17719994416790'
      position:
        x: 7744
        y: 957
      positionAbsolute:
        x: 7744
        y: 957
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: '{{#env.PerplexityApiKey#}}'
            type: bearer
          type: api-key
        body:
          data:
          - id: key-value-318
            key: ''
            type: text
            value: '{{#17719994416790.payload#}}'
          type: raw-text
        headers: Content-Type:application/json
        isInIteration: true
        isInLoop: false
        iteration_id: '1769668260271'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP_TOOL_Perplexity_Search
        type: http-request
        url: https://api.perplexity.ai/v2/chat/completions
        variables: []
      height: 138
      id: '17719995520230'
      position:
        x: 8107
        y: 1126.9999999999998
      positionAbsolute:
        x: 8107
        y: 1126.9999999999998
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        items:
        - input_type: variable
          operation: append
          value:
          - '17719995520230'
          - body
          variable_selector:
          - conversation
          - context_web
          write_mode: over-write
        selected: false
        title: SET_Web_Context (3)
        type: assigner
        version: '2'
      height: 84
      id: '17719995621490'
      position:
        x: 9376
        y: 1153
      positionAbsolute:
        x: 9376
        y: 1153
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1683.1417863962347
      y: 118.33042671269563
      zoom: 1.056516907075022
  rag_pipeline_variables: []
